Fluxo — Navegadora Claude (3).json
{
  "name": "Fluxo — Navegadora Claude",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "883d1486-4271-4630-b200-0a29239cf201",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -912,
        -80
      ],
      "webhookId": "evolution-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza o payload da Evolution API\n// Eventos relevantes: 'messages.upsert'\n// Ignora grupos, ignora mensagens sem texto, extrai campos principais\n\nconst body = items[0].json.body || items[0].json;\nconst event = body.event;\n\n// So processamos messages.upsert\nif (event !== 'messages.upsert') {\n  return [{ json: { skip: true, reason: 'evento_nao_relevante', event } }];\n}\n\nconst data = body.data || {};\nconst key = data.key || {};\nconst remoteJid = key.remoteJid || '';\nconst fromMe = !!key.fromMe;\nconst msgId = key.id;\n\n// Ignora grupos (terminam em @g.us)\nif (remoteJid.endsWith('@g.us')) {\n  return [{ json: { skip: true, reason: 'mensagem_de_grupo' } }];\n}\n\n// Numero limpo (tira @s.whatsapp.net)\nconst number = remoteJid.replace('@s.whatsapp.net', '').replace('@c.us', '');\nif (!number) {\n  return [{ json: { skip: true, reason: 'sem_numero' } }];\n}\n\n// Extrai texto da mensagem (cobrindo varios formatos)\nconst msg = data.message || {};\nlet content =\n  msg.conversation ||\n  (msg.extendedTextMessage && msg.extendedTextMessage.text) ||\n  (msg.imageMessage && msg.imageMessage.caption) ||\n  (msg.videoMessage && msg.videoMessage.caption) ||\n  (msg.documentMessage && msg.documentMessage.caption) ||\n  '';\n\n// Marca tipo de midia pra dar contexto quando nao houver texto\nif (!content) {\n  if (msg.imageMessage) content = '[IMAGEM enviada pelo mentorado]';\n  else if (msg.videoMessage) content = '[VIDEO enviado pelo mentorado]';\n  else if (msg.audioMessage) content = '[AUDIO enviado pelo mentorado]';\n  else if (msg.documentMessage) content = '[DOCUMENTO enviado pelo mentorado]';\n  else if (msg.stickerMessage) content = '[FIGURINHA enviada pelo mentorado]';\n  else return [{ json: { skip: true, reason: 'mensagem_sem_conteudo' } }];\n}\n\nconst pushName = data.pushName || null;\n\nreturn [{\n  json: {\n    skip: false,\n    direction: fromMe ? 'outgoing' : 'incoming',\n    whatsapp_number: number,\n    contact_name: pushName,\n    content,\n    evolution_msg_id: msgId,\n    raw_event: event\n  }\n}];"
      },
      "id": "68dd683d-e160-4e4c-8e7a-47385f213d5b",
      "name": "Normalizar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "04e094d4-8c63-453d-a377-7dcc8d7cb6b8",
      "name": "Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "direction-check",
              "leftValue": "={{ $json.direction }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2c89b125-5f00-4a73-bc21-d44d7042a7b8",
      "name": "Incoming ou Outgoing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -176,
        64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT upsert_contact($1, $2) AS contact_id;",
        "options": {
          "queryReplacement": "={{ $json.whatsapp_number }},={{ $json.contact_name }}"
        }
      },
      "id": "6f403eed-d069-4407-aa64-32ae9d4ce356",
      "name": "Upsert Contato",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        80,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (contact_id, whatsapp_number, contact_name, direction, content, evolution_msg_id, status)\nVALUES ($1, $2, $3, 'incoming', $4, $5, 'unread')\nON CONFLICT (evolution_msg_id) DO NOTHING\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.contact_id }},={{ $('Normalizar Payload').item.json.whatsapp_number }},={{ $('Normalizar Payload').item.json.contact_name }},={{ $('Normalizar Payload').item.json.content }},={{ $('Normalizar Payload').item.json.evolution_msg_id }}"
        }
      },
      "id": "2c23ad21-97cb-4f36-b4c0-b2190d0dde65",
      "name": "Inserir Mensagem Incoming",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        336,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT mark_conversation_as_read($1) AS mensagens_marcadas_lidas;",
        "options": {
          "queryReplacement": "={{ $json.whatsapp_number }}"
        }
      },
      "id": "aeccedd1-1954-4402-add6-b3da56fc2cd4",
      "name": "Marcar Conversa como Lida",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        192,
        192
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      },
      "id": "58141314-1be6-4e96-9c88-22ea3d4e4653",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        576,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, skipped: true, reason: $json.reason } }}",
        "options": {}
      },
      "id": "013b64dc-5e7e-4f3c-ac71-d99437bb9b3c",
      "name": "Responder Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -160,
        -192
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 1-5"
            }
          ]
        }
      },
      "id": "8fe74be7-0ea5-4aff-b339-cf4a2b72c20a",
      "name": "Agendamento (seg-sex 18h BRT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_daily_stats(CURRENT_DATE);",
        "options": {}
      },
      "id": "da2770db-7bbf-4e32-b678-0f13a9e5f111",
      "name": "Buscar Stats do Dia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -672,
        352
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Monta a mensagem do relatorio diario pro Slack\nconst d = items[0].json;\n\nconst hoje = new Date().toLocaleDateString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit', month: '2-digit', year: 'numeric',\n  weekday: 'long'\n});\n\n// Helpers\nfunction fmtMin(valor) {\n  if (valor === null || valor === undefined) return '-';\n  const n = Number(valor);\n  if (isNaN(n)) return '-';\n  if (n < 60) return n.toFixed(1) + ' min';\n  const h = Math.floor(n / 60);\n  const m = Math.round(n % 60);\n  return h + 'h ' + m + 'min';\n}\n\nconst total       = Number(d.total_mensagens || 0);\nconst mentorados  = Number(d.mentorados_unicos || 0);\nconst respondidas = Number(d.mensagens_respondidas || 0);\nconst pendentes   = Number(d.mensagens_pendentes || 0);\nconst nomes       = d.nomes_unicos || '-';\n\nconst pctResp = total > 0 ? Math.round((respondidas / total) * 100) : 0;\n\n// Indicador visual do tempo medio\nlet indicador = '\\ud83d\\udfe2'; // verde\nconst medio = Number(d.tempo_medio_min || 0);\nif (medio > 120) indicador = '\\ud83d\\udd34';        // > 2h\nelse if (medio > 30) indicador = '\\ud83d\\udfe1';    // > 30min\n\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: '\\ud83d\\udcc5 Relatorio diario - ' + hoje, emoji: true }\n  },\n  { type: 'divider' },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: '\\ud83d\\udce8 *Mensagens recebidas*\\n' + total },\n      { type: 'mrkdwn', text: '\\ud83d\\udc65 *Mentorados unicos*\\n' + mentorados }\n    ]\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: '\\u2705 *Respondidas*\\n' + respondidas + ' (' + pctResp + '%)' },\n      { type: 'mrkdwn', text: '\\u23f3 *Ainda pendentes*\\n' + pendentes }\n    ]\n  },\n  { type: 'divider' },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: indicador + ' *Tempo de resposta do CS hoje*' }\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: '*Medio*\\n' + fmtMin(d.tempo_medio_min) },\n      { type: 'mrkdwn', text: '*Mediana*\\n' + fmtMin(d.tempo_mediano_min) },\n      { type: 'mrkdwn', text: '*Mais rapido*\\n' + fmtMin(d.tempo_min_min) },\n      { type: 'mrkdwn', text: '*Mais demorado*\\n' + fmtMin(d.tempo_max_min) }\n    ]\n  },\n  { type: 'divider' },\n  {\n    type: 'context',\n    elements: [{ type: 'mrkdwn', text: '\\ud83d\\udc64 *Mentorados que chamaram hoje:* ' + nomes }]\n  }\n];\n\nreturn [{\n  json: {\n    blocks,\n    fallback_text: 'Relatorio diario - ' + total + ' mensagens de ' + mentorados + ' mentorados'\n  }\n}];"
      },
      "id": "dd35c3a8-e7b3-457c-8a3c-0f69f406489a",
      "name": "Montar Mensagem Diaria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        352
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B0GC48EV8",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify($json.blocks) }}",
        "text": "={{ $json.fallback_text }}",
        "otherOptions": {}
      },
      "id": "706470d7-4652-4b6a-bb3a-9ce2723fb5e3",
      "name": "Slack: Enviar Relatorio Diario",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -96,
        352
      ],
      "webhookId": "c72c0bb8-dcb0-4b64-906a-31d5a9c7d1b9",
      "credentials": {
        "slackApi": {
          "id": "dBI2K3V3j9FYHqyb",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9-17/2 * * 1-5"
            }
          ]
        }
      },
      "id": "67cf16d8-642f-42a3-a860-a4a4256950c4",
      "name": "Agendamento (seg-sex 9-17h BRT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1520,
        640
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  whatsapp_number,\n  contact_name,\n  qtd_mensagens,\n  mensagens_concatenadas,\n  horas_aguardando,\n  primeira_mensagem_em,\n  ultima_mensagem_em\nFROM v_unread_conversations;",
        "options": {}
      },
      "id": "9d7ef9e0-9bef-4c3e-bbbd-55a0138780b5",
      "name": "Buscar Conversas Nao Lidas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1232,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "tem-mensagens",
              "leftValue": "={{ $json.whatsapp_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8fa43024-f170-49f9-95a1-f98b98d19dad",
      "name": "Tem conversas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -992,
        640
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Monta o body da request pra OpenAI\n// ATENCAO: o playbook (Mentoria Fluxo) vive aqui. Pra adicionar uma nova situacao,\n// edite a secao \"# PLAYBOOK\" abaixo.\n\nconst systemPrompt = `Você é um agente de sugestão de resposta para Ana, navegadora de Customer Success da Mentoria Fluxo, uma mentoria high ticket de marketing digital.\nSua função é receber mensagens enviadas por mentorados, identificar a situação, classificar a urgência e gerar uma sugestão de resposta pronta para Ana copiar, ajustar se precisar, e usar no WhatsApp ou Slack.\nVocê não responde diretamente ao mentorado. Você sugere respostas para Ana usar.\n\n# REGRAS DE COMUNICAÇÃO (aplicam-se sempre, sem exceção)\n- Nunca use travessão nem hífen duplo. Substitua por vírgula, ponto ou parênteses.\n- Nunca use listas com marcadores. Mensagens são em prosa.\n- Nunca use jargões de IA: \"posso te ajudar com isso\", \"fico à disposição\", \"espero ter ajudado\", \"claro!\", \"certamente\", \"com prazer\".\n- Adapte tom, formalidade, comprimento e uso de emojis ao jeito como o mentorado escreveu.\n- Se o mentorado for curto e seco, responda curto. Se for caloroso, responda caloroso.\n- O emoji padrão de Ana é 😂, usado com naturalidade quando o contexto pede.\n- Linguagem natural, conversacional, brasileira. Tom de parceira próxima, não de atendente.\n- Máximo 4 parágrafos curtos.\n- Chama a pessoa pelo primeiro nome quando disponível.\n- Não prometa prazos que não estão no playbook.\n- Não invente links. Use placeholders entre colchetes quando a URL real não está no playbook.\n- Se urgência ALTA: abra reconhecendo o incômodo ou pedindo desculpa pela demora, antes da resposta base.\n\n# CRITÉRIOS DE URGÊNCIA\n- ALTA: insatisfação clara, cobrança, ameaça de cancelar ou pedir reembolso, tom agressivo ou muito impaciente, problema bloqueador (pagou e não recebeu, sem acesso), segundo contato sem resposta.\n- MEDIA: dúvida operacional com alguma pressa, impaciência leve, pedido de feedback, pedido que trava o andamento do aluno.\n- BAIXA: dúvida casual, feedback positivo, agradecimento, bate-papo, curiosidade, apresentação inicial tranquila.\n\n# PLAYBOOK DE SITUAÇÕES\n\n## BOAS_VINDAS\nGatilhos: \"acabei de entrar na mentoria\", \"sou novo aqui\", \"acabei de comprar o Fluxo\", \"me passaram seu número\", \"primeira mensagem aqui\", \"estou começando agora\", \"acabei de ter acesso\".\nResposta base:\nSeja muito bem-vindo(a) à Mentoria Fluxo. Muito feliz em te conhecer. Eu sou a Ana, vou te ajudar durante o seu projeto aqui no Fluxo. Pode contar comigo pra tirar dúvidas e dar feedback dos materiais que você construir.\nQueria conhecer o seu projeto por você antes de qualquer coisa. Me conta, pode ser por áudio mesmo. Um pouco do seu cenário no digital.\nE ah, vou aproveitar pra já deixar aqui algumas informações importantes. https://drive.google.com/drive/folders/1CoAutlZ68pPcAQd0U8PsAlkf4WtvZlyG?usp=sharing\nLembrete: [ENVIAR CARD DE BOAS-VINDAS junto com essa mensagem]\n\n## FEEDBACK_PAGINA_VENDAS\nGatilhos: \"minha página de vendas está pronta\", \"terminei a página\", \"você consegue revisar minha página\", \"fiz a página, posso mandar o link\", \"quero que o time de copy veja minha página\", \"acabei de escrever a copy da página\".\nResposta base:\nManda pra mim do jeito que estiver. Assim que eu receber, encaminho para o time de copy. O prazo de devolutiva é de até 4 dias úteis.\n\n## FEEDBACK_ANUNCIO\nGatilhos: \"meu anúncio está pronto, pode revisar\", \"criei os criativos, quero um feedback\", \"terminei os anúncios\", \"posso mandar os anúncios para feedback\", \"finalizei a copy do anúncio\".\nResposta base:\nPode mandar do jeito que estiver. Encaminho para o time de copy assim que receber. O prazo é de até 4 dias úteis.\n\n## FEEDBACK_QUIZ\nGatilhos: \"meu quiz está pronto, pode revisar\", \"terminei as perguntas do quiz\", \"posso mandar o quiz para vocês verem\", \"acabei de montar o quiz\".\nResposta base:\nPode mandar do jeito que estiver. Encaminho para o time de copy assim que receber. O prazo é de até 4 dias úteis.\n\n## FEEDBACK_CONTEUDO_PRODUTO\nGatilhos: \"posso pedir feedback do conteúdo do meu curso\", \"podem revisar o material do meu produto\", \"quero feedback da estrutura do meu e-book\", \"podem ver a copy do meu checkout\", \"o time revisa e-mail de venda\".\nResposta base:\nEsse tipo de material a gente não cobre no feedback, porque ele está diretamente ligado à sua expertise e ao que você vai entregar. O time de copy foca nos materiais de marketing: página de vendas, anúncio e quiz. Qualquer um desses que você precisar, é só mandar.\n\n## FEEDBACK_TRAFEGO\nGatilhos: \"minha campanha não está performando\", \"o CPM está muito alto\", \"meus anúncios não estão entregando\", \"quero entender minhas métricas\", \"as campanhas estão rodando mas sem resultado\".\nResposta base: (sem resposta modelo definida, coletar contexto primeiro)\nLembrete: [Perguntar a Ana antes de responder: 1. Qual plataforma? 2. Quais métricas ele compartilhou? 3. Qual é o objetivo da campanha? 4. Há quanto tempo está rodando? 5. Compartilhou criativos ou só métricas? 6. Qual é o problema específico?]\n\n## ACAO_ANUNCIO\nGatilhos: \"vou criar meu anúncio agora\", \"vou começar a montar os criativos\", \"hoje vou escrever a copy do anúncio\", \"estou produzindo os anúncios\", \"fui criar os anúncios\".\nResposta base:\nBoa, vai lá. Quando estiver pronto me manda para eu encaminhar para o time de copy dar um olhar. Os materiais de referência estão no seu plano de ação. E se surgir alguma dúvida no caminho ou quiser complementar alguma coisa, pode me chamar.\n\n## ACAO_PAGINA\nGatilhos: \"vou criar minha página de vendas hoje\", \"vou montar a landing page agora\", \"estou construindo minha página\", \"vou começar a página de vendas\".\nResposta base:\nBoa, vai lá. Quando estiver pronta me manda para eu encaminhar para o time de copy dar um olhar. Os materiais de referência estão no seu plano de ação. Qualquer dúvida no caminho, me chama.\n\n## ACAO_QUIZ\nGatilhos: \"vou criar o quiz agora\", \"vou montar as perguntas do quiz hoje\", \"estou fazendo o quiz\", \"vou começar o quiz\".\nResposta base:\nBoa, vai lá. Quando estiver pronto me manda para eu encaminhar para o time de copy. Os materiais estão no seu plano de ação. Qualquer dúvida no caminho, me chama.\n\n## ACAO_PRIMEIRA_CAMPANHA\nGatilhos: \"vou subir minha primeira campanha agora\", \"hoje é o dia, vou colocar no ar\", \"vou ativar a campanha\", \"minha campanha vai ao ar hoje\", \"vou subir os anúncios\".\nResposta base:\nBoa, vai lá. Quando estiver no ar me manda. Os materiais estão no seu plano de ação. Qualquer dúvida no caminho, me chama.\n\n## FLUXER_NAO_FUNCIONA\nGatilhos: \"o Fluxo não está abrindo\", \"não consigo acessar o Fluxer\", \"a plataforma está fora do ar\", \"o Fluxer deu erro\", \"não estou conseguindo entrar\", \"o sistema não está funcionando\".\nResposta base:\nMe manda um vídeo mostrando o que está acontecendo para eu conseguir encaminhar para o time técnico. Enquanto isso, tenta fazer um Ctrl+Shift+R na página ou abrir em uma aba anônima, às vezes já resolve.\n\n## GRAVACAO_ANALISE\nGatilhos: \"quando fica disponível a gravação da análise\", \"não achei a gravação da minha sessão\", \"a gravação do plano de ação já está no Fluxer\", \"cadê o vídeo da minha análise\", \"quando posso assistir a análise de novo\".\nResposta base:\nA gravação fica disponível em até 7 dias úteis depois da sessão, direto no Fluxer.\n\n## LINK_AULA_NAO_ABRE\nGatilhos: \"o link da aula não abre\", \"cliquei na tarefa e não carrega\", \"a aula está dando erro\", \"não consigo acessar o conteúdo\", \"o módulo não está abrindo\".\nResposta base:\nMe manda um vídeo mostrando o que está acontecendo para eu conseguir encaminhar para o time técnico. Enquanto isso, tenta um Ctrl+Shift+R na página ou abre em uma aba anônima.\n\n## AGENDAR_ANALISE\nGatilhos: \"como faço para agendar minha análise\", \"onde acho o link para marcar a sessão\", \"quero agendar minha análise\", \"não achei onde agendar\", \"como marco a análise\".\nResposta base:\nÉ pelo Fluxer, aqui: https://flx.vendatodosantodia.com.br/academy\n\n## MENTORADO_VOLTOU\nGatilhos: \"sumiei um pouco, mas voltei\", \"estava muito ocupado, mas agora tenho mais tempo\", \"passei por um período complicado\", \"estava difícil mas não desisti\", \"voltei, estava meio perdido\".\nResposta base:\nQue bom que você voltou. Tudo bem, a vida acontece. Me conta onde você parou e o que está rolando agora. E já aproveita para agendar uma nova análise para a gente retomar com tudo: https://flx.vendatodosantodia.com.br/academy\n\n## EXTENSAO_PRAZO\nGatilhos: \"preciso de mais tempo na mentoria\", \"posso estender meu acesso\", \"não consegui aproveitar direito, tem como prorrogar\", \"meu acesso vai vencer, como renovo\", \"queria mais um mês\".\nSe o mentorado deu o motivo: Entendo. Extensão de prazo não é uma prática padrão da mentoria, mas vou levar sua situação para o time conversar. Assim que tiver um retorno, te falo.\nSe o mentorado não deu o motivo: Claro, me conta o que aconteceu para eu conseguir levar sua situação para o time da forma certa.\n\n## CONQUISTA\nGatilhos: \"fiz minha primeira venda\", \"bati minha meta\", \"minha campanha está performando muito bem\", \"consegui meu primeiro cliente\", \"recebi meu primeiro pagamento\", \"os resultados estão vindo\".\nResposta base:\nQue notícia boa. Coisas boas acontecem no caminho de quem está no caminho, e você está no caminho certo. A meta agora é otimizar para escalar cada vez mais. E sempre que tiver uma conquista dessa, me conta, adoro acompanhar de perto.\n\n## FRUSTRADO_DESANIMADO\nGatilhos: \"não está dando resultado nenhum\", \"estou pensando em desistir\", \"não sei se vale a pena continuar\", \"não estou vendo evolução\", \"estou desmotivado\", \"tá difícil demais\".\nSe o mentorado não deu o motivo: Entendo. Me conta o que está acontecendo. O que te deixou assim?\nSe o mentorado deu o motivo: Faz todo sentido sentir isso. Só que não dá para deixar a resistência vencer. O cansaço causa resistência, o excesso de atividades causa resistência, o dia difícil causa resistência. O que separa quem chega lá é não parar. O maior segredo é a constância. Fazer pelo menos uma coisa por dia é o que, no final, vai mostrar tudo que você construiu. Lembra por que você começou e faz pelo menos uma coisa hoje.\n\n## MUDANCA_NICHO_PRODUTO\nGatilhos: \"estou pensando em mudar de nicho\", \"quero trocar de produto\", \"acho que meu nicho não está funcionando\", \"pensei em um produto diferente\", \"será que não deveria mudar\".\nSe o mentorado deu o motivo e o novo nicho: Mudar de projeto no meio da mentoria não é uma prática que a gente incentiva, porque a gente precisa de um tempo mínimo trabalhando em cima de um projeto para conseguir entregar resultado. Mas vou levar sua situação para o time conversar. Só fica com esse ponto como reflexão: mudar muito de projeto acaba fazendo com que nenhum chegue ao final, e isso é um problema sério para quem quer escalar no digital.\nSe o mentorado não deu o motivo: Me conta mais. O que te fez pensar em mudar?\n\n## INDICACAO_FERRAMENTA\nGatilhos: \"qual ferramenta você indica para criar minha página\", \"qual editor de vídeo usar\", \"onde fazer o quiz\", \"que ferramenta uso para criar e-book\", \"tem alguma indicação de plataforma\".\nResposta base:\nIndicação direta a gente não costuma dar, porque depende muito do seu nível de habilidade técnica e do que você precisa. Esse espaço de troca de ferramentas fica bem nos grupos, onde você pode ver o que outros mentorados usam. Mas posso te dar algumas referências para pesquisar. Página de vendas: o Lovable é a opção mais simples e prática para esse momento. Quiz: o Enlead costuma ser bem indicado. Editor de vídeo: o CapCut é fácil e funciona bem. E-book ou mockup: o Canva resolve bem.\n\n## BONUS\nGatilhos: \"quais são os meus bônus\", \"tenho direito a algum bônus\", \"como acesso meu bônus\", \"me falaram de uma call de bônus\", \"quando recebo os bônus do plano de ação\".\nSe for bônus de plano de ação 1 ou 2: Que ótimo. Você ganhou uma call de bônus e pode escolher se prefere que seja de copy ou de tráfego. Qual você quer?\nSe for outro bônus: Parabéns, esse é um presente que poucos recebem. Vou verificar com o time os detalhes do seu bônus e retorno ainda hoje.\n\n## REMARCAR_CANCELAR_ANALISE\nGatilhos: \"preciso remarcar minha análise\", \"não vou conseguir ir na sessão\", \"posso cancelar minha análise\", \"quero mudar o horário\", \"surgiu um imprevisto no horário da análise\".\nResposta base:\nTudo bem. Para manter o registro certinho, entra no Fluxer e cancela por lá: https://flx.vendatodosantodia.com.br/academy. Me fala se já tem um novo dia ou horário em mente que eu faço o reagendamento direto pra você. E se não der tempo de cancelar antes da sessão, me avisa antes para eu não deixar o analisador esperando.\n\n## PROBLEMA_FERRAMENTA_EXTERNA\nGatilhos: \"estou com problema no Meta Ads\", \"o ManyChat não está funcionando\", \"tive um erro na Hotmart\", \"não sei como configurar a Kiwify\", \"meu Pixel não está disparando\", \"erro na ferramenta externa\".\nResposta base:\nFerramentas externas a gente não tem como dar suporte, porque elas são administradas por servidores independentes da mentoria. Qualquer erro nesses sistemas muda rápido demais para a gente conseguir acompanhar. O que funciona nesses casos é contatar o suporte da própria plataforma, que tem acesso direto ao que está acontecendo. [LINK DO SUPORTE DA PLATAFORMA MENCIONADA]\nLembrete: [Buscar e incluir o link oficial de suporte da ferramenta que o mentorado mencionou]\n\n# FALLBACK\nSe a mensagem não se encaixar em nenhuma situação acima, gere uma resposta seguindo todas as regras de comunicação e use \"intencao\": \"NAO_MAPEADA\" no JSON.\n\n# FORMATO DE SAÍDA (JSON obrigatório — nenhum texto fora do JSON)\n{\n  \"urgencia\": \"ALTA|MEDIA|BAIXA\",\n  \"intencao\": \"ID_DA_SITUACAO ou NAO_MAPEADA\",\n  \"justificativa\": \"uma frase curta explicando a urgência e por que essa situação bateu\",\n  \"sugestao_resposta\": \"texto pronto para Ana copiar e usar\",\n  \"lembrete\": \"ação necessária para Ana, como anexar arquivo ou buscar link. Deixar em branco se não houver.\"\n}`;\n\n// Sanitiza entradas pra nao quebrar template literals\nconst sanitize = (s) => String(s == null ? '' : s).replace(/`/g, \"'\");\n\nconst mentorado = sanitize($json.contact_name) || 'Sem nome';\nconst numero    = sanitize($json.whatsapp_number);\nconst horas     = Number($json.horas_aguardando || 0).toFixed(1);\nconst qtd       = Number($json.qtd_mensagens || 0);\nconst msgs      = sanitize($json.mensagens_concatenadas);\n\nconst userPrompt = `Mentorado: ${mentorado}\nNúmero: ${numero}\nHoras aguardando resposta: ${horas}\nQuantidade de mensagens não lidas: ${qtd}\n\nConteúdo das mensagens (em ordem cronológica):\n\"\"\"\n${msgs}\n\"\"\"\n\nAnalise e responda em JSON.`;\n\nreturn {\n  json: {\n    whatsapp_number: numero,\n    contact_name: mentorado,\n    mensagens_concatenadas: msgs,\n    horas_aguardando: horas,\n    qtd_mensagens: qtd,\n    openai_body: {\n      model: 'gpt-4o',\n      temperature: 0.3,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n};"
      },
      "id": "8288d2a5-b2ce-43f2-854d-9c972dab812d",
      "name": "Montar Request OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "d47a0a7e-bf5a-40b6-84cc-c6a1cafabcad",
      "name": "GPT-4o: Chamar API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        624
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "OPgp1xatd0VGhr4O",
          "name": "OpenAI account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Pareia a resposta do GPT com os dados originais do contato\nconst openaiResp = $json;\nconst original   = $('Montar Request OpenAI').item.json;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(openaiResp.choices[0].message.content);\n} catch (e) {\n  parsed = {\n    urgencia: 'MEDIA',\n    intencao: 'ERRO_PARSE',\n    justificativa: 'Falha no parse do GPT - revisar manualmente',\n    sugestao_resposta: '(Erro ao gerar sugestao - revise a mensagem original)'\n  };\n}\n\nconst urgenciaNorm = (parsed.urgencia || 'MEDIA').toUpperCase();\nconst intencaoNorm = (parsed.intencao || 'NAO_MAPEADA').toUpperCase();\n\nreturn {\n  json: {\n    whatsapp_number: original.whatsapp_number,\n    contact_name: original.contact_name || 'Sem nome',\n    qtd_mensagens: Number(original.qtd_mensagens),\n    horas_aguardando: original.horas_aguardando,\n    mensagens: original.mensagens_concatenadas,\n    urgencia: urgenciaNorm,\n    intencao: intencaoNorm,\n    justificativa: parsed.justificativa || '',\n    sugestao_resposta: parsed.sugestao_resposta || ''\n  }\n};\n"
      },
      "id": "8187b474-e496-444b-a15b-15ee309af334",
      "name": "Parse + Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        624
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const urgencia = $json.urgencia || 'BAIXA';\nconst intencao = $json.intencao || 'NAO_MAPEADA';\nconst justificativa = $json.justificativa || '';\nconst sugestao = $json.sugestao_resposta || '';\nconst nome = $json.contact_name || 'Sem nome';\nconst horas = $json.horas_aguardando || '0';\nconst qtd = $json.qtd_mensagens || '0';\nconst msgs = $json.mensagens || '';\n\nconst emoji = { 'ALTA': '🔴', 'MEDIA': '🟡', 'BAIXA': '🟢' }[urgencia] || '⚪';\n\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: `${emoji} ${nome} — ${urgencia}` }\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: `*Situação:*\\n${intencao}` },\n      { type: 'mrkdwn', text: `*Aguardando:*\\n${horas}h (${qtd} mensagem(ns))` }\n    ]\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Por que essa urgência:*\\n${justificativa}`\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Mensagens recebidas:*\\n\\`\\`\\`${msgs.slice(0, 500)}${msgs.length > 500 ? '...' : ''}\\`\\`\\``\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Sugestão de resposta:*\\n${sugestao}`\n    }\n  },\n  { type: 'divider' }\n];\n\nreturn {\n  json: {\n    blocks: JSON.stringify(blocks),\n    text: `${emoji} ${nome}: ${urgencia}`\n  }\n};"
      },
      "id": "6157789a-7600-429f-9462-231d45498ad1",
      "name": "Montar Mensagem 1 (Detalhada)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        624
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B0GC48EV8",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={{ $json.blocks }}",
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "26cfb4b0-73ed-4965-8a68-961963cb0798",
      "name": "Slack: Enviar Mensagem 1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        256,
        624
      ],
      "webhookId": "13ce9eb7-00ce-4fed-b37f-9b70251b47ad",
      "credentials": {
        "slackApi": {
          "id": "dBI2K3V3j9FYHqyb",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $('Parse + Merge').all();\nconst results = [];\n\nfor (const item of items) {\n  const urgencia = item.json.urgencia || 'BAIXA';\n  const intencao = item.json.intencao || 'NAO_MAPEADA';\n  const nome = item.json.contact_name || 'Sem nome';\n  const horas = item.json.horas_aguardando || '0';\n  const qtd = item.json.qtd_mensagens || '0';\n  const msgs = item.json.mensagens || '';\n  const sugestao = item.json.sugestao_resposta || '';\n  const justificativa = item.json.justificativa || '';\n\n  const emoji = { 'ALTA': '🔴', 'MEDIA': '🟡', 'BAIXA': '🟢' }[urgencia] || '⚪';\n\n  let texto = `${emoji} *${nome}* — ${urgencia}\\n\\n`;\n  texto += `*Situação identificada:* ${intencao}\\n`;\n  texto += `*Aguardando:* ${horas}h (${qtd} mensagem(ns))\\n`;\n  texto += `*Por que essa urgência:* ${justificativa}\\n\\n`;\n  texto += `*Mensagens recebidas:*\\n\\`\\`\\`${msgs.slice(0, 500)}${msgs.length > 500 ? '...' : ''}\\`\\`\\`\\n\\n`;\n  texto += `*Sugestão de resposta:*\\n${sugestao}`;\n\n  results.push({ json: { text: texto } });\n}\n\nreturn results;"
      },
      "id": "c6aabf3e-6240-4a3a-943b-32dcff7ce634",
      "name": "Montar Mensagem 2 (Resumo)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        624
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B0GC48EV8",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "e0153b97-97c7-465f-88de-da000b921cd5",
      "name": "Slack: Enviar Mensagem 2",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        688,
        624
      ],
      "webhookId": "8c073d9d-bfda-4b44-b7b9-320bfb7b3853",
      "credentials": {
        "slackApi": {
          "id": "dBI2K3V3j9FYHqyb",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9-17 * * 1-5"
            }
          ]
        }
      },
      "id": "7a6d6a8f-39c2-4997-93d5-e08cea9f2ba4",
      "name": "Agendamento (seg-sex 9-17h BRT)1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        992,
        608
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  whatsapp_number,\n  contact_name,\n  qtd_mensagens,\n  mensagens_concatenadas,\n  horas_aguardando,\n  primeira_mensagem_em,\n  ultima_mensagem_em\nFROM v_unread_conversations;",
        "options": {}
      },
      "id": "c4e9de3a-547b-4059-a402-c3215fd5d74d",
      "name": "Buscar Conversas Nao Lidas1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1280,
        608
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "tem-mensagens",
              "leftValue": "={{ $json.whatsapp_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b5a57bc2-9133-4f84-837d-43bab6d55a43",
      "name": "Tem conversas?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        608
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Monta o body da request pra OpenAI\n// ATENCAO: o playbook (Mentoria Fluxo) vive aqui. Pra adicionar uma nova situacao,\n// edite a secao \"# PLAYBOOK\" abaixo.\n\nconst systemPrompt = `Você é um agente de sugestão de resposta para Ana, navegadora de Customer Success da Mentoria Fluxo, uma mentoria high ticket de marketing digital.\nSua função é receber mensagens enviadas por mentorados, identificar a situação, classificar a urgência e gerar uma sugestão de resposta pronta para Ana copiar, ajustar se precisar, e usar no WhatsApp ou Slack.\nVocê não responde diretamente ao mentorado. Você sugere respostas para Ana usar.\n\n# REGRAS DE COMUNICAÇÃO (aplicam-se sempre, sem exceção)\n- Nunca use travessão nem hífen duplo. Substitua por vírgula, ponto ou parênteses.\n- Nunca use listas com marcadores. Mensagens são em prosa.\n- Nunca use jargões de IA: \"posso te ajudar com isso\", \"fico à disposição\", \"espero ter ajudado\", \"claro!\", \"certamente\", \"com prazer\".\n- Adapte tom, formalidade, comprimento e uso de emojis ao jeito como o mentorado escreveu.\n- Se o mentorado for curto e seco, responda curto. Se for caloroso, responda caloroso.\n- O emoji padrão de Ana é 😂, usado com naturalidade quando o contexto pede.\n- Linguagem natural, conversacional, brasileira. Tom de parceira próxima, não de atendente.\n- Máximo 4 parágrafos curtos.\n- Chama a pessoa pelo primeiro nome quando disponível.\n- Não prometa prazos que não estão no playbook.\n- Não invente links. Use placeholders entre colchetes quando a URL real não está no playbook.\n- Se urgência ALTA: abra reconhecendo o incômodo ou pedindo desculpa pela demora, antes da resposta base.\n\n# CRITÉRIOS DE URGÊNCIA\n- ALTA: insatisfação clara, cobrança, ameaça de cancelar ou pedir reembolso, tom agressivo ou muito impaciente, problema bloqueador (pagou e não recebeu, sem acesso), segundo contato sem resposta.\n- MEDIA: dúvida operacional com alguma pressa, impaciência leve, pedido de feedback, pedido que trava o andamento do aluno.\n- BAIXA: dúvida casual, feedback positivo, agradecimento, bate-papo, curiosidade, apresentação inicial tranquila.\n\n# PLAYBOOK DE SITUAÇÕES\n\n## BOAS_VINDAS\nGatilhos: \"acabei de entrar na mentoria\", \"sou novo aqui\", \"acabei de comprar o Fluxo\", \"me passaram seu número\", \"primeira mensagem aqui\", \"estou começando agora\", \"acabei de ter acesso\".\nResposta base:\nSeja muito bem-vindo(a) à Mentoria Fluxo. Muito feliz em te conhecer. Eu sou a Ana, vou te ajudar durante o seu projeto aqui no Fluxo. Pode contar comigo pra tirar dúvidas e dar feedback dos materiais que você construir.\nQueria conhecer o seu projeto por você antes de qualquer coisa. Me conta, pode ser por áudio mesmo. Um pouco do seu cenário no digital.\nE ah, vou aproveitar pra já deixar aqui algumas informações importantes. https://drive.google.com/drive/folders/1CoAutlZ68pPcAQd0U8PsAlkf4WtvZlyG?usp=sharing\nLembrete: [ENVIAR CARD DE BOAS-VINDAS junto com essa mensagem]\n\n## FEEDBACK_PAGINA_VENDAS\nGatilhos: \"minha página de vendas está pronta\", \"terminei a página\", \"você consegue revisar minha página\", \"fiz a página, posso mandar o link\", \"quero que o time de copy veja minha página\", \"acabei de escrever a copy da página\".\nResposta base:\nManda pra mim do jeito que estiver. Assim que eu receber, encaminho para o time de copy. O prazo de devolutiva é de até 4 dias úteis.\n\n## FEEDBACK_ANUNCIO\nGatilhos: \"meu anúncio está pronto, pode revisar\", \"criei os criativos, quero um feedback\", \"terminei os anúncios\", \"posso mandar os anúncios para feedback\", \"finalizei a copy do anúncio\".\nResposta base:\nPode mandar do jeito que estiver. Encaminho para o time de copy assim que receber. O prazo é de até 4 dias úteis.\n\n## FEEDBACK_QUIZ\nGatilhos: \"meu quiz está pronto, pode revisar\", \"terminei as perguntas do quiz\", \"posso mandar o quiz para vocês verem\", \"acabei de montar o quiz\".\nResposta base:\nPode mandar do jeito que estiver. Encaminho para o time de copy assim que receber. O prazo é de até 4 dias úteis.\n\n## FEEDBACK_CONTEUDO_PRODUTO\nGatilhos: \"posso pedir feedback do conteúdo do meu curso\", \"podem revisar o material do meu produto\", \"quero feedback da estrutura do meu e-book\", \"podem ver a copy do meu checkout\", \"o time revisa e-mail de venda\".\nResposta base:\nEsse tipo de material a gente não cobre no feedback, porque ele está diretamente ligado à sua expertise e ao que você vai entregar. O time de copy foca nos materiais de marketing: página de vendas, anúncio e quiz. Qualquer um desses que você precisar, é só mandar.\n\n## FEEDBACK_TRAFEGO\nGatilhos: \"minha campanha não está performando\", \"o CPM está muito alto\", \"meus anúncios não estão entregando\", \"quero entender minhas métricas\", \"as campanhas estão rodando mas sem resultado\".\nResposta base: (sem resposta modelo definida, coletar contexto primeiro)\nLembrete: [Perguntar a Ana antes de responder: 1. Qual plataforma? 2. Quais métricas ele compartilhou? 3. Qual é o objetivo da campanha? 4. Há quanto tempo está rodando? 5. Compartilhou criativos ou só métricas? 6. Qual é o problema específico?]\n\n## ACAO_ANUNCIO\nGatilhos: \"vou criar meu anúncio agora\", \"vou começar a montar os criativos\", \"hoje vou escrever a copy do anúncio\", \"estou produzindo os anúncios\", \"fui criar os anúncios\".\nResposta base:\nBoa, vai lá. Quando estiver pronto me manda para eu encaminhar para o time de copy dar um olhar. Os materiais de referência estão no seu plano de ação. E se surgir alguma dúvida no caminho ou quiser complementar alguma coisa, pode me chamar.\n\n## ACAO_PAGINA\nGatilhos: \"vou criar minha página de vendas hoje\", \"vou montar a landing page agora\", \"estou construindo minha página\", \"vou começar a página de vendas\".\nResposta base:\nBoa, vai lá. Quando estiver pronta me manda para eu encaminhar para o time de copy dar um olhar. Os materiais de referência estão no seu plano de ação. Qualquer dúvida no caminho, me chama.\n\n## ACAO_QUIZ\nGatilhos: \"vou criar o quiz agora\", \"vou montar as perguntas do quiz hoje\", \"estou fazendo o quiz\", \"vou começar o quiz\".\nResposta base:\nBoa, vai lá. Quando estiver pronto me manda para eu encaminhar para o time de copy. Os materiais estão no seu plano de ação. Qualquer dúvida no caminho, me chama.\n\n## ACAO_PRIMEIRA_CAMPANHA\nGatilhos: \"vou subir minha primeira campanha agora\", \"hoje é o dia, vou colocar no ar\", \"vou ativar a campanha\", \"minha campanha vai ao ar hoje\", \"vou subir os anúncios\".\nResposta base:\nBoa, vai lá. Quando estiver no ar me manda. Os materiais estão no seu plano de ação. Qualquer dúvida no caminho, me chama.\n\n## FLUXER_NAO_FUNCIONA\nGatilhos: \"o Fluxo não está abrindo\", \"não consigo acessar o Fluxer\", \"a plataforma está fora do ar\", \"o Fluxer deu erro\", \"não estou conseguindo entrar\", \"o sistema não está funcionando\".\nResposta base:\nMe manda um vídeo mostrando o que está acontecendo para eu conseguir encaminhar para o time técnico. Enquanto isso, tenta fazer um Ctrl+Shift+R na página ou abrir em uma aba anônima, às vezes já resolve.\n\n## GRAVACAO_ANALISE\nGatilhos: \"quando fica disponível a gravação da análise\", \"não achei a gravação da minha sessão\", \"a gravação do plano de ação já está no Fluxer\", \"cadê o vídeo da minha análise\", \"quando posso assistir a análise de novo\".\nResposta base:\nA gravação fica disponível em até 7 dias úteis depois da sessão, direto no Fluxer.\n\n## LINK_AULA_NAO_ABRE\nGatilhos: \"o link da aula não abre\", \"cliquei na tarefa e não carrega\", \"a aula está dando erro\", \"não consigo acessar o conteúdo\", \"o módulo não está abrindo\".\nResposta base:\nMe manda um vídeo mostrando o que está acontecendo para eu conseguir encaminhar para o time técnico. Enquanto isso, tenta um Ctrl+Shift+R na página ou abre em uma aba anônima.\n\n## AGENDAR_ANALISE\nGatilhos: \"como faço para agendar minha análise\", \"onde acho o link para marcar a sessão\", \"quero agendar minha análise\", \"não achei onde agendar\", \"como marco a análise\".\nResposta base:\nÉ pelo Fluxer, aqui: https://flx.vendatodosantodia.com.br/academy\n\n## MENTORADO_VOLTOU\nGatilhos: \"sumiei um pouco, mas voltei\", \"estava muito ocupado, mas agora tenho mais tempo\", \"passei por um período complicado\", \"estava difícil mas não desisti\", \"voltei, estava meio perdido\".\nResposta base:\nQue bom que você voltou. Tudo bem, a vida acontece. Me conta onde você parou e o que está rolando agora. E já aproveita para agendar uma nova análise para a gente retomar com tudo: https://flx.vendatodosantodia.com.br/academy\n\n## EXTENSAO_PRAZO\nGatilhos: \"preciso de mais tempo na mentoria\", \"posso estender meu acesso\", \"não consegui aproveitar direito, tem como prorrogar\", \"meu acesso vai vencer, como renovo\", \"queria mais um mês\".\nSe o mentorado deu o motivo: Entendo. Extensão de prazo não é uma prática padrão da mentoria, mas vou levar sua situação para o time conversar. Assim que tiver um retorno, te falo.\nSe o mentorado não deu o motivo: Claro, me conta o que aconteceu para eu conseguir levar sua situação para o time da forma certa.\n\n## CONQUISTA\nGatilhos: \"fiz minha primeira venda\", \"bati minha meta\", \"minha campanha está performando muito bem\", \"consegui meu primeiro cliente\", \"recebi meu primeiro pagamento\", \"os resultados estão vindo\".\nResposta base:\nQue notícia boa. Coisas boas acontecem no caminho de quem está no caminho, e você está no caminho certo. A meta agora é otimizar para escalar cada vez mais. E sempre que tiver uma conquista dessa, me conta, adoro acompanhar de perto.\n\n## FRUSTRADO_DESANIMADO\nGatilhos: \"não está dando resultado nenhum\", \"estou pensando em desistir\", \"não sei se vale a pena continuar\", \"não estou vendo evolução\", \"estou desmotivado\", \"tá difícil demais\".\nSe o mentorado não deu o motivo: Entendo. Me conta o que está acontecendo. O que te deixou assim?\nSe o mentorado deu o motivo: Faz todo sentido sentir isso. Só que não dá para deixar a resistência vencer. O cansaço causa resistência, o excesso de atividades causa resistência, o dia difícil causa resistência. O que separa quem chega lá é não parar. O maior segredo é a constância. Fazer pelo menos uma coisa por dia é o que, no final, vai mostrar tudo que você construiu. Lembra por que você começou e faz pelo menos uma coisa hoje.\n\n## MUDANCA_NICHO_PRODUTO\nGatilhos: \"estou pensando em mudar de nicho\", \"quero trocar de produto\", \"acho que meu nicho não está funcionando\", \"pensei em um produto diferente\", \"será que não deveria mudar\".\nSe o mentorado deu o motivo e o novo nicho: Mudar de projeto no meio da mentoria não é uma prática que a gente incentiva, porque a gente precisa de um tempo mínimo trabalhando em cima de um projeto para conseguir entregar resultado. Mas vou levar sua situação para o time conversar. Só fica com esse ponto como reflexão: mudar muito de projeto acaba fazendo com que nenhum chegue ao final, e isso é um problema sério para quem quer escalar no digital.\nSe o mentorado não deu o motivo: Me conta mais. O que te fez pensar em mudar?\n\n## INDICACAO_FERRAMENTA\nGatilhos: \"qual ferramenta você indica para criar minha página\", \"qual editor de vídeo usar\", \"onde fazer o quiz\", \"que ferramenta uso para criar e-book\", \"tem alguma indicação de plataforma\".\nResposta base:\nIndicação direta a gente não costuma dar, porque depende muito do seu nível de habilidade técnica e do que você precisa. Esse espaço de troca de ferramentas fica bem nos grupos, onde você pode ver o que outros mentorados usam. Mas posso te dar algumas referências para pesquisar. Página de vendas: o Lovable é a opção mais simples e prática para esse momento. Quiz: o Enlead costuma ser bem indicado. Editor de vídeo: o CapCut é fácil e funciona bem. E-book ou mockup: o Canva resolve bem.\n\n## BONUS\nGatilhos: \"quais são os meus bônus\", \"tenho direito a algum bônus\", \"como acesso meu bônus\", \"me falaram de uma call de bônus\", \"quando recebo os bônus do plano de ação\".\nSe for bônus de plano de ação 1 ou 2: Que ótimo. Você ganhou uma call de bônus e pode escolher se prefere que seja de copy ou de tráfego. Qual você quer?\nSe for outro bônus: Parabéns, esse é um presente que poucos recebem. Vou verificar com o time os detalhes do seu bônus e retorno ainda hoje.\n\n## REMARCAR_CANCELAR_ANALISE\nGatilhos: \"preciso remarcar minha análise\", \"não vou conseguir ir na sessão\", \"posso cancelar minha análise\", \"quero mudar o horário\", \"surgiu um imprevisto no horário da análise\".\nResposta base:\nTudo bem. Para manter o registro certinho, entra no Fluxer e cancela por lá: https://flx.vendatodosantodia.com.br/academy. Me fala se já tem um novo dia ou horário em mente que eu faço o reagendamento direto pra você. E se não der tempo de cancelar antes da sessão, me avisa antes para eu não deixar o analisador esperando.\n\n## PROBLEMA_FERRAMENTA_EXTERNA\nGatilhos: \"estou com problema no Meta Ads\", \"o ManyChat não está funcionando\", \"tive um erro na Hotmart\", \"não sei como configurar a Kiwify\", \"meu Pixel não está disparando\", \"erro na ferramenta externa\".\nResposta base:\nFerramentas externas a gente não tem como dar suporte, porque elas são administradas por servidores independentes da mentoria. Qualquer erro nesses sistemas muda rápido demais para a gente conseguir acompanhar. O que funciona nesses casos é contatar o suporte da própria plataforma, que tem acesso direto ao que está acontecendo. [LINK DO SUPORTE DA PLATAFORMA MENCIONADA]\nLembrete: [Buscar e incluir o link oficial de suporte da ferramenta que o mentorado mencionou]\n\n# FALLBACK\nSe a mensagem não se encaixar em nenhuma situação acima, gere uma resposta seguindo todas as regras de comunicação e use \"intencao\": \"NAO_MAPEADA\" no JSON.\n\n# FORMATO DE SAÍDA (JSON obrigatório — nenhum texto fora do JSON)\n{\n  \"urgencia\": \"ALTA|MEDIA|BAIXA\",\n  \"intencao\": \"ID_DA_SITUACAO ou NAO_MAPEADA\",\n  \"justificativa\": \"uma frase curta explicando a urgência e por que essa situação bateu\",\n  \"sugestao_resposta\": \"texto pronto para Ana copiar e usar\",\n  \"lembrete\": \"ação necessária para Ana, como anexar arquivo ou buscar link. Deixar em branco se não houver.\"\n}`;\n\n// Sanitiza entradas pra nao quebrar template literals\nconst sanitize = (s) => String(s == null ? '' : s).replace(/`/g, \"'\");\n\nconst mentorado = sanitize($json.contact_name) || 'Sem nome';\nconst numero    = sanitize($json.whatsapp_number);\nconst horas     = Number($json.horas_aguardando || 0).toFixed(1);\nconst qtd       = Number($json.qtd_mensagens || 0);\nconst msgs      = sanitize($json.mensagens_concatenadas);\n\nconst userPrompt = `Mentorado: ${mentorado}\nNúmero: ${numero}\nHoras aguardando resposta: ${horas}\nQuantidade de mensagens não lidas: ${qtd}\n\nConteúdo das mensagens (em ordem cronológica):\n\"\"\"\n${msgs}\n\"\"\"\n\nAnalise e responda em JSON.`;\n\nreturn {\n  json: {\n    whatsapp_number: numero,\n    contact_name: mentorado,\n    mensagens_concatenadas: msgs,\n    horas_aguardando: horas,\n    qtd_mensagens: qtd,\n    openai_body: {\n      model: 'gpt-4o',\n      temperature: 0.3,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n};"
      },
      "id": "8b57cb84-08fa-4df3-9298-3c92f740553e",
      "name": "Montar Request OpenAI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "82ad9de6-d59b-4848-ae8d-bbc1bbbcbaf0",
      "name": "GPT-4o: Chamar API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        592
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPgp1xatd0VGhr4O",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Pareia a resposta do GPT com os dados originais do contato\nconst openaiResp = $json;\nconst original   = $('Montar Request OpenAI1').item.json;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(openaiResp.choices[0].message.content);\n} catch (e) {\n  parsed = {\n    urgencia: 'MEDIA',\n    intencao: 'ERRO_PARSE',\n    justificativa: 'Falha no parse do GPT - revisar manualmente',\n    sugestao_resposta: '(Erro ao gerar sugestao - revise a mensagem original)'\n  };\n}\n\nconst urgenciaNorm = (parsed.urgencia || 'MEDIA').toUpperCase();\nconst intencaoNorm = (parsed.intencao || 'NAO_MAPEADA').toUpperCase();\n\nreturn {\n  json: {\n    whatsapp_number: original.whatsapp_number,\n    contact_name: original.contact_name || 'Sem nome',\n    qtd_mensagens: Number(original.qtd_mensagens),\n    horas_aguardando: original.horas_aguardando,\n    mensagens: original.mensagens_concatenadas,\n    urgencia: urgenciaNorm,\n    intencao: intencaoNorm,\n    justificativa: parsed.justificativa || '',\n    sugestao_resposta: parsed.sugestao_resposta || ''\n  }\n};\n"
      },
      "id": "d208ac56-ce7f-4212-bc54-1bc7ef29024b",
      "name": "Parse + Merge2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "// Formata análise do GPT em mensagem detalhada para o Slack\n\nconst urgencia = $json.urgencia || 'BAIXA';\nconst intencao = $json.intencao || 'NAO_MAPEADA';\nconst justificativa = $json.justificativa || '';\nconst sugestao = $json.sugestao_resposta || '';\nconst nome = $json.contact_name || 'Sem nome';\nconst horas = $json.horas_aguardando || '0';\nconst qtd = $json.qtd_mensagens || '0';\nconst msgs = $json.mensagens_concatenadas || '';\n\nconst emoji = { 'ALTA': '🔴', 'MEDIA': '🟡', 'BAIXA': '🟢' }[urgencia] || '⚪';\n\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: `${emoji} ${nome} — ${urgencia}` }\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: `*Situação:*\\n${intencao}` },\n      { type: 'mrkdwn', text: `*Aguardando:*\\n${horas}h (${qtd} mensagem(ns))` }\n    ]\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Por que essa urgência:*\\n${justificativa}`\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Mensagens recebidas:*\\n\\`\\`\\`${msgs.slice(0, 500)}${msgs.length > 500 ? '...' : ''}\\`\\`\\``\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Sugestão de resposta:*\\n${sugestao}`\n    }\n  },\n  { type: 'divider' }\n];\n\nreturn [{\n  json: {\n    blocks: JSON.stringify(blocks),\n    text: `${emoji} ${nome}: ${urgencia}`\n  }\n}];"
      },
      "id": "2d31ff8e-3728-4786-bcc0-d5f464e9219d",
      "name": "Montar Mensagem 1 (Detalhada)2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        592
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B0GC48EV8",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={{ $json.blocks }}",
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "ef93a55b-10fd-46d5-8fbf-f76a4e554169",
      "name": "Slack: Enviar Mensagem 3",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2768,
        592
      ],
      "webhookId": "13ce9eb7-00ce-4fed-b37f-9b70251b47ad",
      "credentials": {
        "slackApi": {
          "id": "dBI2K3V3j9FYHqyb",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Monta resumo consolidado de todas as conversas analisadas\n\nconst items = $input.all();\n\nconst counts = { ALTA: 0, MEDIA: 0, BAIXA: 0 };\nconst nomes  = { ALTA: [], MEDIA: [], BAIXA: [] };\n\nfor (const item of items) {\n  const u = item.json.urgencia || 'BAIXA';\n  if (counts[u] !== undefined) {\n    counts[u]++;\n    nomes[u].push(item.json.contact_name || 'Sem nome');\n  }\n}\n\nconst total = items.length;\nconst hora = new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n\nlet texto = `*Resumo geral — ${hora}*\\n`;\ntexto += `${total} conversa(s) não respondida(s)\\n\\n`;\n\nif (counts.ALTA  > 0) texto += `🔴 *ALTA (${counts.ALTA}):* ${nomes.ALTA.join(', ')}\\n`;\nif (counts.MEDIA > 0) texto += `🟡 *MÉDIA (${counts.MEDIA}):* ${nomes.MEDIA.join(', ')}\\n`;\nif (counts.BAIXA > 0) texto += `🟢 *BAIXA (${counts.BAIXA}):* ${nomes.BAIXA.join(', ')}\\n`;\n\nreturn [{ json: { text: texto } }];"
      },
      "id": "bea7f545-5889-41cd-9cab-3cee42e749a3",
      "name": "Montar Mensagem 2 (Resumo)2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        592
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B0GC48EV8",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "dae41b2e-620c-42d4-b424-1050b7fb902d",
      "name": "Slack: Enviar Mensagem 4",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3200,
        592
      ],
      "webhookId": "8c073d9d-bfda-4b44-b7b9-320bfb7b3853",
      "credentials": {
        "slackApi": {
          "id": "dBI2K3V3j9FYHqyb",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Aqui é o prompt",
        "height": 320,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        528
      ],
      "typeVersion": 1,
      "id": "5534a379-9787-41e7-832e-4e5baefa4ee7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Node é o quadradinho\n\n## Input é o que entra e Output é o que sai",
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        864
      ],
      "typeVersion": 1,
      "id": "afdea53f-fc71-4eb2-ab41-10a24a2e21eb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Esse aqui monta a requisição para a IA fazer a análise",
        "height": 320,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        528
      ],
      "typeVersion": 1,
      "id": "500b20d1-b218-4f36-9962-741b72ff34ca",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Antigo",
        "height": 416,
        "width": 2496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        512
      ],
      "typeVersion": 1,
      "id": "6d952c59-71c4-43cd-9ed4-89762dbe4383",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {
    "GPT-4o: Chamar API1": [
      {
        "json": {
          "id": "chatcmpl-DbofzAtK5NMhk3CDk6Py9vyIdHji4",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"BAIXA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"A mensagem é um teste e não contém conteúdo urgente ou relevante para a mentoria.\",\n  \"sugestao_resposta\": \"Oi! Vi que você mandou um teste. Se precisar de algo, é só me chamar.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3533,
            "completion_tokens": 86,
            "total_tokens": 3619,
            "prompt_tokens_details": {
              "cached_tokens": 2304,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-Dbog2NdhFardU2PxOo7VvFi5gZKtk",
          "object": "chat.completion",
          "created": 1777905310,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"O mentorado está aguardando há muito tempo sem resposta.\",\n  \"sugestao_resposta\": \"Oi Livia, desculpa pela demora na resposta. Vi que você enviou um link, mas não ficou claro o que você precisa que eu faça com ele. Pode me dar mais contexto?\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3541,
            "completion_tokens": 99,
            "total_tokens": 3640,
            "prompt_tokens_details": {
              "cached_tokens": 3072,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-Dbofztx26c6SyNcKBt9Tp5rc49FWy",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"FEEDBACK_ANUNCIO\",\n  \"justificativa\": \"Mentorado está aguardando feedback sobre anúncios há muito tempo, indicando urgência alta.\",\n  \"sugestao_resposta\": \"Desculpa pela demora, Rita! Pode mandar os criativos e as copies do jeito que estiverem. Vou encaminhar para o time de copy assim que receber. O prazo de devolutiva é de até 4 dias úteis.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3662,
            "completion_tokens": 113,
            "total_tokens": 3775,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzjjLDtaF5c3qCwKfv6IgKCzqW",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"Mensagem muito vaga e tempo de espera alto, indicando possível insatisfação ou urgência não identificada.\",\n  \"sugestao_resposta\": \"Oi Gabriel, desculpa pela demora em te responder. Vi que você mandou 'ambos sim', mas não ficou claro para mim o contexto. Pode me dar mais detalhes para que eu possa te ajudar da melhor forma?\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3527,
            "completion_tokens": 114,
            "total_tokens": 3641,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzTPaZx3ayfIwog10f7a1lfz1G",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"O mentorado está aguardando há muito tempo por uma resposta, o que pode gerar insatisfação.\",\n  \"sugestao_resposta\": \"Desculpa pela demora, Felipe. Sobre o funil, o valor do produto de entrada e do upsell pode variar bastante dependendo da estratégia que você está usando. Me conta um pouco mais sobre o seu projeto e o que você está pensando para eu poder te ajudar melhor.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3542,
            "completion_tokens": 125,
            "total_tokens": 3667,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzbE9TpgJLPFHLhVV0ttkHYhBc",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"O mentorado está aguardando há muito tempo por uma resposta, indicando potencial insatisfação.\",\n  \"sugestao_resposta\": \"Oi Fernanda, desculpa pela demora em te responder. Como posso te ajudar hoje? Se tiver alguma dúvida ou precisar de algo específico, me avisa.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3529,
            "completion_tokens": 99,
            "total_tokens": 3628,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzmxAQPTLxVfIddjOVEIgNlw19",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"Mentorado aguardando resposta há mais de 112 horas e enviou várias mensagens sem retorno.\",\n  \"sugestao_resposta\": \"Oi Denise, desculpa pela demora em te responder. Recebi todo o material que você mandou e vou dar uma olhada com calma. Se tiver algo específico que você queira discutir ou perguntar, me avisa. Estou aqui para ajudar no que precisar.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3653,
            "completion_tokens": 119,
            "total_tokens": 3772,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzX5kKT11BTsMToGQOaVT9N64t",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"FEEDBACK_PAGINA_VENDAS\",\n  \"justificativa\": \"Mentorado pediu feedback e está aguardando há muito tempo.\",\n  \"sugestao_resposta\": \"Oi Inês, desculpa pela demora. Vi que você mandou o link da sua página e alguns materiais. Vou encaminhar para o time de copy dar uma olhada. O prazo de devolutiva é de até 4 dias úteis. Parabéns pelas vendas no orgânico e por já ter subido a campanha! Qualquer coisa, me chama.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3653,
            "completion_tokens": 136,
            "total_tokens": 3789,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-Dbofza9q5wzMgtgjjKjPgEG2oqnhO",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"MEDIA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"Lucíola está aguardando há bastante tempo e enviou várias mensagens, incluindo áudios, que indicam que ela está tentando se comunicar e pode estar aguardando feedback ou orientação.\",\n  \"sugestao_resposta\": \"Oi Lucíola! Desculpa pela demora, vi que você mandou várias mensagens. Vou ouvir seus áudios e já te respondo. Se tiver algo específico que você quer discutir primeiro, me avisa.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3634,
            "completion_tokens": 128,
            "total_tokens": 3762,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-Dbofzuk9LG1gGuSE5yTI8f2yzo8HK",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"BAIXA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"As mensagens são descontraídas e não indicam urgência ou problema.\",\n  \"sugestao_resposta\": \"Thiago, adorei a descontração 😂. Vou ouvir o áudio e já te dou um retorno.\",\n  \"lembrete\": \"Ouvir o áudio enviado pelo mentorado e responder conforme o conteúdo.\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3546,
            "completion_tokens": 100,
            "total_tokens": 3646,
            "prompt_tokens_details": {
              "cached_tokens": 2304,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzPAFYe8zIcRSgDwS8QMrfnSK3",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"FEEDBACK_TRAFEGO\",\n  \"justificativa\": \"O mentorado está enfrentando um problema com o gerenciador de anúncios que pode estar impactando suas vendas e está aguardando há muito tempo.\",\n  \"sugestao_resposta\": \"Desculpa pela demora, Soph. Vamos entender o que está rolando. Você pode me contar qual plataforma está usando e quais métricas está acompanhando? E se puder, me fala também qual é o objetivo da campanha e há quanto tempo está rodando. Se tiver mais detalhes sobre o que está acontecendo, me manda, assim consigo te ajudar melhor.\",\n  \"lembrete\": \"Perguntar a Ana antes de responder: 1. Qual plataforma? 2. Quais métricas ele compartilhou? 3. Qual é o objetivo da campanha? 4. Há quanto tempo está rodando? 5. Compartilhou criativos ou só métricas? 6. Qual é o problema específico?\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3572,
            "completion_tokens": 218,
            "total_tokens": 3790,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzzVKgtnvLpKrachzsARR79zSz",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"FEEDBACK_TRAFEGO\",\n  \"justificativa\": \"O mentorado está aguardando há muito tempo e parece ter dúvidas sobre campanhas que não estão rodando.\",\n  \"sugestao_resposta\": \"Oi Guilherme, desculpa pela demora. Vi que você está com dúvidas sobre suas campanhas. Me conta mais detalhes: qual plataforma você está usando, quais métricas você tem observado, qual é o objetivo da campanha e há quanto tempo ela está rodando? Com essas informações, consigo te ajudar melhor.\",\n  \"lembrete\": \"Perguntar a Ana antes de responder: 1. Qual plataforma? 2. Quais métricas ele compartilhou? 3. Qual é o objetivo da campanha? 4. Há quanto tempo está rodando? 5. Compartilhou criativos ou só métricas? 6. Qual é o problema específico?\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3581,
            "completion_tokens": 198,
            "total_tokens": 3779,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-Dbofzep3b1hKHGTUbkOs3dl4dtWVJ",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"A mensagem está aguardando resposta há mais de 90 horas, o que indica urgência alta.\",\n  \"sugestao_resposta\": \"Oi Regina, desculpa pela demora na resposta. Não entendi muito bem o que você quis dizer. Pode me dar mais detalhes para eu conseguir te ajudar melhor?\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3532,
            "completion_tokens": 101,
            "total_tokens": 3633,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzQMrtNjo80bXW85eCPOZhvsbf",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"Mentorado aguardando resposta há mais de 90 horas e solicitando orientação sobre próximos passos.\",\n  \"sugestao_resposta\": \"Oi Edu, desculpa pela demora. Que bom que você já teve esse feedback do Robson sobre os criativos. O próximo passo seria realmente testar essa estrutura 1:1:1 para ver qual criativo performa melhor. Sobre a próxima reunião de análise, você pode agendar pelo Fluxer quando achar que é o momento certo para discutir os resultados e próximos passos. Se precisar de mais alguma coisa ou tiver dúvidas, me chama.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3626,
            "completion_tokens": 156,
            "total_tokens": 3782,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzwX4qC6aJgSvHIZUw1s0tpx2C",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"O mentorado está aguardando há muito tempo e parece estar impaciente.\",\n  \"sugestao_resposta\": \"Oi Ruam, desculpa pela demora na resposta. Não recebi o link ou arquivo da sua página. Pode me enviar novamente? Assim que eu receber, encaminho para o time de copy dar uma olhada.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3578,
            "completion_tokens": 107,
            "total_tokens": 3685,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzH0Yg03tQnV2QQbTRY7cUAwgx",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"O mentorado está aguardando há muito tempo sem resposta e parece estar com dúvida sobre um vídeo.\",\n  \"sugestao_resposta\": \"Desculpa pela demora, Camilla. Sobre o vídeo que você mencionou, me conta mais detalhes do que está pensando em mudar ou deixar no lugar. Assim consigo te ajudar melhor.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3542,
            "completion_tokens": 106,
            "total_tokens": 3648,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-Dbofz2oqoFcid1uJ3KDi16d4ZLzE2",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"O mentorado está aguardando há muito tempo sem resposta, o que pode gerar insatisfação.\",\n  \"sugestao_resposta\": \"Desculpa pela demora em te responder, Ana. Vi que você mandou alguns áudios e quero garantir que a gente está alinhado. Vou ouvir agora e já te dou um retorno.\",\n  \"lembrete\": \"Ouvir os áudios enviados pelo mentorado para entender o contexto e responder adequadamente.\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3549,
            "completion_tokens": 125,
            "total_tokens": 3674,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzMHlbVBZBkqdsd64sy6GQ5dje",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"Mentorado aguardando resposta há muito tempo e expressando gratidão por uma resposta.\",\n  \"sugestao_resposta\": \"Oi Nicolas, desculpa pela demora. Como posso te ajudar agora?\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3534,
            "completion_tokens": 79,
            "total_tokens": 3613,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzGulAYh5MCqZ3IwQhdIp7Ufds",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"ALTA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"Mentorado aguardando há 78 horas e com múltiplas mensagens não lidas.\",\n  \"sugestao_resposta\": \"Oi Rita! Desculpa pela demora em te responder. Sobre a estrutura 1:1:1, depende muito do seu objetivo e do que você quer testar. Me conta mais sobre o que você está pensando. E sobre o público que você mencionou no áudio, vou ouvir agora e te dou um retorno já já.\",\n  \"lembrete\": \"Ouvir o áudio enviado pela Rita para entender o contexto e responder sobre o público.\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3576,
            "completion_tokens": 149,
            "total_tokens": 3725,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-Dbofzwv4mzUMnahnn8GNvuNDjGrWp",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"MEDIA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"O mentorado está compartilhando um link correto após um erro e mencionando resistência, mas não há insatisfação clara ou urgência alta.\",\n  \"sugestao_resposta\": \"Oi! Espero que você esteja bem também. Entendo essa resistência, mas o importante é que você está avançando. Obrigada por enviar o link correto. Vou dar uma olhada. E que bom que você já está seguindo para a criação dos vídeos. Se precisar de algo nesse processo, me chama.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3607,
            "completion_tokens": 138,
            "total_tokens": 3745,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzCKBWZI1uoxgRaysCCFUlS0sE",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"MEDIA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"Rodrigo está pedindo feedback sobre um vídeo enviado, mas não há contexto suficiente para identificar a situação específica.\",\n  \"sugestao_resposta\": \"Oi Rodrigo, desculpa a demora. Vou dar uma olhada no vídeo que você mandou e já te dou um retorno sobre o que pode ser melhorado.\",\n  \"lembrete\": \"Verificar o vídeo enviado pelo mentorado para dar um feedback adequado.\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3547,
            "completion_tokens": 117,
            "total_tokens": 3664,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzDsW3zMc0PN9yZu2RpFgQY9GD",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"BAIXA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"A mensagem parece ser uma apresentação inicial ou uma conversa casual sem urgência aparente.\",\n  \"sugestao_resposta\": \"Oi Flávia! Tudo bem por aqui. Vou ouvir seus áudios e já te respondo. 😊\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3551,
            "completion_tokens": 89,
            "total_tokens": 3640,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzL7us251DcTMVyvgqvxF2FGIC",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"BAIXA\",\n  \"intencao\": \"MENTORADO_VOLTOU\",\n  \"justificativa\": \"Carlos mencionou que estava fora do ar devido a dengue, mas está retomando as atividades.\",\n  \"sugestao_resposta\": \"Oi Carlos, que bom que você está voltando, mesmo com dengue. Espero que esteja se recuperando bem. Me conta onde você parou e o que está rolando agora. E já aproveita para agendar uma nova análise para a gente retomar com tudo: https://flx.vendatodosantodia.com.br/academy\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3581,
            "completion_tokens": 139,
            "total_tokens": 3720,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzmcqmXEyarMK4rlF2VOEQlwGb",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"MEDIA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"A mensagem é um áudio, o que pode indicar a necessidade de uma resposta personalizada, mas não há insatisfação ou urgência alta aparente.\",\n  \"sugestao_resposta\": \"Oi Gabriel! Acabei de ver seu áudio. Vou ouvir e já te dou um retorno. Se for algo urgente, me avisa por aqui também.\",\n  \"lembrete\": \"Ouvir o áudio enviado pelo mentorado para entender o contexto e responder adequadamente.\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3529,
            "completion_tokens": 125,
            "total_tokens": 3654,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-Dbofz5ojYNTGFH8Ywc90HY7Nk62pR",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"BAIXA\",\n  \"intencao\": \"MENTORADO_VOLTOU\",\n  \"justificativa\": \"Ketulin está retomando as atividades após um período de doença.\",\n  \"sugestao_resposta\": \"Oi Ketulin! Espero que você esteja melhor agora. Tudo bem, a vida acontece. Me conta onde você parou e o que está rolando agora. E já aproveita para agendar uma nova análise para a gente retomar com tudo: https://flx.vendatodosantodia.com.br/academy\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3553,
            "completion_tokens": 128,
            "total_tokens": 3681,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofztA89IB691l9q8E9vdCFoJJ6A",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"BAIXA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"O mentorado compartilhou uma atualização positiva sobre o CPA e mencionou novos criativos, sem urgência ou problema aparente.\",\n  \"sugestao_resposta\": \"Bom dia, Ju! Que ótimo que você conseguiu baixar o CPA para 43. Isso é um bom progresso. Sobre os novos criativos, quando estiverem prontos, me manda para eu encaminhar para o time de copy dar uma olhada. Se precisar de algo mais, é só me chamar.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3550,
            "completion_tokens": 138,
            "total_tokens": 3688,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-Dbofz2k6GEKIonp8bu2dlOFmaccKg",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"BAIXA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"A mensagem é um simples cumprimento sem contexto adicional ou urgência aparente.\",\n  \"sugestao_resposta\": \"Oi Tania! Tudo bem? Como posso te ajudar hoje? 😊\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3527,
            "completion_tokens": 79,
            "total_tokens": 3606,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofziJprDljtbTIHirp0nwRMxaUb",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"BAIXA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"A mensagem é apenas um cumprimento e uma imagem sem contexto adicional.\",\n  \"sugestao_resposta\": \"Bom dia, Virginia! Tudo bem? Vi que você mandou uma imagem, mas não sei se veio com alguma pergunta ou comentário. Se precisar de algo, é só me falar.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3536,
            "completion_tokens": 99,
            "total_tokens": 3635,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      },
      {
        "json": {
          "id": "chatcmpl-DbofzBxyUDO9RPEcgzOTmgNbylkBz",
          "object": "chat.completion",
          "created": 1777905307,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n  \"urgencia\": \"BAIXA\",\n  \"intencao\": \"NAO_MAPEADA\",\n  \"justificativa\": \"A mensagem é um áudio e não há informações textuais para identificar a situação.\",\n  \"sugestao_resposta\": \"Oi Paula! Acabei de ver seu áudio, mas não consigo ouvir aqui. Pode me mandar um resumo por texto ou me contar qual é a dúvida? Assim consigo te ajudar rapidinho.\",\n  \"lembrete\": \"\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 3529,
            "completion_tokens": 103,
            "total_tokens": 3632,
            "prompt_tokens_details": {
              "cached_tokens": 3456,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_ae736abb0d"
        }
      }
    ],
    "Parse + Merge2": [
      {
        "json": {
          "whatsapp_number": "142485590397181@lid",
          "contact_name": "Ana Be",
          "qtd_mensagens": 2,
          "horas_aguardando": "131.9",
          "mensagens": "Teste\n---\n[IMAGEM enviada pelo mentorado]",
          "urgencia": "BAIXA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "A mensagem é um teste e não contém conteúdo urgente ou relevante para a mentoria.",
          "sugestao_resposta": "Oi! Vi que você mandou um teste. Se precisar de algo, é só me chamar."
        }
      },
      {
        "json": {
          "whatsapp_number": "556199579140",
          "contact_name": "Livia Navegadora",
          "qtd_mensagens": 2,
          "horas_aguardando": "120.6",
          "mensagens": "Criei o link\n---\nhttps://streamyard.com/pr5p64mw8w",
          "urgencia": "ALTA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "O mentorado está aguardando há muito tempo sem resposta.",
          "sugestao_resposta": "Oi Livia, desculpa pela demora na resposta. Vi que você enviou um link, mas não ficou claro o que você precisa que eu faça com ele. Pode me dar mais contexto?"
        }
      },
      {
        "json": {
          "whatsapp_number": "351937064989",
          "contact_name": "Ritaemflor • Florais de Bach",
          "qtd_mensagens": 5,
          "horas_aguardando": "119.0",
          "mensagens": "Oiê rainha! Esqueceste-te de responder esta pergunta: dos 3 criativos aqui que falam de ansiedade\n---\nVou por aqui uma copy de anuncio de video. Diz o que achas. Não é mega direto mas foca-se  quase 100% no decorado.\n---\nA MELHOR PARTE DOS FLORAIS É A QUE VEM DEPOIS\nÉ QUANDO DEPOIS DE UNS DIAS A TOMAR TU DÁS POR TI A PENSAR - \nEH PÁ\n---\nmais 2 copies de anúncio\n---\nPREFERES UM PENSO RÁPIDO NUMA FERIDA GIGANTE E",
          "urgencia": "ALTA",
          "intencao": "FEEDBACK_ANUNCIO",
          "justificativa": "Mentorado está aguardando feedback sobre anúncios há muito tempo, indicando urgência alta.",
          "sugestao_resposta": "Desculpa pela demora, Rita! Pode mandar os criativos e as copies do jeito que estiverem. Vou encaminhar para o time de copy assim que receber. O prazo de devolutiva é de até 4 dias úteis."
        }
      },
      {
        "json": {
          "whatsapp_number": "94850208817190@lid",
          "contact_name": "Gabriel Vilas",
          "qtd_mensagens": 1,
          "horas_aguardando": "119.0",
          "mensagens": "Ambos sim",
          "urgencia": "ALTA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "Mensagem muito vaga e tempo de espera alto, indicando possível insatisfação ou urgência não identificada.",
          "sugestao_resposta": "Oi Gabriel, desculpa pela demora em te responder. Vi que você mandou 'ambos sim', mas não ficou claro para mim o contexto. Pode me dar mais detalhes para que eu possa te ajudar da melhor forma?"
        }
      },
      {
        "json": {
          "whatsapp_number": "59287778906179@lid",
          "contact_name": "Felipe Matheus",
          "qtd_mensagens": 1,
          "horas_aguardando": "115.1",
          "mensagens": "Depende de do funil.\n\nQual valor do produto de entrada e o do upsell?",
          "urgencia": "ALTA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "O mentorado está aguardando há muito tempo por uma resposta, o que pode gerar insatisfação.",
          "sugestao_resposta": "Desculpa pela demora, Felipe. Sobre o funil, o valor do produto de entrada e do upsell pode variar bastante dependendo da estratégia que você está usando. Me conta um pouco mais sobre o seu projeto e o que você está pensando para eu poder te ajudar melhor."
        }
      },
      {
        "json": {
          "whatsapp_number": "74526373228780@lid",
          "contact_name": "Fernanda",
          "qtd_mensagens": 2,
          "horas_aguardando": "113.5",
          "mensagens": "Tá bem !\n---\nTe espero",
          "urgencia": "ALTA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "O mentorado está aguardando há muito tempo por uma resposta, indicando potencial insatisfação.",
          "sugestao_resposta": "Oi Fernanda, desculpa pela demora em te responder. Como posso te ajudar hoje? Se tiver alguma dúvida ou precisar de algo específico, me avisa."
        }
      },
      {
        "json": {
          "whatsapp_number": "6635858706487@lid",
          "contact_name": "Denise Serpa",
          "qtd_mensagens": 11,
          "horas_aguardando": "112.1",
          "mensagens": "Mandei isso pra ela e é bom porque vc fica me.conhecendo melhor\n---\n[IMAGEM enviada pelo mentorado]\n---\n[IMAGEM enviada pelo mentorado]\n---\n[AUDIO enviado pelo mentorado]\n---\nUm trecho de fala do Pedro Superti\n---\n[VIDEO enviado pelo mentorado]\n---\nDeixei esse material como respaldo de algumas das coisas que te disse sobre o que já realizei\n---\nEsse casal nos agradecimentos agradeceu a todos\n---\n[AUDIO enviado pelo mentorado]\n---\nPode ser relevante mostrar pra sua diretora\n---\n(foi isso o que mandei depois do call e como eu disse",
          "urgencia": "ALTA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "Mentorado aguardando resposta há mais de 112 horas e enviou várias mensagens sem retorno.",
          "sugestao_resposta": "Oi Denise, desculpa pela demora em te responder. Recebi todo o material que você mandou e vou dar uma olhada com calma. Se tiver algo específico que você queira discutir ou perguntar, me avisa. Estou aqui para ajudar no que precisar."
        }
      },
      {
        "json": {
          "whatsapp_number": "22922290839612@lid",
          "contact_name": "Inês Tralha",
          "qtd_mensagens": 8,
          "horas_aguardando": "94.3",
          "mensagens": "https://curso5errossurf.lovable.app/\n---\n[IMAGEM enviada pelo mentorado]\n---\n[IMAGEM enviada pelo mentorado]\n---\n[VIDEO enviado pelo mentorado]\n---\nEstou a subir anúncios no meta! \nVendi 3 cursos até agora. Em\nOrgânico. 😅\nPouco… \nVamos ver como desenrola…\n---\nA campanha está no ar. Amanhã afino com as métricas que usamos no Fluxo… \nUfaaahhh \nNão é assim tão pouco trabalho! 😅\n---\nEstou a precisar das vossa impressões.\n---\n[IMAGEM enviada pelo mentorado]",
          "urgencia": "ALTA",
          "intencao": "FEEDBACK_PAGINA_VENDAS",
          "justificativa": "Mentorado pediu feedback e está aguardando há muito tempo.",
          "sugestao_resposta": "Oi Inês, desculpa pela demora. Vi que você mandou o link da sua página e alguns materiais. Vou encaminhar para o time de copy dar uma olhada. O prazo de devolutiva é de até 4 dias úteis. Parabéns pelas vendas no orgânico e por já ter subido a campanha! Qualquer coisa, me chama."
        }
      },
      {
        "json": {
          "whatsapp_number": "259282914259051@lid",
          "contact_name": "Lucíola Dutra",
          "qtd_mensagens": 13,
          "horas_aguardando": "91.7",
          "mensagens": "Boa tarde! Escutando\n---\nFiz o e-book\n---\nEntendi!\n---\n[AUDIO enviado pelo mentorado]\n---\nOlha o Twitter (X) mostrando a que veio\n---\nVou criar um link parametrizado pra ver se vende mesmo\n---\nOi Ana! Tudo bem?\n---\n[AUDIO enviado pelo mentorado]\n---\n[AUDIO enviado pelo mentorado]\n---\n[IMAGEM enviada pelo mentorado]\n---\nO Claude me mandou descansar rs\n---\n[AUDIO enviado pelo mentorado]\n---\n[AUDIO enviado pelo mentorado]",
          "urgencia": "MEDIA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "Lucíola está aguardando há bastante tempo e enviou várias mensagens, incluindo áudios, que indicam que ela está tentando se comunicar e pode estar aguardando feedback ou orientação.",
          "sugestao_resposta": "Oi Lucíola! Desculpa pela demora, vi que você mandou várias mensagens. Vou ouvir seus áudios e já te respondo. Se tiver algo específico que você quer discutir primeiro, me avisa."
        }
      },
      {
        "json": {
          "whatsapp_number": "84199109300451@lid",
          "contact_name": "Thiago Mariani",
          "qtd_mensagens": 3,
          "horas_aguardando": "91.3",
          "mensagens": "Era cabeludo mesmo 🤣🤣🤣\n---\nCabelo longo\n---\n[AUDIO enviado pelo mentorado]",
          "urgencia": "BAIXA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "As mensagens são descontraídas e não indicam urgência ou problema.",
          "sugestao_resposta": "Thiago, adorei a descontração 😂. Vou ouvir o áudio e já te dou um retorno."
        }
      },
      {
        "json": {
          "whatsapp_number": "122462855553029@lid",
          "contact_name": "Soph Tattoo",
          "qtd_mensagens": 5,
          "horas_aguardando": "90.9",
          "mensagens": "aparentemente\n---\naqui no gerenciador n tá aparecendo nenhuma compra\n---\nacredita?\n---\nou eu fiz alguma coisa errada ou alguém veio pelo anúncio e comprou depois só\n---\n[IMAGEM enviada pelo mentorado]",
          "urgencia": "ALTA",
          "intencao": "FEEDBACK_TRAFEGO",
          "justificativa": "O mentorado está enfrentando um problema com o gerenciador de anúncios que pode estar impactando suas vendas e está aguardando há muito tempo.",
          "sugestao_resposta": "Desculpa pela demora, Soph. Vamos entender o que está rolando. Você pode me contar qual plataforma está usando e quais métricas está acompanhando? E se puder, me fala também qual é o objetivo da campanha e há quanto tempo está rodando. Se tiver mais detalhes sobre o que está acontecendo, me manda, assim consigo te ajudar melhor."
        }
      },
      {
        "json": {
          "whatsapp_number": "226113385189412@lid",
          "contact_name": "Guilherme Campos",
          "qtd_mensagens": 7,
          "horas_aguardando": "90.6",
          "mensagens": "[AUDIO enviado pelo mentorado]\n---\n[AUDIO enviado pelo mentorado]\n---\n[AUDIO enviado pelo mentorado]\n---\nana bom dia\n---\neu desativei\n---\nque tipo de campanha eu posso fazer ele\n---\neu tentei rodar o bid mas ela não rodou",
          "urgencia": "ALTA",
          "intencao": "FEEDBACK_TRAFEGO",
          "justificativa": "O mentorado está aguardando há muito tempo e parece ter dúvidas sobre campanhas que não estão rodando.",
          "sugestao_resposta": "Oi Guilherme, desculpa pela demora. Vi que você está com dúvidas sobre suas campanhas. Me conta mais detalhes: qual plataforma você está usando, quais métricas você tem observado, qual é o objetivo da campanha e há quanto tempo ela está rodando? Com essas informações, consigo te ajudar melhor."
        }
      },
      {
        "json": {
          "whatsapp_number": "15436297044129@lid",
          "contact_name": "Regina",
          "qtd_mensagens": 1,
          "horas_aguardando": "90.2",
          "mensagens": "A da Luciana e do Gabriel José eu achei",
          "urgencia": "ALTA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "A mensagem está aguardando resposta há mais de 90 horas, o que indica urgência alta.",
          "sugestao_resposta": "Oi Regina, desculpa pela demora na resposta. Não entendi muito bem o que você quis dizer. Pode me dar mais detalhes para eu conseguir te ajudar melhor?"
        }
      },
      {
        "json": {
          "whatsapp_number": "71309425905672@lid",
          "contact_name": "Edu Moreira",
          "qtd_mensagens": 4,
          "horas_aguardando": "90.1",
          "mensagens": "Mas agora eu entrei no zoom de Tráfego e o Robson me recomendou pausar essa campanha e subir na estrutura 1:1:1 cada um desses criativos caso eu não tenha novos criativos.\nEle também comentou que os indicadores de tráfego estavam bons. Mas recomendou fazer essa estrutura só para poder ver qual criativo iria performar melhor\n---\nOi\n---\nAna\n---\neu queria ver contgio qual seria o próximo passo? a gente já marca a próxima reunião de análise?",
          "urgencia": "ALTA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "Mentorado aguardando resposta há mais de 90 horas e solicitando orientação sobre próximos passos.",
          "sugestao_resposta": "Oi Edu, desculpa pela demora. Que bom que você já teve esse feedback do Robson sobre os criativos. O próximo passo seria realmente testar essa estrutura 1:1:1 para ver qual criativo performa melhor. Sobre a próxima reunião de análise, você pode agendar pelo Fluxer quando achar que é o momento certo para discutir os resultados e próximos passos. Se precisar de mais alguma coisa ou tiver dúvidas, me chama."
        }
      },
      {
        "json": {
          "whatsapp_number": "226388397269219@lid",
          "contact_name": "Ruam - Fluxo",
          "qtd_mensagens": 2,
          "horas_aguardando": "90.1",
          "mensagens": "Crie a página exatamente como nesse no código:\n\n<!DOCTYPE html> <html lang=\"pt-BR\"> <head> <meta charset=\"utf-8\"> <meta name=\"viewport\" content=\"width=device-width\n---\nJá enviei pra ela ta?",
          "urgencia": "ALTA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "O mentorado está aguardando há muito tempo e parece estar impaciente.",
          "sugestao_resposta": "Oi Ruam, desculpa pela demora na resposta. Não recebi o link ou arquivo da sua página. Pode me enviar novamente? Assim que eu receber, encaminho para o time de copy dar uma olhada."
        }
      },
      {
        "json": {
          "whatsapp_number": "152342540374187@lid",
          "contact_name": "Camilla Correa",
          "qtd_mensagens": 2,
          "horas_aguardando": "89.8",
          "mensagens": "Esse vídeo mesm\n---\nNão sei se deixo ali ou mudo de lugar",
          "urgencia": "ALTA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "O mentorado está aguardando há muito tempo sem resposta e parece estar com dúvida sobre um vídeo.",
          "sugestao_resposta": "Desculpa pela demora, Camilla. Sobre o vídeo que você mencionou, me conta mais detalhes do que está pensando em mudar ou deixar no lugar. Assim consigo te ajudar melhor."
        }
      },
      {
        "json": {
          "whatsapp_number": "6116218003584@lid",
          "contact_name": "Ana Frutti e Affetto",
          "qtd_mensagens": 3,
          "horas_aguardando": "88.6",
          "mensagens": "[AUDIO enviado pelo mentorado]\n---\n[AUDIO enviado pelo mentorado]\n---\n[AUDIO enviado pelo mentorado]",
          "urgencia": "ALTA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "O mentorado está aguardando há muito tempo sem resposta, o que pode gerar insatisfação.",
          "sugestao_resposta": "Desculpa pela demora em te responder, Ana. Vi que você mandou alguns áudios e quero garantir que a gente está alinhado. Vou ouvir agora e já te dou um retorno."
        }
      },
      {
        "json": {
          "whatsapp_number": "46313437692071@lid",
          "contact_name": "Nicolas",
          "qtd_mensagens": 2,
          "horas_aguardando": "88.3",
          "mensagens": "ata beleza\n---\nObrigadíssimo por conseguir responder🙏🙏",
          "urgencia": "ALTA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "Mentorado aguardando resposta há muito tempo e expressando gratidão por uma resposta.",
          "sugestao_resposta": "Oi Nicolas, desculpa pela demora. Como posso te ajudar agora?"
        }
      },
      {
        "json": {
          "whatsapp_number": "77717466775602@lid",
          "contact_name": "Ritaemflor • Florais de Bach",
          "qtd_mensagens": 3,
          "horas_aguardando": "78.0",
          "mensagens": "Não 1:1:2\n---\n[AUDIO enviado pelo mentorado]\n---\nOi rainha!\nDeveria fazer 1:1:1?\n\nE o que achas do público com interesses como coloquei no audio?",
          "urgencia": "ALTA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "Mentorado aguardando há 78 horas e com múltiplas mensagens não lidas.",
          "sugestao_resposta": "Oi Rita! Desculpa pela demora em te responder. Sobre a estrutura 1:1:1, depende muito do seu objetivo e do que você quer testar. Me conta mais sobre o que você está pensando. E sobre o público que você mencionou no áudio, vou ouvir agora e te dou um retorno já já."
        }
      },
      {
        "json": {
          "whatsapp_number": "131735656333438@lid",
          "contact_name": "(11)",
          "qtd_mensagens": 2,
          "horas_aguardando": "38.4",
          "mensagens": "Olá Ana! Espero que você esteja bem!!!\nnas últimas três semanas senti muita resistência para realizar tão pouco no digital…mas ninguem disse que seria fácil né…\neu finalmente finalizei os produtos para order bump e coloquei o link errado na entrega da tarefa…segue abaixo o link correto:\nhttps://pay.hotmart.com/T104555534P?checkoutMode=10\n---\nSigo para a criação dos videos…",
          "urgencia": "MEDIA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "O mentorado está compartilhando um link correto após um erro e mencionando resistência, mas não há insatisfação clara ou urgência alta.",
          "sugestao_resposta": "Oi! Espero que você esteja bem também. Entendo essa resistência, mas o importante é que você está avançando. Obrigada por enviar o link correto. Vou dar uma olhada. E que bom que você já está seguindo para a criação dos vídeos. Se precisar de algo nesse processo, me chama."
        }
      },
      {
        "json": {
          "whatsapp_number": "123394527916207@lid",
          "contact_name": "Rodrigo Eich",
          "qtd_mensagens": 3,
          "horas_aguardando": "9.7",
          "mensagens": "Oi Ana\n---\n[VIDEO enviado pelo mentorado]\n---\nComo acha que ficou? Tem algum ponto que eu possa melhorar?",
          "urgencia": "MEDIA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "Rodrigo está pedindo feedback sobre um vídeo enviado, mas não há contexto suficiente para identificar a situação específica.",
          "sugestao_resposta": "Oi Rodrigo, desculpa a demora. Vou dar uma olhada no vídeo que você mandou e já te dou um retorno sobre o que pode ser melhorado."
        }
      },
      {
        "json": {
          "whatsapp_number": "65923604070437@lid",
          "contact_name": "Flávia 🌱🌸",
          "qtd_mensagens": 4,
          "horas_aguardando": "2.6",
          "mensagens": "bom dia Ana\n---\nTudo bem?\n---\n[AUDIO enviado pelo mentorado]\n---\n[AUDIO enviado pelo mentorado]",
          "urgencia": "BAIXA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "A mensagem parece ser uma apresentação inicial ou uma conversa casual sem urgência aparente.",
          "sugestao_resposta": "Oi Flávia! Tudo bem por aqui. Vou ouvir seus áudios e já te respondo. 😊"
        }
      },
      {
        "json": {
          "whatsapp_number": "107133748117542@lid",
          "contact_name": "Carlos Akira Třesohlavý",
          "qtd_mensagens": 9,
          "horas_aguardando": "2.5",
          "mensagens": "Ana\n---\nBom dia\n---\nMe perdi aqui na caminhada\n---\nPeguei dengue\n---\nTô meio fora do ar\n---\nMas tocando\n---\nbom olhando aqui os links\n---\nvou gravar as aulas\n---\ne voltamos a falar",
          "urgencia": "BAIXA",
          "intencao": "MENTORADO_VOLTOU",
          "justificativa": "Carlos mencionou que estava fora do ar devido a dengue, mas está retomando as atividades.",
          "sugestao_resposta": "Oi Carlos, que bom que você está voltando, mesmo com dengue. Espero que esteja se recuperando bem. Me conta onde você parou e o que está rolando agora. E já aproveita para agendar uma nova análise para a gente retomar com tudo: https://flx.vendatodosantodia.com.br/academy"
        }
      },
      {
        "json": {
          "whatsapp_number": "7490490134612@lid",
          "contact_name": "Gabriel Rocha",
          "qtd_mensagens": 1,
          "horas_aguardando": "1.6",
          "mensagens": "[AUDIO enviado pelo mentorado]",
          "urgencia": "MEDIA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "A mensagem é um áudio, o que pode indicar a necessidade de uma resposta personalizada, mas não há insatisfação ou urgência alta aparente.",
          "sugestao_resposta": "Oi Gabriel! Acabei de ver seu áudio. Vou ouvir e já te dou um retorno. Se for algo urgente, me avisa por aqui também."
        }
      },
      {
        "json": {
          "whatsapp_number": "81587517583413@lid",
          "contact_name": "Ketulin Roling",
          "qtd_mensagens": 2,
          "horas_aguardando": "1.5",
          "mensagens": "Bom diaaa Ana! Como está?\n---\nFiquei doente semana passada acabei me atrasando com o trabalho.\n\nNo plano de ação",
          "urgencia": "BAIXA",
          "intencao": "MENTORADO_VOLTOU",
          "justificativa": "Ketulin está retomando as atividades após um período de doença.",
          "sugestao_resposta": "Oi Ketulin! Espero que você esteja melhor agora. Tudo bem, a vida acontece. Me conta onde você parou e o que está rolando agora. E já aproveita para agendar uma nova análise para a gente retomar com tudo: https://flx.vendatodosantodia.com.br/academy"
        }
      },
      {
        "json": {
          "whatsapp_number": "110720029057229@lid",
          "contact_name": "Ju Nascimento",
          "qtd_mensagens": 3,
          "horas_aguardando": "1.5",
          "mensagens": "Bom dia Ana\n---\nUltimos 7 dias consegui baixar o CPA pra 43\n---\nEstou com novos criativos para testar",
          "urgencia": "BAIXA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "O mentorado compartilhou uma atualização positiva sobre o CPA e mencionou novos criativos, sem urgência ou problema aparente.",
          "sugestao_resposta": "Bom dia, Ju! Que ótimo que você conseguiu baixar o CPA para 43. Isso é um bom progresso. Sobre os novos criativos, quando estiverem prontos, me manda para eu encaminhar para o time de copy dar uma olhada. Se precisar de algo mais, é só me chamar."
        }
      },
      {
        "json": {
          "whatsapp_number": "11115476054162@lid",
          "contact_name": "Tania Hormann",
          "qtd_mensagens": 1,
          "horas_aguardando": "0.7",
          "mensagens": "Oi Ana",
          "urgencia": "BAIXA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "A mensagem é um simples cumprimento sem contexto adicional ou urgência aparente.",
          "sugestao_resposta": "Oi Tania! Tudo bem? Como posso te ajudar hoje? 😊"
        }
      },
      {
        "json": {
          "whatsapp_number": "177494539948151@lid",
          "contact_name": "Virginia Falanghe",
          "qtd_mensagens": 2,
          "horas_aguardando": "0.3",
          "mensagens": "Bom dia\n---\n[IMAGEM enviada pelo mentorado]",
          "urgencia": "BAIXA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "A mensagem é apenas um cumprimento e uma imagem sem contexto adicional.",
          "sugestao_resposta": "Bom dia, Virginia! Tudo bem? Vi que você mandou uma imagem, mas não sei se veio com alguma pergunta ou comentário. Se precisar de algo, é só me falar."
        }
      },
      {
        "json": {
          "whatsapp_number": "138508467490907@lid",
          "contact_name": "Paula Melo",
          "qtd_mensagens": 1,
          "horas_aguardando": "0.1",
          "mensagens": "[AUDIO enviado pelo mentorado]",
          "urgencia": "BAIXA",
          "intencao": "NAO_MAPEADA",
          "justificativa": "A mensagem é um áudio e não há informações textuais para identificar a situação.",
          "sugestao_resposta": "Oi Paula! Acabei de ver seu áudio, mas não consigo ouvir aqui. Pode me mandar um resumo por texto ou me contar qual é a dúvida? Assim consigo te ajudar rapidinho."
        }
      }
    ]
  },
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "Normalizar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Payload": {
      "main": [
        [
          {
            "node": "Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip?": {
      "main": [
        [
          {
            "node": "Responder Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Incoming ou Outgoing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incoming ou Outgoing?": {
      "main": [
        [
          {
            "node": "Upsert Contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar Conversa como Lida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contato": {
      "main": [
        [
          {
            "node": "Inserir Mensagem Incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Mensagem Incoming": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Conversa como Lida": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendamento (seg-sex 18h BRT)": {
      "main": [
        [
          {
            "node": "Buscar Stats do Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Stats do Dia": {
      "main": [
        [
          {
            "node": "Montar Mensagem Diaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem Diaria": {
      "main": [
        [
          {
            "node": "Slack: Enviar Relatorio Diario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendamento (seg-sex 9-17h BRT)": {
      "main": [
        [
          {
            "node": "Buscar Conversas Nao Lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas Nao Lidas": {
      "main": [
        [
          {
            "node": "Tem conversas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem conversas?": {
      "main": [
        [
          {
            "node": "Montar Request OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Request OpenAI": {
      "main": [
        [
          {
            "node": "GPT-4o: Chamar API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o: Chamar API": {
      "main": [
        [
          {
            "node": "Parse + Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Merge": {
      "main": [
        [
          {
            "node": "Montar Mensagem 1 (Detalhada)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem 1 (Detalhada)": {
      "main": [
        [
          {
            "node": "Slack: Enviar Mensagem 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Enviar Mensagem 1": {
      "main": [
        [
          {
            "node": "Montar Mensagem 2 (Resumo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem 2 (Resumo)": {
      "main": [
        [
          {
            "node": "Slack: Enviar Mensagem 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendamento (seg-sex 9-17h BRT)1": {
      "main": [
        [
          {
            "node": "Buscar Conversas Nao Lidas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas Nao Lidas1": {
      "main": [
        [
          {
            "node": "Tem conversas?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem conversas?1": {
      "main": [
        [
          {
            "node": "Montar Request OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Request OpenAI1": {
      "main": [
        [
          {
            "node": "GPT-4o: Chamar API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o: Chamar API1": {
      "main": [
        [
          {
            "node": "Parse + Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Merge2": {
      "main": [
        [
          {
            "node": "Montar Mensagem 1 (Detalhada)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem 1 (Detalhada)2": {
      "main": [
        [
          {
            "node": "Slack: Enviar Mensagem 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Enviar Mensagem 3": {
      "main": [
        [
          {
            "node": "Montar Mensagem 2 (Resumo)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem 2 (Resumo)2": {
      "main": [
        [
          {
            "node": "Slack: Enviar Mensagem 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6bcdf01c-0638-4583-b23d-a2e64e631ef3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b87a7b22e6f8f8e72b82c32a120e635e1b911cba1a34774e10a9e3be2307bb7"
  },
  "id": "7fHxlT63h0R5tI3a",
  "tags": []
}