Fluxo — Navegadora Claude (3).json
{
  "name": "Fluxo — Navegadora Claude",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "883d1486-4271-4630-b200-0a29239cf201",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -912,
        -80
      ],
      "webhookId": "evolution-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza o payload da Evolution API\n// Eventos relevantes: 'messages.upsert'\n// Ignora grupos, ignora mensagens sem texto, extrai campos principais\n\nconst body = items[0].json.body || items[0].json;\nconst event = body.event;\n\n// So processamos messages.upsert\nif (event !== 'messages.upsert') {\n  return [{ json: { skip: true, reason: 'evento_nao_relevante', event } }];\n}\n\nconst data = body.data || {};\nconst key = data.key || {};\nconst remoteJid = key.remoteJid || '';\nconst fromMe = !!key.fromMe;\nconst msgId = key.id;\n\n// Ignora grupos (terminam em @g.us)\nif (remoteJid.endsWith('@g.us')) {\n  return [{ json: { skip: true, reason: 'mensagem_de_grupo' } }];\n}\n\n// Numero limpo (tira @s.whatsapp.net)\nconst number = remoteJid.replace('@s.whatsapp.net', '').replace('@c.us', '');\nif (!number) {\n  return [{ json: { skip: true, reason: 'sem_numero' } }];\n}\n\n// Extrai texto da mensagem (cobrindo varios formatos)\nconst msg = data.message || {};\nlet content =\n  msg.conversation ||\n  (msg.extendedTextMessage && msg.extendedTextMessage.text) ||\n  (msg.imageMessage && msg.imageMessage.caption) ||\n  (msg.videoMessage && msg.videoMessage.caption) ||\n  (msg.documentMessage && msg.documentMessage.caption) ||\n  '';\n\n// Marca tipo de midia pra dar contexto quando nao houver texto\nif (!content) {\n  if (msg.imageMessage) content = '[IMAGEM enviada pelo mentorado]';\n  else if (msg.videoMessage) content = '[VIDEO enviado pelo mentorado]';\n  else if (msg.audioMessage) content = '[AUDIO enviado pelo mentorado]';\n  else if (msg.documentMessage) content = '[DOCUMENTO enviado pelo mentorado]';\n  else if (msg.stickerMessage) content = '[FIGURINHA enviada pelo mentorado]';\n  else return [{ json: { skip: true, reason: 'mensagem_sem_conteudo' } }];\n}\n\nconst pushName = data.pushName || null;\n\nreturn [{\n  json: {\n    skip: false,\n    direction: fromMe ? 'outgoing' : 'incoming',\n    whatsapp_number: number,\n    contact_name: pushName,\n    content,\n    evolution_msg_id: msgId,\n    raw_event: event\n  }\n}];"
      },
      "id": "68dd683d-e160-4e4c-8e7a-47385f213d5b",
      "name": "Normalizar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "04e094d4-8c63-453d-a377-7dcc8d7cb6b8",
      "name": "Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "direction-check",
              "leftValue": "={{ $json.direction }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2c89b125-5f00-4a73-bc21-d44d7042a7b8",
      "name": "Incoming ou Outgoing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -176,
        64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT upsert_contact($1, $2) AS contact_id;",
        "options": {
          "queryReplacement": "={{ $json.whatsapp_number }},={{ $json.contact_name }}"
        }
      },
      "id": "6f403eed-d069-4407-aa64-32ae9d4ce356",
      "name": "Upsert Contato",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        80,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (contact_id, whatsapp_number, contact_name, direction, content, evolution_msg_id, status)\nVALUES ($1, $2, $3, 'incoming', $4, $5, 'unread')\nON CONFLICT (evolution_msg_id) DO NOTHING\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.contact_id }},={{ $('Normalizar Payload').item.json.whatsapp_number }},={{ $('Normalizar Payload').item.json.contact_name }},={{ $('Normalizar Payload').item.json.content }},={{ $('Normalizar Payload').item.json.evolution_msg_id }}"
        }
      },
      "id": "2c23ad21-97cb-4f36-b4c0-b2190d0dde65",
      "name": "Inserir Mensagem Incoming",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        336,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT mark_conversation_as_read($1) AS mensagens_marcadas_lidas;",
        "options": {
          "queryReplacement": "={{ $json.whatsapp_number }}"
        }
      },
      "id": "aeccedd1-1954-4402-add6-b3da56fc2cd4",
      "name": "Marcar Conversa como Lida",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        192,
        192
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      },
      "id": "58141314-1be6-4e96-9c88-22ea3d4e4653",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        576,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, skipped: true, reason: $json.reason } }}",
        "options": {}
      },
      "id": "013b64dc-5e7e-4f3c-ac71-d99437bb9b3c",
      "name": "Responder Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -160,
        -192
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 1-5"
            }
          ]
        }
      },
      "id": "8fe74be7-0ea5-4aff-b339-cf4a2b72c20a",
      "name": "Agendamento (seg-sex 18h BRT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_daily_stats(CURRENT_DATE);",
        "options": {}
      },
      "id": "da2770db-7bbf-4e32-b678-0f13a9e5f111",
      "name": "Buscar Stats do Dia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -672,
        352
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Monta a mensagem do relatorio diario pro Slack\nconst d = items[0].json;\n\nconst hoje = new Date().toLocaleDateString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit', month: '2-digit', year: 'numeric',\n  weekday: 'long'\n});\n\n// Helpers\nfunction fmtMin(valor) {\n  if (valor === null || valor === undefined) return '-';\n  const n = Number(valor);\n  if (isNaN(n)) return '-';\n  if (n < 60) return n.toFixed(1) + ' min';\n  const h = Math.floor(n / 60);\n  const m = Math.round(n % 60);\n  return h + 'h ' + m + 'min';\n}\n\nconst total       = Number(d.total_mensagens || 0);\nconst mentorados  = Number(d.mentorados_unicos || 0);\nconst respondidas = Number(d.mensagens_respondidas || 0);\nconst pendentes   = Number(d.mensagens_pendentes || 0);\nconst nomes       = d.nomes_unicos || '-';\n\nconst pctResp = total > 0 ? Math.round((respondidas / total) * 100) : 0;\n\n// Indicador visual do tempo medio\nlet indicador = '\\ud83d\\udfe2'; // verde\nconst medio = Number(d.tempo_medio_min || 0);\nif (medio > 120) indicador = '\\ud83d\\udd34';        // > 2h\nelse if (medio > 30) indicador = '\\ud83d\\udfe1';    // > 30min\n\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: '\\ud83d\\udcc5 Relatorio diario - ' + hoje, emoji: true }\n  },\n  { type: 'divider' },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: '\\ud83d\\udce8 *Mensagens recebidas*\\n' + total },\n      { type: 'mrkdwn', text: '\\ud83d\\udc65 *Mentorados unicos*\\n' + mentorados }\n    ]\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: '\\u2705 *Respondidas*\\n' + respondidas + ' (' + pctResp + '%)' },\n      { type: 'mrkdwn', text: '\\u23f3 *Ainda pendentes*\\n' + pendentes }\n    ]\n  },\n  { type: 'divider' },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: indicador + ' *Tempo de resposta do CS hoje*' }\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: '*Medio*\\n' + fmtMin(d.tempo_medio_min) },\n      { type: 'mrkdwn', text: '*Mediana*\\n' + fmtMin(d.tempo_mediano_min) },\n      { type: 'mrkdwn', text: '*Mais rapido*\\n' + fmtMin(d.tempo_min_min) },\n      { type: 'mrkdwn', text: '*Mais demorado*\\n' + fmtMin(d.tempo_max_min) }\n    ]\n  },\n  { type: 'divider' },\n  {\n    type: 'context',\n    elements: [{ type: 'mrkdwn', text: '\\ud83d\\udc64 *Mentorados que chamaram hoje:* ' + nomes }]\n  }\n];\n\nreturn [{\n  json: {\n    blocks,\n    fallback_text: 'Relatorio diario - ' + total + ' mensagens de ' + mentorados + ' mentorados'\n  }\n}];"
      },
      "id": "dd35c3a8-e7b3-457c-8a3c-0f69f406489a",
      "name": "Montar Mensagem Diaria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        352
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B0GC48EV8",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify($json.blocks) }}",
        "text": "={{ $json.fallback_text }}",
        "otherOptions": {}
      },
      "id": "706470d7-4652-4b6a-bb3a-9ce2723fb5e3",
      "name": "Slack: Enviar Relatorio Diario",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -96,
        352
      ],
      "webhookId": "c72c0bb8-dcb0-4b64-906a-31d5a9c7d1b9",
      "credentials": {
        "slackApi": {
          "id": "dBI2K3V3j9FYHqyb",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9-17/2 * * 1-5"
            }
          ]
        }
      },
      "id": "67cf16d8-642f-42a3-a860-a4a4256950c4",
      "name": "Agendamento (seg-sex 9-17h BRT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1520,
        640
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  whatsapp_number,\n  contact_name,\n  qtd_mensagens,\n  mensagens_concatenadas,\n  horas_aguardando,\n  primeira_mensagem_em,\n  ultima_mensagem_em\nFROM v_unread_conversations;",
        "options": {}
      },
      "id": "9d7ef9e0-9bef-4c3e-bbbd-55a0138780b5",
      "name": "Buscar Conversas Nao Lidas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1232,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "tem-mensagens",
              "leftValue": "={{ $json.whatsapp_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8fa43024-f170-49f9-95a1-f98b98d19dad",
      "name": "Tem conversas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -992,
        640
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Monta o body da request pra OpenAI\n// ATENCAO: o playbook (Mentoria Fluxo) vive aqui. Pra adicionar uma nova situacao,\n// edite a secao \"# PLAYBOOK\" abaixo.\n\nconst systemPrompt = `Você é um agente de sugestão de resposta para Ana, navegadora de Customer Success da Mentoria Fluxo, uma mentoria high ticket de marketing digital.\nSua função é receber mensagens enviadas por mentorados, identificar a situação, classificar a urgência e gerar uma sugestão de resposta pronta para Ana copiar, ajustar se precisar, e usar no WhatsApp ou Slack.\nVocê não responde diretamente ao mentorado. Você sugere respostas para Ana usar.\n\n# REGRAS DE COMUNICAÇÃO (aplicam-se sempre, sem exceção)\n- Nunca use travessão nem hífen duplo. Substitua por vírgula, ponto ou parênteses.\n- Nunca use listas com marcadores. Mensagens são em prosa.\n- Nunca use jargões de IA: \"posso te ajudar com isso\", \"fico à disposição\", \"espero ter ajudado\", \"claro!\", \"certamente\", \"com prazer\".\n- Adapte tom, formalidade, comprimento e uso de emojis ao jeito como o mentorado escreveu.\n- Se o mentorado for curto e seco, responda curto. Se for caloroso, responda caloroso.\n- O emoji padrão de Ana é 😂, usado com naturalidade quando o contexto pede.\n- Linguagem natural, conversacional, brasileira. Tom de parceira próxima, não de atendente.\n- Máximo 4 parágrafos curtos.\n- Chama a pessoa pelo primeiro nome quando disponível.\n- Não prometa prazos que não estão no playbook.\n- Não invente links. Use placeholders entre colchetes quando a URL real não está no playbook.\n- Se urgência ALTA: abra reconhecendo o incômodo ou pedindo desculpa pela demora, antes da resposta base.\n\n# CRITÉRIOS DE URGÊNCIA\n- ALTA: insatisfação clara, cobrança, ameaça de cancelar ou pedir reembolso, tom agressivo ou muito impaciente, problema bloqueador (pagou e não recebeu, sem acesso), segundo contato sem resposta.\n- MEDIA: dúvida operacional com alguma pressa, impaciência leve, pedido de feedback, pedido que trava o andamento do aluno.\n- BAIXA: dúvida casual, feedback positivo, agradecimento, bate-papo, curiosidade, apresentação inicial tranquila, mensagem de áudio sem contexto de problema, atualização positiva.\n- IMPORTANTE: tempo de espera alto SEM sinal claro de insatisfação ou bloqueio NÃO eleva a urgência para ALTA sozinho. Avalie o conteúdo da mensagem, não apenas o tempo de espera.\n\n# PLAYBOOK DE SITUAÇÕES\n\n## BOAS_VINDAS\nGatilhos: \"acabei de entrar na mentoria\", \"sou novo aqui\", \"acabei de comprar o Fluxo\", \"me passaram seu número\", \"primeira mensagem aqui\", \"estou começando agora\", \"acabei de ter acesso\".\nResposta base:\nSeja muito bem-vindo(a) à Mentoria Fluxo. Muito feliz em te conhecer. Eu sou a Ana, vou te ajudar durante o seu projeto aqui no Fluxo. Pode contar comigo pra tirar dúvidas e dar feedback dos materiais que você construir.\nQueria conhecer o seu projeto por você antes de qualquer coisa. Me conta, pode ser por áudio mesmo. Um pouco do seu cenário no digital.\nE ah, vou aproveitar pra já deixar aqui algumas informações importantes. https://drive.google.com/drive/folders/1CoAutlZ68pPcAQd0U8PsAlkf4WtvZlyG?usp=sharing\nLembrete: [ENVIAR CARD DE BOAS-VINDAS junto com essa mensagem]\n\n## FEEDBACK_PAGINA_VENDAS\nGatilhos: \"minha página de vendas está pronta\", \"terminei a página\", \"você consegue revisar minha página\", \"fiz a página, posso mandar o link\", \"quero que o time de copy veja minha página\", \"acabei de escrever a copy da página\".\nResposta base:\nManda pra mim do jeito que estiver. Assim que eu receber, encaminho para o time de copy. O prazo de devolutiva é de até 4 dias úteis.\n\n## FEEDBACK_ANUNCIO\nGatilhos: \"meu anúncio está pronto, pode revisar\", \"criei os criativos, quero um feedback\", \"terminei os anúncios\", \"posso mandar os anúncios para feedback\", \"finalizei a copy do anúncio\".\nResposta base:\nPode mandar do jeito que estiver. Encaminho para o time de copy assim que receber. O prazo é de até 4 dias úteis.\n\n## FEEDBACK_QUIZ\nGatilhos: \"meu quiz está pronto, pode revisar\", \"terminei as perguntas do quiz\", \"posso mandar o quiz para vocês verem\", \"acabei de montar o quiz\".\nResposta base:\nPode mandar do jeito que estiver. Encaminho para o time de copy assim que receber. O prazo é de até 4 dias úteis.\n\n## FEEDBACK_CONTEUDO_PRODUTO\nGatilhos: \"posso pedir feedback do conteúdo do meu curso\", \"podem revisar o material do meu produto\", \"quero feedback da estrutura do meu e-book\", \"podem ver a copy do meu checkout\", \"o time revisa e-mail de venda\".\nResposta base:\nEsse tipo de material a gente não cobre no feedback, porque ele está diretamente ligado à sua expertise e ao que você vai entregar. O time de copy foca nos materiais de marketing: página de vendas, anúncio e quiz. Qualquer um desses que você precisar, é só mandar.\n\n## FEEDBACK_TRAFEGO\nGatilhos: \"minha campanha não está performando\", \"o CPM está muito alto\", \"meus anúncios não estão entregando\", \"quero entender minhas métricas\", \"as campanhas estão rodando mas sem resultado\".\nResposta base: (sem resposta modelo definida, coletar contexto primeiro)\nLembrete: [Perguntar a Ana antes de responder: 1. Qual plataforma? 2. Quais métricas ele compartilhou? 3. Qual é o objetivo da campanha? 4. Há quanto tempo está rodando? 5. Compartilhou criativos ou só métricas? 6. Qual é o problema específico?]\n\n## ACAO_ANUNCIO\nGatilhos: \"vou criar meu anúncio agora\", \"vou começar a montar os criativos\", \"hoje vou escrever a copy do anúncio\", \"estou produzindo os anúncios\", \"fui criar os anúncios\".\nResposta base:\nBoa, vai lá. Quando estiver pronto me manda para eu encaminhar para o time de copy dar um olhar. Os materiais de referência estão no seu plano de ação. E se surgir alguma dúvida no caminho ou quiser complementar alguma coisa, pode me chamar.\n\n## ACAO_PAGINA\nGatilhos: \"vou criar minha página de vendas hoje\", \"vou montar a landing page agora\", \"estou construindo minha página\", \"vou começar a página de vendas\".\nResposta base:\nBoa, vai lá. Quando estiver pronta me manda para eu encaminhar para o time de copy dar um olhar. Os materiais de referência estão no seu plano de ação. Qualquer dúvida no caminho, me chama.\n\n## ACAO_QUIZ\nGatilhos: \"vou criar o quiz agora\", \"vou montar as perguntas do quiz hoje\", \"estou fazendo o quiz\", \"vou começar o quiz\".\nResposta base:\nBoa, vai lá. Quando estiver pronto me manda para eu encaminhar para o time de copy. Os materiais estão no seu plano de ação. Qualquer dúvida no caminho, me chama.\n\n## ACAO_PRIMEIRA_CAMPANHA\nGatilhos: \"vou subir minha primeira campanha agora\", \"hoje é o dia, vou colocar no ar\", \"vou ativar a campanha\", \"minha campanha vai ao ar hoje\", \"vou subir os anúncios\".\nResposta base:\nBoa, vai lá. Quando estiver no ar me manda. Os materiais estão no seu plano de ação. Qualquer dúvida no caminho, me chama.\n\n## FLUXER_NAO_FUNCIONA\nGatilhos: \"o Fluxo não está abrindo\", \"não consigo acessar o Fluxer\", \"a plataforma está fora do ar\", \"o Fluxer deu erro\", \"não estou conseguindo entrar\", \"o sistema não está funcionando\".\nResposta base:\nMe manda um vídeo mostrando o que está acontecendo para eu conseguir encaminhar para o time técnico. Enquanto isso, tenta fazer um Ctrl+Shift+R na página ou abrir em uma aba anônima, às vezes já resolve.\n\n## GRAVACAO_ANALISE\nGatilhos: \"quando fica disponível a gravação da análise\", \"não achei a gravação da minha sessão\", \"a gravação do plano de ação já está no Fluxer\", \"cadê o vídeo da minha análise\", \"quando posso assistir a análise de novo\".\nResposta base:\nA gravação fica disponível em até 7 dias úteis depois da sessão, direto no Fluxer.\n\n## LINK_AULA_NAO_ABRE\nGatilhos: \"o link da aula não abre\", \"cliquei na tarefa e não carrega\", \"a aula está dando erro\", \"não consigo acessar o conteúdo\", \"o módulo não está abrindo\".\nResposta base:\nMe manda um vídeo mostrando o que está acontecendo para eu conseguir encaminhar para o time técnico. Enquanto isso, tenta um Ctrl+Shift+R na página ou abre em uma aba anônima.\n\n## AGENDAR_ANALISE\nGatilhos: \"como faço para agendar minha análise\", \"onde acho o link para marcar a sessão\", \"quero agendar minha análise\", \"não achei onde agendar\", \"como marco a análise\".\nResposta base:\nÉ pelo Fluxer, aqui: https://flx.vendatodosantodia.com.br/academy\n\n## MENTORADO_VOLTOU\nGatilhos: \"sumiei um pouco, mas voltei\", \"estava muito ocupado, mas agora tenho mais tempo\", \"passei por um período complicado\", \"estava difícil mas não desisti\", \"voltei, estava meio perdido\".\nResposta base:\nQue bom que você voltou. Tudo bem, a vida acontece. Me conta onde você parou e o que está rolando agora. E já aproveita para agendar uma nova análise para a gente retomar com tudo: https://flx.vendatodosantodia.com.br/academy\n\n## EXTENSAO_PRAZO\nGatilhos: \"preciso de mais tempo na mentoria\", \"posso estender meu acesso\", \"não consegui aproveitar direito, tem como prorrogar\", \"meu acesso vai vencer, como renovo\", \"queria mais um mês\".\nSe o mentorado deu o motivo: Entendo. Extensão de prazo não é uma prática padrão da mentoria, mas vou levar sua situação para o time conversar. Assim que tiver um retorno, te falo.\nSe o mentorado não deu o motivo: Claro, me conta o que aconteceu para eu conseguir levar sua situação para o time da forma certa.\n\n## CONQUISTA\nGatilhos: \"fiz minha primeira venda\", \"bati minha meta\", \"minha campanha está performando muito bem\", \"consegui meu primeiro cliente\", \"recebi meu primeiro pagamento\", \"os resultados estão vindo\".\nResposta base:\nQue notícia boa. Coisas boas acontecem no caminho de quem está no caminho, e você está no caminho certo. A meta agora é otimizar para escalar cada vez mais. E sempre que tiver uma conquista dessa, me conta, adoro acompanhar de perto.\n\n## FRUSTRADO_DESANIMADO\nGatilhos: \"não está dando resultado nenhum\", \"estou pensando em desistir\", \"não sei se vale a pena continuar\", \"não estou vendo evolução\", \"estou desmotivado\", \"tá difícil demais\".\nSe o mentorado não deu o motivo: Entendo. Me conta o que está acontecendo. O que te deixou assim?\nSe o mentorado deu o motivo: Faz todo sentido sentir isso. Só que não dá para deixar a resistência vencer. O cansaço causa resistência, o excesso de atividades causa resistência, o dia difícil causa resistência. O que separa quem chega lá é não parar. O maior segredo é a constância. Fazer pelo menos uma coisa por dia é o que, no final, vai mostrar tudo que você construiu. Lembra por que você começou e faz pelo menos uma coisa hoje.\n\n## MUDANCA_NICHO_PRODUTO\nGatilhos: \"estou pensando em mudar de nicho\", \"quero trocar de produto\", \"acho que meu nicho não está funcionando\", \"pensei em um produto diferente\", \"será que não deveria mudar\".\nSe o mentorado deu o motivo e o novo nicho: Mudar de projeto no meio da mentoria não é uma prática que a gente incentiva, porque a gente precisa de um tempo mínimo trabalhando em cima de um projeto para conseguir entregar resultado. Mas vou levar sua situação para o time conversar. Só fica com esse ponto como reflexão: mudar muito de projeto acaba fazendo com que nenhum chegue ao final, e isso é um problema sério para quem quer escalar no digital.\nSe o mentorado não deu o motivo: Me conta mais. O que te fez pensar em mudar?\n\n## INDICACAO_FERRAMENTA\nGatilhos: \"qual ferramenta você indica para criar minha página\", \"qual editor de vídeo usar\", \"onde fazer o quiz\", \"que ferramenta uso para criar e-book\", \"tem alguma indicação de plataforma\".\nResposta base:\nIndicação direta a gente não costuma dar, porque depende muito do seu nível de habilidade técnica e do que você precisa. Esse espaço de troca de ferramentas fica bem nos grupos, onde você pode ver o que outros mentorados usam. Mas posso te dar algumas referências para pesquisar. Página de vendas: o Lovable é a opção mais simples e prática para esse momento. Quiz: o Enlead costuma ser bem indicado. Editor de vídeo: o CapCut é fácil e funciona bem. E-book ou mockup: o Canva resolve bem.\n\n## BONUS\nGatilhos: \"quais são os meus bônus\", \"tenho direito a algum bônus\", \"como acesso meu bônus\", \"me falaram de uma call de bônus\", \"quando recebo os bônus do plano de ação\".\nSe for bônus de plano de ação 1 ou 2: Que ótimo. Você ganhou uma call de bônus e pode escolher se prefere que seja de copy ou de tráfego. Qual você quer?\nSe for outro bônus: Parabéns, esse é um presente que poucos recebem. Vou verificar com o time os detalhes do seu bônus e retorno ainda hoje.\n\n## REMARCAR_CANCELAR_ANALISE\nGatilhos: \"preciso remarcar minha análise\", \"não vou conseguir ir na sessão\", \"posso cancelar minha análise\", \"quero mudar o horário\", \"surgiu um imprevisto no horário da análise\".\nResposta base:\nTudo bem. Para manter o registro certinho, entra no Fluxer e cancela por lá: https://flx.vendatodosantodia.com.br/academy. Me fala se já tem um novo dia ou horário em mente que eu faço o reagendamento direto pra você. E se não der tempo de cancelar antes da sessão, me avisa antes para eu não deixar o analisador esperando.\n\n## PROBLEMA_FERRAMENTA_EXTERNA\nGatilhos: \"estou com problema no Meta Ads\", \"o ManyChat não está funcionando\", \"tive um erro na Hotmart\", \"não sei como configurar a Kiwify\", \"meu Pixel não está disparando\", \"erro na ferramenta externa\".\nResposta base:\nFerramentas externas a gente não tem como dar suporte, porque elas são administradas por servidores independentes da mentoria. Qualquer erro nesses sistemas muda rápido demais para a gente conseguir acompanhar. O que funciona nesses casos é contatar o suporte da própria plataforma, que tem acesso direto ao que está acontecendo. [LINK DO SUPORTE DA PLATAFORMA MENCIONADA]\nLembrete: [Buscar e incluir o link oficial de suporte da ferramenta que o mentorado mencionou]\n\n## MENSAGEM_CONTINUACAO\nGatilhos: mensagem muito curta e sem contexto suficiente (\"ok\", \"certo\", \"entendi\", \"sim\", \"não\", \"ambos\", \"pode ser\", \"tá bem\", \"beleza\") — claramente uma resposta a algo anterior sem contexto visível.\nResposta base: peça mais contexto de forma natural, sem expor que não viu a mensagem anterior.\n\n# FALLBACK\nSe a mensagem não se encaixar em nenhuma situação acima:\n- Se for só áudio(s) sem texto: gere uma resposta acolhedora dizendo que vai ouvir e já responde.\n- Se for mensagem vaga ou continuação sem contexto anterior visível: peça mais detalhes de forma natural e conversacional.\n- Para qualquer outra situação: gere uma resposta completa seguindo todas as regras de comunicação.\nUse \"intencao\": \"NAO_MAPEADA\" no JSON.\n\n# FORMATO DE SAÍDA (JSON obrigatório — nenhum texto fora do JSON)\n{\n  \"urgencia\": \"ALTA|MEDIA|BAIXA\",\n  \"intencao\": \"ID_DA_SITUACAO ou NAO_MAPEADA\",\n  \"justificativa\": \"uma frase curta explicando a urgência e por que essa situação bateu\",\n  \"sugestao_resposta\": \"texto pronto para Ana copiar e usar\",\n  \"lembrete\": \"ação necessária para Ana, como anexar arquivo ou buscar link. Deixar em branco se não houver.\"\n}`;\n\n// Sanitiza entradas pra nao quebrar template literals\nconst sanitize = (s) => String(s == null ? '' : s).replace(/`/g, \"'\");\n\nconst mentorado = sanitize($json.contact_name) || 'Sem nome';\nconst numero    = sanitize($json.whatsapp_number);\nconst horas     = Number($json.horas_aguardando || 0).toFixed(1);\nconst qtd       = Number($json.qtd_mensagens || 0);\nconst msgs      = sanitize($json.mensagens_concatenadas);\n\nconst userPrompt = `Mentorado: ${mentorado}\nNúmero: ${numero}\nHoras aguardando resposta: ${horas}\nQuantidade de mensagens não lidas: ${qtd}\n\nConteúdo das mensagens (em ordem cronológica):\n\"\"\"\n${msgs}\n\"\"\"\n\nAnalise e responda em JSON.`;\n\nreturn {\n  json: {\n    whatsapp_number: numero,\n    contact_name: mentorado,\n    mensagens_concatenadas: msgs,\n    horas_aguardando: horas,\n    qtd_mensagens: qtd,\n    anthropic_body: {\n      model: 'claude-sonnet-4-6',\n      max_tokens: 1024,\n      temperature: 0.3,\n      system: [\n        {\n          type: 'text',\n          text: systemPrompt,\n          cache_control: { type: 'ephemeral' }\n        }\n      ],\n      messages: [\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n};"
      },
      "id": "8288d2a5-b2ce-43f2-854d-9c972dab812d",
      "name": "Montar Request Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "prompt-caching-2024-07-31"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        },
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "d47a0a7e-bf5a-40b6-84cc-c6a1cafabcad",
      "name": "Claude Sonnet: Chamar API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        624
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic_header_auth",
          "name": "Anthropic API Key (x-api-key)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Pareia a resposta do GPT com os dados originais do contato\nconst claudeResp = $json;\nconst original   = $('Montar Request Claude').item.json;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(claudeResp.content[0].text);\n} catch (e) {\n  parsed = {\n    urgencia: 'MEDIA',\n    intencao: 'ERRO_PARSE',\n    justificativa: 'Falha no parse do GPT - revisar manualmente',\n    sugestao_resposta: '(Erro ao gerar sugestao - revise a mensagem original)'\n  };\n}\n\nconst urgenciaNorm = (parsed.urgencia || 'MEDIA').toUpperCase();\nconst intencaoNorm = (parsed.intencao || 'NAO_MAPEADA').toUpperCase();\n\nreturn {\n  json: {\n    whatsapp_number: original.whatsapp_number,\n    contact_name: original.contact_name || 'Sem nome',\n    qtd_mensagens: Number(original.qtd_mensagens),\n    horas_aguardando: original.horas_aguardando,\n    mensagens: original.mensagens_concatenadas,\n    urgencia: urgenciaNorm,\n    intencao: intencaoNorm,\n    justificativa: parsed.justificativa || '',\n    sugestao_resposta: parsed.sugestao_resposta || ''\n  }\n};\n"
      },
      "id": "8187b474-e496-444b-a15b-15ee309af334",
      "name": "Parse + Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        624
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const urgencia = $json.urgencia || 'BAIXA';\nconst intencao = $json.intencao || 'NAO_MAPEADA';\nconst justificativa = $json.justificativa || '';\nconst sugestao = $json.sugestao_resposta || '';\nconst nome = $json.contact_name || 'Sem nome';\nconst horas = $json.horas_aguardando || '0';\nconst qtd = $json.qtd_mensagens || '0';\nconst msgs = $json.mensagens || '';\n\nconst emoji = { 'ALTA': '🔴', 'MEDIA': '🟡', 'BAIXA': '🟢' }[urgencia] || '⚪';\n\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: `${emoji} ${nome} — ${urgencia}` }\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: `*Situação:*\\n${intencao}` },\n      { type: 'mrkdwn', text: `*Aguardando:*\\n${horas}h (${qtd} mensagem(ns))` }\n    ]\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Por que essa urgência:*\\n${justificativa}`\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Mensagens recebidas:*\\n\\`\\`\\`${msgs.slice(0, 500)}${msgs.length > 500 ? '...' : ''}\\`\\`\\``\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Sugestão de resposta:*\\n${sugestao}`\n    }\n  },\n  { type: 'divider' }\n];\n\nreturn {\n  json: {\n    blocks: JSON.stringify(blocks),\n    text: `${emoji} ${nome}: ${urgencia}`\n  }\n};"
      },
      "id": "6157789a-7600-429f-9462-231d45498ad1",
      "name": "Montar Mensagem 1 (Detalhada)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        624
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B0GC48EV8",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={{ $json.blocks }}",
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "26cfb4b0-73ed-4965-8a68-961963cb0798",
      "name": "Slack: Enviar Mensagem 1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        256,
        624
      ],
      "webhookId": "13ce9eb7-00ce-4fed-b37f-9b70251b47ad",
      "credentials": {
        "slackApi": {
          "id": "dBI2K3V3j9FYHqyb",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $('Parse + Merge').all();\nconst results = [];\n\nfor (const item of items) {\n  const urgencia = item.json.urgencia || 'BAIXA';\n  const intencao = item.json.intencao || 'NAO_MAPEADA';\n  const nome = item.json.contact_name || 'Sem nome';\n  const horas = item.json.horas_aguardando || '0';\n  const qtd = item.json.qtd_mensagens || '0';\n  const msgs = item.json.mensagens || '';\n  const sugestao = item.json.sugestao_resposta || '';\n  const justificativa = item.json.justificativa || '';\n\n  const emoji = { 'ALTA': '🔴', 'MEDIA': '🟡', 'BAIXA': '🟢' }[urgencia] || '⚪';\n\n  let texto = `${emoji} *${nome}* — ${urgencia}\\n\\n`;\n  texto += `*Situação identificada:* ${intencao}\\n`;\n  texto += `*Aguardando:* ${horas}h (${qtd} mensagem(ns))\\n`;\n  texto += `*Por que essa urgência:* ${justificativa}\\n\\n`;\n  texto += `*Mensagens recebidas:*\\n\\`\\`\\`${msgs.slice(0, 500)}${msgs.length > 500 ? '...' : ''}\\`\\`\\`\\n\\n`;\n  texto += `*Sugestão de resposta:*\\n${sugestao}`;\n\n  results.push({ json: { text: texto } });\n}\n\nreturn results;"
      },
      "id": "c6aabf3e-6240-4a3a-943b-32dcff7ce634",
      "name": "Montar Mensagem 2 (Resumo)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        624
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B0GC48EV8",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "e0153b97-97c7-465f-88de-da000b921cd5",
      "name": "Slack: Enviar Mensagem 2",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        688,
        624
      ],
      "webhookId": "8c073d9d-bfda-4b44-b7b9-320bfb7b3853",
      "credentials": {
        "slackApi": {
          "id": "dBI2K3V3j9FYHqyb",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Aqui é o prompt",
        "height": 320,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        528
      ],
      "typeVersion": 1,
      "id": "5534a379-9787-41e7-832e-4e5baefa4ee7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Node é o quadradinho\n\n## Input é o que entra e Output é o que sai",
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        864
      ],
      "typeVersion": 1,
      "id": "afdea53f-fc71-4eb2-ab41-10a24a2e21eb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Esse aqui monta a requisição para a IA fazer a análise",
        "height": 320,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        528
      ],
      "typeVersion": 1,
      "id": "500b20d1-b218-4f36-9962-741b72ff34ca",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "Normalizar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Payload": {
      "main": [
        [
          {
            "node": "Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip?": {
      "main": [
        [
          {
            "node": "Responder Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Incoming ou Outgoing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incoming ou Outgoing?": {
      "main": [
        [
          {
            "node": "Upsert Contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar Conversa como Lida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contato": {
      "main": [
        [
          {
            "node": "Inserir Mensagem Incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Mensagem Incoming": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Conversa como Lida": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendamento (seg-sex 18h BRT)": {
      "main": [
        [
          {
            "node": "Buscar Stats do Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Stats do Dia": {
      "main": [
        [
          {
            "node": "Montar Mensagem Diaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem Diaria": {
      "main": [
        [
          {
            "node": "Slack: Enviar Relatorio Diario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendamento (seg-sex 9-17h BRT)": {
      "main": [
        [
          {
            "node": "Buscar Conversas Nao Lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas Nao Lidas": {
      "main": [
        [
          {
            "node": "Tem conversas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem conversas?": {
      "main": [
        [
          {
            "node": "Montar Request Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Merge": {
      "main": [
        [
          {
            "node": "Montar Mensagem 1 (Detalhada)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem 1 (Detalhada)": {
      "main": [
        [
          {
            "node": "Slack: Enviar Mensagem 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Enviar Mensagem 1": {
      "main": [
        [
          {
            "node": "Montar Mensagem 2 (Resumo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem 2 (Resumo)": {
      "main": [
        [
          {
            "node": "Slack: Enviar Mensagem 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Request Claude": {
      "main": [
        [
          {
            "node": "Claude Sonnet: Chamar API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet: Chamar API": {
      "main": [
        [
          {
            "node": "Parse + Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6bcdf01c-0638-4583-b23d-a2e64e631ef3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b87a7b22e6f8f8e72b82c32a120e635e1b911cba1a34774e10a9e3be2307bb7"
  },
  "id": "7fHxlT63h0R5tI3a",
  "tags": []
}