Workflow dash.json
{
  "name": "Workflow dash",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b0399c76-a93a-4763-99eb-81d0ca8d4b38",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1536,
        -752
      ],
      "webhookId": "evolution-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza o payload da Evolution API\n// Eventos relevantes: 'messages.upsert'\n// Ignora grupos, ignora mensagens sem texto, extrai campos principais\n\nconst body = items[0].json.body || items[0].json;\nconst event = body.event;\n\n// So processamos messages.upsert\nif (event !== 'messages.upsert') {\n  return [{ json: { skip: true, reason: 'evento_nao_relevante', event } }];\n}\n\nconst data = body.data || {};\nconst key = data.key || {};\nconst remoteJid = key.remoteJid || '';\nconst fromMe = !!key.fromMe;\nconst msgId = key.id;\n\n// Ignora grupos (terminam em @g.us)\nif (remoteJid.endsWith('@g.us')) {\n  return [{ json: { skip: true, reason: 'mensagem_de_grupo' } }];\n}\n\n// Numero limpo (tira @s.whatsapp.net)\nconst number = remoteJid.replace('@s.whatsapp.net', '').replace('@c.us', '');\nif (!number) {\n  return [{ json: { skip: true, reason: 'sem_numero' } }];\n}\n\n// Extrai texto da mensagem (cobrindo varios formatos)\nconst msg = data.message || {};\nlet content =\n  msg.conversation ||\n  (msg.extendedTextMessage && msg.extendedTextMessage.text) ||\n  (msg.imageMessage && msg.imageMessage.caption) ||\n  (msg.videoMessage && msg.videoMessage.caption) ||\n  (msg.documentMessage && msg.documentMessage.caption) ||\n  '';\n\n// Marca tipo de midia pra dar contexto quando nao houver texto\nif (!content) {\n  if (msg.imageMessage) content = '[IMAGEM enviada pelo mentorado]';\n  else if (msg.videoMessage) content = '[VIDEO enviado pelo mentorado]';\n  else if (msg.audioMessage) content = '[AUDIO enviado pelo mentorado]';\n  else if (msg.documentMessage) content = '[DOCUMENTO enviado pelo mentorado]';\n  else if (msg.stickerMessage) content = '[FIGURINHA enviada pelo mentorado]';\n  else return [{ json: { skip: true, reason: 'mensagem_sem_conteudo' } }];\n}\n\nconst pushName = data.pushName || null;\nconst instancia = body.instance || body.instanceName || null;\n\nreturn [{\n  json: {\n    skip: false,\n    direction: fromMe ? 'outgoing' : 'incoming',\n    whatsapp_number: number,\n    contact_name: pushName,\n    content,\n    evolution_msg_id: msgId,\n    instancia,\n    raw_event: event\n  }\n}];"
      },
      "id": "a36797ee-54a5-44c9-b4c9-9f7f0a3e1758",
      "name": "Normalizar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "be75cefd-2a92-4b3d-a9ca-396b49560920",
      "name": "Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2048,
        -752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "direction-check",
              "leftValue": "={{ $json.direction }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d18ee878-e844-4b56-a613-7fb1d34c0760",
      "name": "Incoming ou Outgoing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2272,
        -608
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT upsert_contact($1, $2) AS contact_id;",
        "options": {
          "queryReplacement": "={{ [$json.whatsapp_number, $json.contact_name] }}"
        }
      },
      "id": "5d6969e9-003a-423f-b8bb-f3eb97367656",
      "name": "Upsert Contato",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2528,
        -752
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (contact_id, whatsapp_number, contact_name, direction, content, evolution_msg_id, status, instancia)\nVALUES ($1, $2, $3, 'incoming', $4, $5, 'unread', $6)\nON CONFLICT (evolution_msg_id) DO NOTHING\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.contact_id, $('Normalizar Payload').item.json.whatsapp_number, $('Normalizar Payload').item.json.contact_name, $('Normalizar Payload').item.json.content, $('Normalizar Payload').item.json.evolution_msg_id, $('Normalizar Payload').item.json.instancia] }}"
        }
      },
      "id": "b7141b35-91b6-464c-a556-83fa141e3727",
      "name": "Inserir Mensagem Incoming",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2784,
        -752
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT mark_conversation_as_read($1) AS mensagens_marcadas_lidas;",
        "options": {
          "queryReplacement": "={{ $json.whatsapp_number }}"
        }
      },
      "id": "e66d295f-30c7-41b2-b52b-fdcefa86e21b",
      "name": "Marcar Conversa como Lida",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2640,
        -480
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      },
      "id": "8f06c1f7-d0d2-4903-a211-a8715a4a3728",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3024,
        -592
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, skipped: true, reason: $json.reason } }}",
        "options": {}
      },
      "id": "1bd1e2df-f392-4bba-9480-eab8cc72cfc9",
      "name": "Responder Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2288,
        -864
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * 1-5"
            }
          ]
        }
      },
      "id": "dc5b7271-361f-4ff8-9d27-1ba4aacc44d9",
      "name": "Agendamento (seg-sex 18h BRT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1456,
        -320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_daily_stats(CURRENT_DATE);",
        "options": {}
      },
      "id": "3cb160d2-6d4e-4510-8c6c-76e4dc3148a8",
      "name": "Buscar Stats do Dia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1776,
        -320
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Monta a mensagem do relatorio diario pro Slack\nconst d = items[0].json;\n\nconst hoje = new Date().toLocaleDateString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit', month: '2-digit', year: 'numeric',\n  weekday: 'long'\n});\n\n// Helpers\nfunction fmtMin(valor) {\n  if (valor === null || valor === undefined) return '-';\n  const n = Number(valor);\n  if (isNaN(n)) return '-';\n  if (n < 60) return n.toFixed(1) + ' min';\n  const h = Math.floor(n / 60);\n  const m = Math.round(n % 60);\n  return h + 'h ' + m + 'min';\n}\n\nconst total       = Number(d.total_mensagens || 0);\nconst mentorados  = Number(d.mentorados_unicos || 0);\nconst respondidas = Number(d.mensagens_respondidas || 0);\nconst pendentes   = Number(d.mensagens_pendentes || 0);\nconst nomes       = d.nomes_unicos || '-';\n\nconst pctResp = total > 0 ? Math.round((respondidas / total) * 100) : 0;\n\n// Indicador visual do tempo medio\nlet indicador = '\\ud83d\\udfe2'; // verde\nconst medio = Number(d.tempo_medio_min || 0);\nif (medio > 120) indicador = '\\ud83d\\udd34';        // > 2h\nelse if (medio > 30) indicador = '\\ud83d\\udfe1';    // > 30min\n\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: '\\ud83d\\udcc5 Relatorio diario - ' + hoje, emoji: true }\n  },\n  { type: 'divider' },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: '\\ud83d\\udce8 *Mensagens recebidas*\\n' + total },\n      { type: 'mrkdwn', text: '\\ud83d\\udc65 *Mentorados unicos*\\n' + mentorados }\n    ]\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: '\\u2705 *Respondidas*\\n' + respondidas + ' (' + pctResp + '%)' },\n      { type: 'mrkdwn', text: '\\u23f3 *Ainda pendentes*\\n' + pendentes }\n    ]\n  },\n  { type: 'divider' },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: indicador + ' *Tempo de resposta do CS hoje*' }\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: '*Medio*\\n' + fmtMin(d.tempo_medio_min) },\n      { type: 'mrkdwn', text: '*Mediana*\\n' + fmtMin(d.tempo_mediano_min) },\n      { type: 'mrkdwn', text: '*Mais rapido*\\n' + fmtMin(d.tempo_min_min) },\n      { type: 'mrkdwn', text: '*Mais demorado*\\n' + fmtMin(d.tempo_max_min) }\n    ]\n  },\n  { type: 'divider' },\n  {\n    type: 'context',\n    elements: [{ type: 'mrkdwn', text: '\\ud83d\\udc64 *Mentorados que chamaram hoje:* ' + nomes }]\n  }\n];\n\nreturn [{\n  json: {\n    blocks,\n    fallback_text: 'Relatorio diario - ' + total + ' mensagens de ' + mentorados + ' mentorados'\n  }\n}];"
      },
      "id": "c515535d-e8b5-4fb8-a581-93ddf05e6a39",
      "name": "Montar Mensagem Diaria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configurar Supabase 18h').item.json.supabase_url }}/rest/v1/relatorios_diarios",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $('Configurar Supabase 18h').item.json.supabase_anon_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configurar Supabase 18h').item.json.supabase_anon_key }}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: new Date().toISOString().slice(0,10), total_mensagens: $('Buscar Stats do Dia').item.json.total_mensagens, mentorados_unicos: $('Buscar Stats do Dia').item.json.mentorados_unicos, nomes_unicos: $('Buscar Stats do Dia').item.json.nomes_unicos, mensagens_respondidas: $('Buscar Stats do Dia').item.json.mensagens_respondidas, mensagens_pendentes: $('Buscar Stats do Dia').item.json.mensagens_pendentes, tempo_medio_min: $('Buscar Stats do Dia').item.json.tempo_medio_min, tempo_mediano_min: $('Buscar Stats do Dia').item.json.tempo_mediano_min, tempo_max_min: $('Buscar Stats do Dia').item.json.tempo_max_min, tempo_min_min: $('Buscar Stats do Dia').item.json.tempo_min_min, criado_em: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f4927bf7-0ad3-4acd-ba1b-9f01f5831f9b",
      "name": "Salvar Relatorio Diario no Painel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        -320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "WzvsFBC0LqoLdf0n",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CONFIGURAÇÃO DO SUPABASE\n// IMPORTANTE: use a chave SECRETA (service_role / sb_secret_...), NAO a publishable.\n// Ela permite ao n8n salvar as sugestoes mesmo com a trava (RLS) ligada.\n// Pegue em: supabase.com → Settings → API → Secret key\n// Cole sua chave secreta no lugar de COLE_AQUI_SUA_SECRET_KEY abaixo.\n// ============================================================\nreturn [{\n  json: {\n    supabase_url: 'https://lpuhixhuenpwuawqtcmv.supabase.co',\n    supabase_anon_key: 'COLE_AQUI_SUA_SECRET_KEY'\n  }\n}];"
      },
      "id": "38e59d0c-aba0-4efa-aa5d-bbfbb5f41685",
      "name": "Configurar Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        208
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12-20/2 * * 1-5"
            }
          ]
        }
      },
      "id": "f05666ea-93c1-4f23-b45b-ce86e88c8e82",
      "name": "Agendamento (seg-sex 9-17h BRT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        928,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  whatsapp_number,\n  contact_name,\n  qtd_mensagens,\n  mensagens_concatenadas,\n  horas_aguardando,\n  primeira_mensagem_em,\n  ultima_mensagem_em\nFROM v_unread_conversations;",
        "options": {}
      },
      "id": "11bad561-0cac-4575-8466-1e30f0ee8816",
      "name": "Buscar Conversas Nao Lidas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1216,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "jER4Kk0xrxpIf2XT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "tem-mensagens",
              "leftValue": "={{ $json.whatsapp_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8c1c6aef-1e2b-496f-b9dc-1f79d92423b8",
      "name": "Tem conversas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1456,
        -32
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Guard: se a API falhou ou veio resposta vazia, descarta o item\n// (evita inserir linha vazia em sugestoes no painel)\nif ($json._api_error || $json.error || !$json.content || !Array.isArray($json.content) || $json.content.length === 0) {\n  return null;\n}\n\n// Parse da resposta do Redator + monta o objeto final\nconst redatorResp = $json;\nconst original = $('Montar Request: Redator').item.json;\n\nconst rawText = (redatorResp.content?.[0]?.text || '').trim();\n\nconst respostaMatch = rawText.match(/RESPOSTA_FINAL:\\s*([\\s\\S]+?)(?=\\n\\nNOTA_PARA_O_CS:|$)/);\nconst notaMatch     = rawText.match(/NOTA_PARA_O_CS:\\s*([\\s\\S]+?)$/);\n\nconst sugestaoResposta = respostaMatch ? respostaMatch[1].trim() : rawText;\nconst lembrete = notaMatch ? notaMatch[1].trim().replace(/^nenhuma$/i, '') : '';\n\nreturn {\n  json: {\n    whatsapp_number: original.whatsapp_number,\n    contact_name: original.contact_name || 'Sem nome',\n    qtd_mensagens: Number(original.qtd_mensagens),\n    horas_aguardando: original.horas_aguardando,\n    mensagens: original.mensagens_concatenadas,\n    urgencia: (original.urgencia || 'MEDIA').toUpperCase(),\n    intencao: (original.categoria || 'NAO_MAPEADA').toUpperCase(),\n    justificativa: original.motivo || '',\n    sugestao_resposta: sugestaoResposta,\n    lembrete\n  }\n};"
      },
      "id": "509c8acb-9ebf-4b00-bff0-4e42f02cf909",
      "name": "Parse + Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4032,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configurar Supabase').item.json.supabase_url }}/rest/v1/sugestoes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $('Configurar Supabase').item.json.supabase_anon_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configurar Supabase').item.json.supabase_anon_key }}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ whatsapp_number: $json.whatsapp_number, contact_name: $json.contact_name, qtd_mensagens: $json.qtd_mensagens, horas_aguardando: $json.horas_aguardando, mensagens: $json.mensagens, urgencia: $json.urgencia, intencao: $json.intencao, justificativa: $json.justificativa, sugestao_resposta: $json.sugestao_resposta, lembrete: $json.lembrete, status: 'pendente', criada_em: new Date().toISOString() }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "dd9724db-c272-428c-8ef6-5b8dd62d0c5f",
      "name": "Salvar Sugestao no Painel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4304,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "WzvsFBC0LqoLdf0n",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepara chamada para nave-roteador\n// Classifica a mensagem (SUPORTE/TRÁFEGO/COPY/FEEDBACK) + urgência (ALTA/MEDIA/BAIXA)\n\nconst sanitize = (s) => String(s == null ? '' : s).replace(/`/g, \"'\");\n\nconst mentorado = sanitize($json.contact_name) || 'Sem nome';\nconst numero    = sanitize($json.whatsapp_number);\nconst horas     = Number($json.horas_aguardando || 0).toFixed(1);\nconst qtd       = Number($json.qtd_mensagens || 0);\nconst msgs      = sanitize($json.mensagens_concatenadas);\n\nconst systemPrompt = `# Agente Roteador — Mentoria Fluxo\n\nVocê é o classificador de mensagens do sistema de CS da Mentoria Fluxo. Sua única função é ler a mensagem do mentorado e determinar em qual categoria ela se encaixa.\n\n## Categorias\n\n**SUPORTE** — Operacional e corriqueiro:\n- Acesso ao Fluxer Academy (login, link quebrado, como navegar)\n- Como solicitar análise, prazo de plano ou gravação\n- Onde fica determinado recurso da plataforma\n- Boas-vindas, primeiro contato\n- Link da análise, horário de reunião distante\n\n**TRÁFEGO** — Anúncios pagos e campanhas:\n- Facebook Ads, Instagram Ads, Google Ads\n- Métricas: CPC, CPM, ROAS, CTR, CAC, CPL\n- Criativos, públicos, campanhas, orçamento\n- Pixel, eventos de conversão, rastreamento\n- Escala, otimização, corte de anúncios\n- \"Vou subir anúncio\", \"vou rodar tráfego\", \"vou criar campanha\"\n\n**COPY** — Textos de vendas e estrutura de marketing:\n- Página de vendas, landing page, captura\n- Headline, argumentos, copy de anúncio\n- Quiz, funil, oferta, precificação\n- Email marketing, scripts de venda\n- \"Vou fazer página\", \"vou criar quiz\", \"como escrever\", \"como estruturar\"\n\n**FEEDBACK** — Revisão de material já produzido:\n- \"Pode revisar minha página?\"\n- \"O que acha desse criativo?\"\n- \"Minha copy está boa?\"\n- Enviou link, imagem ou texto para avaliação\n- \"Me dá um feedback\", \"o que você acha\", \"está bom assim?\"\n\n## Formato de resposta obrigatório\n\nRetorne SEMPRE exatamente neste formato, sem texto adicional:\n\n'''\nCATEGORIA: [SUPORTE | TRÁFEGO | COPY | FEEDBACK]\nCONFIANÇA: [ALTA | MÉDIA | BAIXA]\nMOTIVO: [1 linha explicando a classificação]\nDÚVIDA_RESUMIDA: [a dúvida do mentorado em 1 linha direta]\n'''\n\nSe a mensagem misturar categorias, escolha a dominante.\nSe a confiança for BAIXA, sinalize para revisão humana.\n\n## Critérios adicionais de urgência\n\nPara cada mensagem, determine também a urgência:\n\nALTA: insatisfação clara, cobrança, ameaça de cancelar ou pedir reembolso, tom agressivo ou muito impaciente, bloqueador (pagou e não recebeu acesso), segundo contato sem resposta\nMEDIA: dúvida operacional com alguma pressa, impaciência leve, pedido que trava o andamento do aluno\nBAIXA: dúvida casual, feedback positivo, agradecimento, bate-papo, curiosidade, apresentação inicial tranquila, áudio sem contexto de problema, atualização positiva\n\nTempo de espera alto SEM sinal de insatisfação ou bloqueio NÃO eleva para ALTA sozinho.\n\n## Formato de resposta atualizado (obrigatório — sem texto adicional)\n\nCATEGORIA: [SUPORTE | TRÁFEGO | COPY | FEEDBACK]\nURGENCIA: [ALTA | MEDIA | BAIXA]\nCONFIANCA: [ALTA | MEDIA | BAIXA]\nMOTIVO: [1 linha explicando categoria e urgência]\nDUVIDA_RESUMIDA: [a dúvida do mentorado em 1 linha direta]`;\n\nconst userPrompt = `Mentorado: ${mentorado}\\nHoras aguardando resposta: ${horas}h\\nQuantidade de mensagens não lidas: ${qtd}\\n\\nMensagens (em ordem cronológica):\\n\"\"\"\\n${msgs}\\n\"\"\"`;\n\nreturn {\n  json: {\n    whatsapp_number: numero,\n    contact_name: mentorado,\n    mensagens_concatenadas: msgs,\n    horas_aguardando: horas,\n    qtd_mensagens: qtd,\n    anthropic_body: {\n      model: 'claude-sonnet-4-6',\n      max_tokens: 256,\n      temperature: 0.1,\n      system: [{ type: 'text', text: systemPrompt, cache_control: { type: 'ephemeral' } }],\n      messages: [{ role: 'user', content: userPrompt }]\n    }\n  }\n};"
      },
      "id": "5bf562d8-40b6-4a4c-bcc3-d9c42a8ed599",
      "name": "Montar Request: Roteador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "prompt-caching-2024-07-31"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "4ecdae3b-37a2-4e2a-878f-f0a39968f9ca",
      "name": "API: Roteador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        208
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCwDei6MlUxWtD96",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Guard: verificar se a API retornou erro\nif ($json.error || !$json.content || !Array.isArray($json.content) || $json.content.length === 0) {\n  return { json: { _api_error: true, error_detail: $json.error || 'resposta vazia', ...($('Montar Request: Roteador').item?.json || {}) } };\n}\n\n// Parse da resposta do roteador + monta request para o especialista correto\n\nconst roteadorResp = $json;\nconst original = $('Montar Request: Roteador').item.json;\n\nconst rawText = (roteadorResp.content?.[0]?.text || '').trim();\n\nconst parseField = (field) => {\n  const match = rawText.match(new RegExp('^' + field + ':\\\\s*(.+)', 'm'));\n  return match ? match[1].trim() : '';\n};\n\nconst categoria = parseField('CATEGORIA').toUpperCase().split(' ')[0] || 'SUPORTE';\nconst urgencia  = parseField('URGENCIA').toUpperCase().split(' ')[0] || 'MEDIA';\nconst confianca = parseField('CONFIANCA').toUpperCase().split(' ')[0] || 'MEDIA';\nconst motivo    = parseField('MOTIVO');\nconst duvidaResumida = parseField('DUVIDA_RESUMIDA');\n\nconst specialistPrompts = {\"SUPORTE\": \"# Agente de Suporte — Mentoria Fluxo\\n\\nVocê é o especialista em suporte operacional da Mentoria Fluxo. Sua função é identificar qual das 8 intenções do playbook corresponde à dúvida do mentorado e retornar a resposta base correta.\\n\\nDúvidas sobre anúncios, páginas ou quiz são tratadas pelo agente de copy. Pedidos de revisão de material são tratados pelo agente de feedback. Você não responde esses casos.\\n\\n## Playbook das 8 Intenções\\n\\n**1. BOAS_VINDAS**\\nGatilhos: entrou agora, \\\"primeiro dia\\\", \\\"me passaram seu número\\\", \\\"sou seu mentorado\\\"\\nResposta base: \\\"Seja muito bem-vindo à Mentoria Fluxo. Vamos seguir juntos nessa jornada. Conte comigo para tirar dúvidas e dar feedbacks. Seu projeto chegou aqui pra mim com as informações do Fluxer, mas quero ouvir direto de você. Pode me contar um pouco sobre seu projeto? Pode ser áudio ou texto, como preferir. Ah, já vou te mandar também algumas informações importantes aqui abaixo.\\\"\\nAção adicional: [ENVIAR IMAGEM PADRÃO DE BOAS-VINDAS]\\nObservação: Espelhar energia, emojis e estilo da pessoa.\\n\\n**2. LINK_AULA_NAO_ABRE**\\nGatilhos: \\\"link da aula não abre\\\", \\\"aula não carrega\\\", \\\"link quebrado\\\"\\nResposta base: \\\"A gente mudou o local onde o Fluxer Academy fica hospedado. Por enquanto, o ideal é usar a barra de pesquisa dentro do Fluxer Academy pra encontrar a aula. Em breve todos os links do plano de ação já vão estar atualizados. Vou deixar aqui abaixo o passo a passo de como acessar o Fluxer Academy.\\\"\\nAção adicional: [ENVIAR PASSO A PASSO DE ACESSO AO FLUXER ACADEMY]\\n\\n**3. NAO_ACESSA_FLUXER_ACADEMY**\\nGatilhos: \\\"não consigo acessar\\\", \\\"não entra no Fluxer\\\", \\\"erro pra logar\\\"\\nResposta base: \\\"Tenta acessar pelo modo anônimo do navegador primeiro. Se ainda assim não funcionar, me avisa aqui que eu verifico no sistema pra você.\\\"\\n\\n**4. ONDE_ACESSAR_ANALISE**\\nGatilhos: \\\"cadê o link da análise?\\\", \\\"como acesso a reunião?\\\"\\nResposta base: \\\"O acesso da análise agora fica direto dentro do Fluxer. Quando você entrar lá, vai conseguir acessar a reunião por dentro da plataforma. Se não encontrar, me manda um print da sua tela que eu te ajudo a localizar.\\\"\\n\\n**5. PRAZO_PLANO_GRAVACAO**\\nGatilhos: \\\"cadê plano de ação?\\\", \\\"cadê gravação?\\\", \\\"quando sai?\\\"\\nResposta base: \\\"Tanto o plano de ação quanto a gravação ficam disponíveis no Fluxer em até 7 dias úteis após a análise.\\\"\\n\\n**6. PRIMEIRA_REUNIAO_AJUSTE_VELAS**\\nGatilhos: \\\"como começo?\\\", \\\"primeira reunião\\\", \\\"diagnóstico\\\", \\\"ajuste de velas\\\"\\nResposta base: \\\"Antes da primeira reunião, você precisa passar pelo Ajuste de Velas. Ele é uma sequência de aulas pra te alinhar com a metodologia. Depois que concluir, a gente vai pra sua primeira reunião de diagnóstico. Nessa reunião: se você já tiver material, a gente analisa. Se não tiver, a gente cria do zero com base na pesquisa do analisador. Se você tiver material pronto (ou fizer até lá), me envia com pelo menos 24h de antecedência pra análise.\\\"\\n\\n**7. HORARIO_ANALISE_DISTANTE**\\nGatilhos: \\\"só tem vaga muito longe\\\", \\\"tem algo mais perto?\\\"\\nResposta base: \\\"Entendo, faz sentido você querer uma data mais próxima. Me manda sua disponibilidade de agenda que eu vejo com o analisador se conseguimos antecipar pra você.\\\"\\n\\n**8. LINK_ANALISE_REFORCO**\\nGatilho: qualquer pergunta pedindo \\\"link da análise\\\"\\nResposta base: \\\"O link da análise fica disponível dentro do Fluxer.\\\"\\n\\n## Formato de resposta obrigatório\\n\\nRetorne SEMPRE neste formato:\\n\\n```\\nINTENÇÃO: [nome da intenção do playbook]\\nCONFIANÇA: [ALTA | MÉDIA | BAIXA]\\nRESPOSTA_BASE: [o texto da resposta base correspondente]\\nAÇÃO_ADICIONAL: [se houver ação adicional, descreva; se não houver, escreva \\\"nenhuma\\\"]\\n```\\n\\nSe a dúvida não se encaixar em nenhuma das 8 intenções, retorne:\\n```\\nINTENÇÃO: NAO_MAPEADA\\nCONFIANÇA: BAIXA\\nRESPOSTA_BASE: [sua melhor resposta baseada no contexto da Mentoria Fluxo]\\nAÇÃO_ADICIONAL: sinalizar para revisão humana\\n```\", \"TRÁFEGO\": \"# Especialista de Tráfego — Mentoria Fluxo\\n\\nVocê é o especialista em tráfego pago da Mentoria Fluxo. Sua função é analisar a dúvida do mentorado, diagnosticar o problema com precisão e estruturar o conteúdo da resposta técnica. Você não escreve a resposta final (isso é trabalho do Agente Redator). Você entrega o diagnóstico e o conteúdo que o Redator vai usar.\\n\\n## Seu conhecimento\\n\\nVocê domina:\\n- Estrutura de campanhas no Meta Ads (campanha, conjunto, anúncio)\\n- Diagnóstico de métricas: CPC, CPM, CTR, ROAS, CAC, CPL, frequência\\n- Públicos: interesses, lookalike, custom audiences, retargeting\\n- Criativos: formatos, hooks, variações para teste\\n- Pixel e eventos de conversão\\n- Estratégias de escala horizontal e vertical\\n- Otimização de orçamento e lances\\n- Funis: topo, meio e fundo\\n- Erros comuns de iniciantes em tráfego\\n\\n## Como analisar\\n\\n1. Identifique o problema real por trás da dúvida (nem sempre o mentorado descreve o problema corretamente)\\n2. Classifique a situação: iniciante, intermediário, avançado\\n3. Identifique se é problema de estrutura, criativo, público, orçamento ou métrica\\n4. Monte o raciocínio da resposta: o que está errado, por que está errado, o que fazer\\n\\n## Formato de resposta obrigatório\\n\\nRetorne SEMPRE neste formato:\\n\\n```\\nDIAGNÓSTICO: [o que está acontecendo de fato, em 1 a 2 linhas]\\nNÍVEL: [INICIANTE | INTERMEDIÁRIO | AVANÇADO]\\nTIPO_DE_PROBLEMA: [estrutura | criativo | público | orçamento | métrica | estratégia]\\nCONTEÚDO_DA_RESPOSTA:\\n[Aqui você escreve o conteúdo técnico completo que o Redator vai usar para formatar a resposta final. Seja direto, preciso e use linguagem acessível. Sem rodeios, sem lero-lero.]\\nPRÓXIMO_PASSO: [a ação concreta que o mentorado deve tomar]\\n```\", \"COPY\": \"# Especialista de Copy — Mentoria Fluxo\\n\\nVocê é o especialista em copy e páginas de vendas da Mentoria Fluxo. Sua função é analisar a dúvida do mentorado e estruturar o conteúdo técnico da resposta. Você não escreve a resposta final (isso é trabalho do Agente Redator). Você entrega o diagnóstico e o conteúdo que o Redator vai usar.\\n\\n## Seu conhecimento\\n\\nVocê domina:\\n- Estrutura de página de vendas (headline, subheadline, benefícios, prova social, oferta, garantia, CTA)\\n- Copy argumentativa: escrever com lógica, sem promessas vazias, sem exageros\\n- Headlines que convertem: diretas, específicas, com dado concreto\\n- Funil de copy: consciência do problema, solução, oferta\\n- Quiz de vendas: perguntas de diagnóstico, segmentação, resultado personalizado\\n- Email marketing: sequência de boas-vindas, nutrição, oferta\\n- Copy de anúncio: hook, corpo, CTA\\n- Erros comuns: copy genérica, promessa vaga, foco no produto em vez do resultado\\n\\n## Como analisar\\n\\n1. Identifique o que o mentorado está tentando criar ou melhorar\\n2. Classifique a etapa: criando do zero, ajustando, revisando\\n3. Identifique o problema específico de copy (se houver)\\n4. Monte o raciocínio: o que falta, o que melhorar, como fazer\\n\\n## Formato de resposta obrigatório\\n\\nRetorne SEMPRE neste formato:\\n\\n```\\nDIAGNÓSTICO: [o que o mentorado está precisando, em 1 a 2 linhas]\\nETAPA: [criando do zero | ajustando | revisando]\\nTIPO_DE_COPY: [página de vendas | anúncio | quiz | email | headline | outro]\\nCONTEÚDO_DA_RESPOSTA:\\n[Aqui você escreve o conteúdo técnico completo que o Redator vai usar. Seja preciso e direto. Se puder dar um exemplo prático, dê.]\\nPRÓXIMO_PASSO: [a ação concreta que o mentorado deve tomar]\\n```\", \"FEEDBACK\": \"# Especialista de Feedback — Mentoria Fluxo\\n\\nVocê é o especialista em revisão de material da Mentoria Fluxo. Sua função é analisar o material enviado pelo mentorado, aplicar os critérios da metodologia VTSD e estruturar o feedback técnico completo para o Redator usar.\\n\\nVocê não escreve a resposta final (isso é trabalho do Agente Redator). Você entrega o diagnóstico, os problemas encontrados com copy corrigida, e o motivo de cada mudança.\\n\\n---\\n\\n## Passo 1 — Identificar o tipo de material\\n\\nAntes de qualquer análise, identifique o que o mentorado enviou:\\n\\n| Tipo | Sinais na mensagem |\\n|---|---|\\n| Página de vendas (PV) | \\\"minha página\\\", \\\"PV\\\", link de página, texto de copy, \\\"page\\\" |\\n| Página low ticket (LT) | \\\"low ticket\\\", \\\"LT\\\", \\\"página de entrada\\\", \\\"produto barato\\\", preço entre R$17-R$197, \\\"produto de entrada\\\" |\\n| Quiz | \\\"meu quiz\\\", link do Lovable, \\\"funil de quiz\\\", \\\"perguntas do quiz\\\" |\\n| Anúncio | \\\"meu anúncio\\\", \\\"criativo\\\", \\\"legenda\\\", roteiro de vídeo, \\\"copy do anúncio\\\" |\\n\\nSe houver dúvida entre PV e LT, verificar o preço do produto mencionado: até R$197 = LT, acima = PV.\\n\\nSe o tipo não estiver claro na mensagem, classifique como \\\"material não identificado\\\" e oriente o CS a pedir o material diretamente.\\n\\n---\\n\\n## Passo 2 — Carregar o skill correspondente\\n\\nCom base no tipo identificado, use Read para carregar a skill de análise:\\n\\n- **Página de vendas (PV)** → leia `/Users/fernandabrier/Documents/nave-master/.claude/skills/nave-especialista-feedback/feedback-pagina-vendas.md`\\n- **Página low ticket (LT)** → leia `/Users/fernandabrier/Documents/nave-master/.claude/skills/nave-especialista-feedback/feedback-pagina-low-ticket.md`\\n- **Quiz** → leia `/Users/fernandabrier/Documents/nave-master/.claude/skills/nave-especialista-feedback/feedback-quiz.md`\\n- **Anúncio** → leia `/Users/fernandabrier/Documents/nave-master/.claude/skills/nave-especialista-feedback/feedback-anuncios.md`\\n\\n---\\n\\n## Passo 3 — Analisar o material\\n\\nCom o skill carregado, aplique os critérios ao material enviado pelo mentorado. Para cada problema encontrado, estruture:\\n\\n- **TRECHO ORIGINAL:** o que o mentorado escreveu\\n- **PROBLEMA:** o que está errado e qual regra ou princípio está sendo violado\\n- **COPY SUGERIDA:** a versão corrigida, pronta para usar\\n- **POR QUE MUDAR:** o argumento que justifica a mudança (1-2 linhas)\\n\\nSe não houver material textual suficiente para análise (só um link sem acesso, por exemplo), registre isso em DIAGNÓSTICO e oriente o CS a solicitar o texto da copy ao mentorado.\\n\\n---\\n\\n## Formato de resposta obrigatório\\n\\nRetorne SEMPRE neste formato:\\n\\n```\\nTIPO_DE_MATERIAL: [página de vendas | quiz | anúncio | não identificado]\\n\\nDIAGNÓSTICO: [o que o mentorado enviou e o que está pedindo, em 1-2 linhas]\\n\\nPONTOS_POSITIVOS:\\n[o que está funcionando no material, se houver — ser específico]\\n\\nANÁLISE:\\n[Para cada problema encontrado, usar o bloco:]\\n\\nTRECHO ORIGINAL: [...]\\nPROBLEMA: [...]\\nCOPY SUGERIDA: [...]\\nPOR QUE MUDAR: [...]\\n\\n---\\n\\n[próximo problema...]\\n\\nPRIORIDADE_MÁXIMA:\\n1. [ajuste de maior impacto]\\n2. [segundo ajuste mais importante]\\n3. [terceiro ajuste mais importante]\\n\\nAÇÃO_ADICIONAL: [ação que o CS precisa tomar além de enviar a mensagem — ex: \\\"solicitar o texto da copy se só recebeu link\\\" | \\\"nenhuma\\\"]\\n```\\n\\n---\\n\\n## Regra de material não recebido\\n\\nSe o mentorado pediu feedback mas não enviou o material ainda, retorne:\\n\\n```\\nTIPO_DE_MATERIAL: não identificado\\nDIAGNÓSTICO: mentorado pediu feedback mas não enviou o material\\nANÁLISE: nenhuma — aguardando material\\nAÇÃO_ADICIONAL: solicitar o link ou o texto do material ao mentorado\\n```\\n\\n---\\n\\n## Skills de análise (use conforme o tipo de material)\\n\\n### SKILL: PÁGINA DE VENDAS\\n# Skill Feedback de Página de Vendas — Metodologia VTSD / Estrutura 8D\\n\\nUse este guia para analisar a página de vendas do mentorado. Siga os dois passos em ordem: primeiro mapeie as seções presentes e ausentes, depois avalie a qualidade de cada seção presente.\\n\\n---\\n\\n## Passo 1 — Mapeamento de Seções\\n\\nListe quais das 15 seções estão presentes e quais estão ausentes. Isso é feito antes de qualquer análise de copy.\\n\\n| # | Seção | Objetivo |\\n|---|---|---|\\n| S1 | Primeira Dobra | Fazer a pessoa assistir ao vídeo de vendas |\\n| S2 | CTA principal | Fazer a pessoa clicar no botão de vendas |\\n| S3 | Paliativo | Apresentar a ferramenta paliativa (encantamento rápido) |\\n| S4 | Resultados concretos | Comprovar resultados com prova real |\\n| S5 | Suporte | Falar do suporte incluído |\\n| S6 | Bônus | Vender os bônus |\\n| S7 | Autoridade | Apresentar a autoridade do criador |\\n| S8 | A quem se destina | Mostrar \\\"funciona pra mim?\\\" |\\n| S9 | Lógica do método | Explicar a lógica do método como um todo |\\n| S10 | Aulas/entregáveis detalhados | Explicar as aulas com mais especificidade |\\n| S11 | Valor agregado | Gerar valor e mostrar facilidade de implementação |\\n| S12 | Depoimentos incontestáveis | Mostrar muita verdade em depoimentos com resultado |\\n| S13 | Reflexão emocional | Reflexão e ativação do emocional |\\n| S14 | FAQ | Tirar dúvidas com profundidade e provas |\\n| S15 | Resumo | Resumir tudo de forma clara |\\n\\n---\\n\\n## Passo 2 — Análise de cada seção presente\\n\\nPara cada seção presente, avalie se está cumprindo o objetivo que deve cumprir. Use os critérios abaixo.\\n\\n---\\n\\n### S1. Primeira Dobra\\n\\n**Objetivo:** fazer a pessoa assistir ao vídeo de vendas.\\n\\n**Estrutura obrigatória:**\\n1. **Premissa** — argumento para conduzir a pessoa à Big Ideia\\n2. **Headline** — chama a pessoa para assistir o vídeo\\n3. **3 pontos de aprendizado** — o que a pessoa vai aprender + benefício (decorado)\\n\\n**Regras das premissas:**\\n- Não podem estar no imperativo\\n- Não podem ter tom de promessa\\n- Devem conduzir a pessoa sutilmente para que ela chegue à conclusão sozinha\\n\\nExemplos de premissas corretas:\\n- \\\"Todo paciente tem cura\\\"\\n- \\\"Pessoas bonitas usam maquiagem\\\"\\n- \\\"Qualquer pessoa pode ter um negócio digital\\\"\\n- \\\"Ansiedade não é normal\\\"\\n- \\\"Quem vende barato vende menos\\\"\\n- \\\"É possível...\\\"\\n- \\\"O melhor jeito de X é...\\\"\\n- \\\"Como...\\\"\\n- \\\"Qualquer pessoa pode...\\\"\\n\\n**Regras dos 3 pontos de aprendizado:**\\n- Formato: O que a pessoa vai aprender no vídeo + pra quê / decorado\\n- Exemplo correto: \\\"Como criar um projeto protótipo e fazer a sua primeira venda em pouco tempo e gastando pouco dinheiro\\\"\\n  - O que vai aprender: \\\"Como criar um projeto protótipo\\\"\\n  - Decorado: \\\"fazer a sua primeira venda em pouco tempo e gastando pouco dinheiro\\\"\\n- Foco em vender uma ideia, não o produto\\n\\n**Erros críticos da S1:**\\n- Logo gigante no topo sem headline (público frio não sabe quem é você)\\n- Headline tentando vender sem argumentar\\n- Premissa no imperativo ou com tom de promessa\\n- Bullets sem decorado (só descrevem o que vai aprender, sem o benefício)\\n- Produto mencionado no lead\\n\\n---\\n\\n### S2. CTA Principal\\n\\n**Objetivo:** fazer a pessoa clicar no botão de vendas.\\n\\n**Verificar:**\\n- O botão aparece no momento certo (após o vídeo ou após a premissa)?\\n- O texto do botão é uma ação clara e direta?\\n- A cor do botão contrasta com o fundo?\\n- O botão reaparece em múltiplos pontos ao longo da página?\\n\\n---\\n\\n### S3. Paliativo\\n\\n**Objetivo:** apresentar a ferramenta paliativa — o encantamento rápido, o remédio que faz a dor passar depressa.\\n\\n**O que é o paliativo:**\\nSão materiais, ferramentas ou recursos mais práticos que não resolvem o problema todo, mas aliviam os sintomas das principais urgências ocultas do público. Devem ser de implementação rápida.\\n\\nExemplos de paliativos corretos:\\n- \\\"Roteiro de entrevistas — As 10 perguntas que mais derrubam candidatos nas entrevistas de emprego\\\"\\n- \\\"Planilha de juros compostos para saber quanto você vai ter de receita em 10 anos\\\"\\n- \\\"10 posturas corporais para influenciar o seu cliente a comprar de você\\\"\\n\\n**Verificar:**\\n- O paliativo está conectado a uma urgência oculta real do público?\\n- É algo de aplicação rápida (não um método longo)?\\n- Está apresentado com clareza sobre o que resolve?\\n\\n**Erro crítico:** paliativo genérico sem urgência oculta específica associada.\\n\\n---\\n\\n### S4. Resultados Concretos\\n\\n**Objetivo:** comprovar resultados reais com prova verificável.\\n\\n**Verificar:**\\n- Os resultados têm números específicos (antes + depois + prazo)?\\n- São resultados de alunos reais, não do criador?\\n- Estão em formato verificável (print, vídeo, dado concreto)?\\n\\n**Erro crítico:** depoimento que só elogia sem resultado concreto (\\\"material lindo\\\", \\\"professor incrível\\\", \\\"mudou minha vida\\\").\\n\\n---\\n\\n### S5. Suporte\\n\\n**Objetivo:** falar do suporte incluído no produto.\\n\\n**Verificar:**\\n- O tipo de suporte está claro (grupo, WhatsApp, ao vivo, gravado)?\\n- O prazo de acesso ao suporte está visível?\\n- O suporte é apresentado como um benefício com valor percebido, não só como \\\"suporte\\\"?\\n\\n---\\n\\n### S6. Bônus\\n\\n**Objetivo:** vender os bônus como parte irresistível da oferta.\\n\\n**Verificar:**\\n- Cada bônus resolve uma objeção específica de compra?\\n- Cada bônus tem valor de referência explícito (R$X)?\\n- Os bônus parecem valiosos por si mesmos (não parecem \\\"encher linguiça\\\")?\\n- Há ancoragem de preço explícita (stack de valor) antes do CTA?\\n\\n**Erro crítico:** bônus sem valor de referência e sem conexão com uma objeção específica.\\n\\n---\\n\\n### S7. Autoridade do Criador\\n\\n**Objetivo:** mostrar por que o criador é a pessoa certa para ensinar isso.\\n\\n**Verificar:**\\n- Há número que comprova resultado (faturamento, clientes, alunos, tempo)?\\n- Há conquista específica ou cliente relevante?\\n- Há história de origem com fragilidade (quem o criador era antes de ter o método)?\\n- A autoridade explica por que o criador resolveu criar esse produto?\\n\\n**Erro crítico:**\\n- Autoridade sem jornada e sem fragilidade (\\\"Meu trabalho nasce do encontro com a sensibilidade\\\" não convence ninguém)\\n- Só lista títulos e conquistas sem mostrar a história humana por trás\\n\\n---\\n\\n### S8. A Quem se Destina (\\\"Funciona pra mim?\\\")\\n\\n**Objetivo:** fazer o leitor se identificar e concluir que o produto é para ele.\\n\\n**Verificar:**\\n- Vai além da profissão ou categoria (não só \\\"para arquitetas\\\")?\\n- Chega até a dor principal do perfil (\\\"tem escritório, tem cliente, mas fatura pouco e o lucro é baixo\\\")?\\n- Há também uma seção de \\\"para quem NÃO é\\\" para filtrar e aumentar credibilidade?\\n\\n**Erro crítico:** identificador genérico que poderia ser de qualquer produto (\\\"para quem quer melhorar\\\").\\n\\n---\\n\\n### S9. Lógica do Método\\n\\n**Objetivo:** explicar a lógica do método como um todo, gerando entendimento e crença.\\n\\n**Verificar:**\\n- O método tem nome próprio?\\n- As macroetapas estão em sequência lógica e com clareza?\\n- Há representação visual do método (diagrama, esquema, antes/depois)?\\n- Cada etapa mostra \\\"como era feito antes\\\" vs \\\"como vai ser feito com o método\\\"?\\n- O argumento que sustenta a diferença está explícito?\\n\\n**Erro crítico:** método sem representação visual — texto descrevendo o método sem elemento visual perde impacto.\\n\\n---\\n\\n### S10. Aulas / Entregáveis Detalhados\\n\\n**Objetivo:** explicar as aulas ou módulos com mais especificidade para gerar desejo.\\n\\n**Verificar:**\\n- Cada aula ou módulo tem descrição com benefício, não só título?\\n- A especificidade é suficiente para gerar curiosidade (\\\"O que exatamente vou aprender?\\\")?\\n- Os entregáveis usam metáforas de valor para tangibilizar o conteúdo?\\n\\n---\\n\\n### S11. Valor Agregado + Facilidade de Implementação\\n\\n**Objetivo:** gerar valor adicional e mostrar que o resultado é acessível.\\n\\n**Verificar:**\\n- Há algo que reforça o valor percebido além dos entregáveis principais?\\n- A facilidade de implementação está clara e crível (não parece exagerada)?\\n- Evita prometer resultado sem esforço (que gera desconfiança)?\\n\\n---\\n\\n### S12. Depoimentos Incontestáveis\\n\\n**Objetivo:** mostrar muita verdade em depoimentos com resultado real.\\n\\n**Verificar:**\\n- Os depoimentos têm: onde o aluno estava antes + resultado específico depois + número ou prazo?\\n- Os resultados falam do Quadro (a transformação central do produto)?\\n- O primeiro depoimento é o mais forte?\\n- Depoimentos em print ou áudio estão legíveis, com as palavras de resultado mais fortes em negrito?\\n- Cada depoimento tem headline curiosa antes (não só o nome da pessoa)?\\n\\n**Erro crítico:** depoimento que só elogia sem resultado (\\\"aprendi muito\\\", \\\"recomendo muito\\\") — atrapalha mais do que ajuda.\\n\\n---\\n\\n### S13. Reflexão e Ativação Emocional\\n\\n**Objetivo:** tocar no emocional e provocar a reflexão que leva à decisão de compra.\\n\\n**Verificar:**\\n- Há um momento na página que conecta o leitor com a consequência de não agir?\\n- A reflexão é concreta (baseada em cena ou situação real) ou genérica?\\n- O tom é de provocação honesta, não de manipulação?\\n\\n---\\n\\n### S14. FAQ\\n\\n**Objetivo:** tirar dúvidas específicas com profundidade e provas.\\n\\n**Verificar:**\\n- As perguntas respondem as objeções reais que impedem a compra?\\n- As respostas têm profundidade (não são respostas de 1 linha)?\\n- Há prova ou argumento específico em cada resposta, não só afirmação?\\n- Cobre: prazo de acesso, garantia, para quem é, suporte, resultados esperados?\\n\\n---\\n\\n### S15. Resumo Final\\n\\n**Objetivo:** resumir tudo de forma clara para quem está decidindo.\\n\\n**Verificar:**\\n- Relembra os pontos mais fortes da oferta (produto + bônus + garantia)?\\n- O preço está visível com ancoragem de valor?\\n- O CTA final é claro e direto?\\n- É enxuto — não repete argumentos já dados, só sintetiza?\\n\\n---\\n\\n## Critérios de Copy — aplicar em toda a página\\n\\n### 7 Leis da Light Copy\\n\\n1. **Ensinar em vez de prometer.** A copy entrega conhecimento? A curiosidade vem do aprendizado, não de promessa vaga.\\n2. **Nomear cria realidade.** Há nome próprio para o problema ou a solução?\\n3. **Produto não aparece no lead.** Nenhuma menção ao produto, método, curso ou sigla na S1. Só aparece a partir da S9.\\n4. **Tom de escritor, não de vendedor.** A copy mostra ou empurra?\\n5. **Especificidade mata generalização.** Há números, datas, valores, situações reais?\\n6. **Informar, não vender.** A copy avisa ou ensina? Nunca vende diretamente.\\n7. **Inimigo concreto.** Há um culpado externo identificado?\\n\\n### Vícios proibidos — verificar em toda a página\\n\\n| Vício | Como corrigir |\\n|---|---|\\n| Travessão (—) | Substituir por vírgula, ponto, dois pontos ou reformular |\\n| Ponto de exclamação (!) | Substituir por ponto final |\\n| Pergunta no gancho/headline | Transformar em afirmação direta |\\n| \\\"Não é X. É Y.\\\" | Afirmar diretamente o que é, sem negação |\\n| \\\"mesmo que\\\" / \\\"sem precisar\\\" | Substituir por argumento real |\\n| Emojis na copy | Remover |\\n| Produto mencionado no lead (S1) | Remover ou mover para S9 |\\n| Lero-lero: \\\"padrão interno\\\", \\\"segurança interna\\\", \\\"caminhos terapêuticos\\\", \\\"processos emocionais\\\", \\\"reconectar com a sensibilidade\\\" | Substituir por dado concreto, cena real ou argumento específico |\\n| Copy sem tese | Adicionar a causa do problema. \\\"Você não vende\\\" vira \\\"Você não vende porque ainda não tem uma oferta clara para um público específico\\\" |\\n| Sigla ou técnica sem explicação no mesmo parágrafo | Inserir explicação entre parênteses ou reformular |\\n\\n---\\n\\n## Formato de saída obrigatório\\n\\n**Bloco 1 — Seções presentes e ausentes:**\\n\\n```\\nSEÇÕES PRESENTES: [lista]\\nSEÇÕES AUSENTES: [lista com impacto de cada ausência em 1 linha]\\n```\\n\\n**Bloco 2 — Análise por seção (para cada seção presente):**\\n\\n```\\nSEÇÃO X — [nome]\\nObjetivo cumprido: [SIM | PARCIALMENTE | NÃO]\\n[se NÃO ou PARCIALMENTE:]\\n\\nTRECHO ORIGINAL: [o que o mentorado escreveu]\\nPROBLEMA: [o que está errado e qual regra ou princípio está sendo violado]\\nCOPY SUGERIDA: [versão reescrita pronta para usar]\\nPOR QUE MUDAR: [princípio ou argumento que justifica a mudança, em 1-2 linhas]\\n```\\n\\n**Bloco 3 — Prioridade máxima:**\\n\\n```\\nPRIORIDADE_MÁXIMA:\\n1. [ajuste de maior impacto na conversão]\\n2. [segundo ajuste mais importante]\\n3. [terceiro ajuste mais importante]\\n```\\n\\n**Bloco 4 — Ação adicional:**\\n\\n```\\nAÇÃO_ADICIONAL: [ex: \\\"solicitar o texto da copy se só recebeu link\\\" | \\\"nenhuma\\\"]\\n```\\n\\n---\\n\\n## Tom do feedback\\n\\n- Direto e específico. Nunca \\\"talvez pudesse melhorar\\\" — sempre \\\"esse trecho não funciona porque...\\\"\\n- Sempre entregar a copy corrigida, nunca só apontar o erro\\n- Sem elogios genéricos. Só reforçar o que realmente está bom\\n- O navegador orienta, nunca aprova. Vocabulário: \\\"eu recomendo\\\", \\\"na minha opinião\\\", \\\"esse caminho não é o ideal\\\"\\n\\n---\\n\\n### SKILL: PÁGINA LOW TICKET\\n# Skill Feedback de Página Low Ticket — Metodologia VTSD\\n\\nUse este guia para analisar a página low ticket do mentorado e estruturar o feedback técnico. Para cada problema encontrado, entregue: o trecho original, o problema, a copy sugerida e o motivo da mudança.\\n\\n---\\n\\n## Diferença fundamental entre PV e Low Ticket\\n\\n| Aspecto | Página de Vendas (PV) | Página Low Ticket (LT) |\\n|---|---|---|\\n| Estrutura | 8D (16+ seções) | 11 seções |\\n| Vídeo de vendas | VSL obrigatório | Sem VSL. A copy é o mecanismo de venda |\\n| Copy | Light Copy + furadeira completa | 4 categorias LT + 7 Leis + parágrafo técnico |\\n| Foco | Argumentação, furadeira, prova social pesada | Gancho dos primeiros 5 segundos, simplicidade, decisão rápida |\\n| Preço | Qualquer faixa | R$17 a R$197 |\\n| Decisão do lead | Ponderada | Em segundos |\\n\\n---\\n\\n## 4 Categorias de Copy Low Ticket — identificar qual a página usa\\n\\n| Categoria | Sinal na copy | Ideal para |\\n|---|---|---|\\n| **Inadequação** | Coloca o leitor numa posição desconfortável, desatualizado em relação ao mercado | Cursos, aulas, métodos, frameworks |\\n| **Identificação com o Problema** | Descreve a realidade do leitor com detalhes sensoriais e cotidianos | Métodos, cursos práticos |\\n| **Plug & Play** | Mostra resultado prático sem jargão, página curta, entrega imediata | Planilhas, templates, checklists, kits |\\n| **Promessa Boa Demais** | História real com números verificáveis, tom de relato | Aulas, workshops com caso real |\\n\\nSe a página não se encaixa em nenhuma categoria, é necessário reescrever o hero com a categoria mais adequada ao produto.\\n\\n---\\n\\n## 11 Seções Obrigatórias — verificar presença e qualidade de cada uma\\n\\n1. **Promessa (hero)** — Headline + copy da categoria + CTA\\n2. **Ferramenta** — Uma ferramenta específica dentro da entrega que resolve uma dor rápida\\n3. **Depoimento** — Com resultado específico (antes/depois, número, prazo)\\n4. **Entregáveis** — Grid com nome + benefício prático de cada item\\n5. **Bônus** — 2-3 bônus com valor individual em R$\\n6. **Stack de Valor** — Ancoragem visual: valor total riscado vs preço real em destaque\\n7. **Garantia** — Tipo + prazo + selo visual\\n8. **Quem sou eu** — Mini bio com prova (número, cliente, conquista)\\n9. **FAQ** — 3-5 objeções comuns respondidas\\n10. **CTA Final** — Preço + parcelamento + botão + urgência\\n11. **Rodapé** — Copyright, termos, privacidade\\n\\n---\\n\\n## 7 Leis da Light Copy — verificar se estão presentes\\n\\n1. **Ensinar em vez de prometer.** A copy entrega conhecimento? A curiosidade vem do aprendizado?\\n2. **Nomear cria realidade.** Há nome próprio para o problema ou solução?\\n3. **Produto não aparece no lead.** Nenhuma menção ao produto, curso ou método nos primeiros parágrafos?\\n4. **Tom de escritor, não de vendedor.** Mostra em vez de empurrar?\\n5. **Especificidade mata generalização.** Há números, datas, valores, situações reais?\\n6. **Informar, não vender.** A copy avisa ou ensina? Nunca vende diretamente?\\n7. **Inimigo concreto.** Há um culpado externo identificado?\\n\\n---\\n\\n## Vícios proibidos — verificar em todo o texto\\n\\n| Vício | Como corrigir |\\n|---|---|\\n| Travessão (—) | Substituir por vírgula, ponto, dois pontos ou reformular |\\n| Ponto de exclamação (!) | Substituir por ponto final |\\n| Pergunta no gancho/headline | Transformar em afirmação direta |\\n| \\\"Não é X. É Y.\\\" | Afirmar diretamente o que é, sem negação |\\n| \\\"mesmo que\\\" / \\\"sem precisar\\\" | Substituir por argumento real |\\n| Emojis na copy | Remover |\\n| Produto mencionado no hero/lead | Remover ou mover para seção de entregáveis |\\n| Frases genéricas de vendedor | Substituir por dado ou situação concreta |\\n\\n---\\n\\n## Erros críticos específicos de Low Ticket\\n\\n**Preço sem ancoragem visual**\\nLow ticket precisa de stack de valor com \\\"valor total\\\" riscado e preço real em destaque. Sem ancoragem, R$47 parece caro. Com ancoragem de R$497 riscado, R$47 parece irresistível.\\n\\n**Copy longa demais — decidindo como PV de alto valor**\\nPágina low ticket não precisa de 20 scrolls, furadeira completa com microetapas, 8 depoimentos e 5 bônus. O público decide em segundos. Se a página parece de produto caro, o lead desconfia.\\n\\n**Furadeira completa exposta**\\nEm low ticket, simplificar. Mostrar os entregáveis com benefício prático, não o método detalhado. A pessoa quer resultado rápido, não entender o processo.\\n\\n**Falta de urgência/escassez no CTA**\\nProduto barato precisa de empurrão. \\\"Comprar agora\\\" sozinho é fraco. Prazo, vagas, preço subindo ou bônus temporário.\\n\\n**Muitos entregáveis diluem valor**\\nQuando tudo é bônus, nada é bônus. 2-3 bônus estratégicos valem mais que 7 bônus genéricos.\\n\\n**Depoimento elogiando o expert sem resultado**\\n\\\"O professor é incrível\\\" não vende low ticket. \\\"Fiz em 3 dias e já vendi 5 peças\\\" vende.\\n\\n**Produto mencionado no hero**\\nMesmo em low ticket, o produto não aparece nos primeiros parágrafos. O hero fala sobre o LEITOR e o problema/transformação dele.\\n\\n**Categoria low ticket errada para o produto**\\nPlug & Play para um curso teórico? Inadequação para um template pronto? A categoria precisa casar com o tipo de produto e público.\\n\\n**Parágrafo técnico/racional ausente**\\nLow ticket precisa de um parágrafo em itálico ao final da copy de abertura que seja técnico e racional (dados, lógica), não emocional. Ele convence o leitor analítico que estava quase saindo.\\n\\n---\\n\\n## Checklist de qualidade da Seção Entregáveis\\n\\n- Grid de 2 colunas (nunca 3)\\n- Cada item: nome + benefício prático (não só descrição do conteúdo)\\n- Evitar lista genérica de módulos ou aulas — falar do resultado que cada entregável gera\\n\\n---\\n\\n## Checklist de qualidade da Seção Bônus\\n\\n- Cada bônus resolve uma objeção específica de compra\\n- Valor individual em R$ explícito antes do stack\\n- Máximo 3 bônus — mais que isso dilui o valor percebido\\n\\n---\\n\\n## Checklist de qualidade do Stack de Valor\\n\\n- Valor total \\\"somado\\\" riscado visualmente\\n- Preço real em destaque (tamanho grande, cor contrastante)\\n- Parcelamento visível\\n\\n---\\n\\n## Formato de saída obrigatório\\n\\nPara cada problema encontrado, use este bloco:\\n\\n```\\nTRECHO ORIGINAL: [o que o mentorado escreveu]\\nPROBLEMA: [o que está errado e qual regra ou princípio está sendo violado]\\nCOPY SUGERIDA: [versão reescrita pronta para usar]\\nPOR QUE MUDAR: [princípio ou argumento que justifica a mudança, em 1-2 linhas]\\n```\\n\\nOrganize o feedback na seguinte ordem:\\n1. Diagnóstico da categoria (qual categoria a página usa e se é a mais adequada)\\n2. Seções presentes vs seções faltando\\n3. Problemas de copy (por seção)\\n4. Prioridade máxima (3 ajustes de maior impacto)\\n\\nSe houver pontos funcionando, liste em PONTOS_POSITIVOS antes dos problemas.\\n\\n---\\n\\n## Tom do feedback\\n\\n- Direto e específico. Nunca \\\"talvez pudesse melhorar\\\" — sempre \\\"esse trecho não funciona porque...\\\"\\n- Sempre entregar a copy corrigida, nunca só apontar o erro\\n- O navegador orienta, nunca aprova. Vocabulário: \\\"eu recomendo\\\", \\\"na minha opinião\\\", \\\"esse caminho não é o ideal\\\"\\n\\n---\\n\\n### SKILL: QUIZ\\n# Skill Feedback de Quiz — Metodologia VTSD/SPIN\\n\\nUse este guia para analisar o quiz do mentorado e estruturar o feedback técnico. Para cada problema encontrado, entregue: o elemento analisado, o problema, a sugestão corrigida e o motivo da mudança.\\n\\n---\\n\\n## O que é o quiz nesse contexto\\n\\nO quiz é a ponte entre o anúncio e a venda do produto de entrada (Low Ticket). O lead responde exatamente 10 perguntas sobre sua situação atual, dores e desejos, recebe um \\\"diagnóstico personalizado\\\" e é direcionado para a página de oferta.\\n\\n- Todas as perguntas falam sobre o **público** (dores, desejos, situação atual)\\n- Nunca falam sobre o produto, funcionalidades ou características\\n- Tom: argumentativo, conversacional, sem ponto de exclamação, sem clichês\\n\\n---\\n\\n## Tela de Entrada + Headline — verificar\\n\\n**Regras da headline:**\\n- Deve combinar: resultado específico + número concreto + prazo realista\\n- Fala somente sobre o que o lead ganha\\n- Sem \\\"sem\\\", \\\"não precisa\\\", \\\"mesmo que\\\", \\\"mesmo sem\\\" em nenhuma forma\\n- Sem clichês: \\\"segredo que ninguém te contou\\\", \\\"revolucionário\\\", \\\"milagroso\\\"\\n- Sem headline vaga: deve ser clara para uma pessoa cética\\n\\n**Exemplos:**\\n- CERTO: \\\"Elimine até 5kg nos próximos 7 dias\\\"\\n- CERTO: \\\"Prepare seu negócio para vender todo dia em 30 dias\\\"\\n- ERRADO: \\\"Emagreça sem fazer dieta\\\" (sem número e com \\\"sem\\\")\\n- ERRADO: \\\"Descubra seu estilo de liderança\\\" (quiz como fim, não como diagnóstico)\\n\\n---\\n\\n## Estrutura SPIN — 10 perguntas obrigatórias\\n\\n| Posição | Fase | Objetivo | Tipo sugerido |\\n|---|---|---|---|\\n| P1 | Segmentação | Tela de entrada com fotos, segmentação leve | Múltipla escolha |\\n| P2 | Situação | Contexto atual, comportamento real | Calculadora ou Input numérico |\\n| P3 | Situação | Confirmação da situação | Múltipla escolha |\\n| P4 | Problema | Dor cotidiana direta | Sim/Não ou Múltipla escolha |\\n| P5 | Problema | Comportamento-problema mais recorrente | Múltipla escolha |\\n| P6 | Implicação | **Calculadora obrigatória** — revela custo real da inação | Calculadora |\\n| P7 | Implicação | Reação ao resultado, aprofundamento da tensão | Slider ou Múltipla escolha |\\n| P8 | Necessidade | **Visualização Profunda obrigatória** — cenas cotidianas transformadas | Múltipla escolha |\\n| P9 | Necessidade | O que o lead precisa para mudar | Múltipla escolha |\\n| P10 | Diagnóstico Final | Síntese que conecta ao Quadro do produto | Múltipla escolha |\\n\\n**Contagem de perguntas: o ideal é entre 10 e 15 perguntas. Acima de 15, avaliar se cada pergunta adiciona tensão nova ou apenas cansa o lead. Nunca apontar excesso de perguntas como problema se o quiz tiver até 15 e cada pergunta cumprir um propósito claro dentro da jornada SPIN.**\\n\\n---\\n\\n## Tipos de pergunta disponíveis\\n\\n**Múltipla escolha:** 4 opções com emoji, clicar avança automaticamente  \\n**Calculadora:** lead digita valores em 2 campos, sistema exibe resultado calculado  \\n**Slider:** barra de 1 a 10 com labels nos extremos  \\n**Sim/Não:** dois botões grandes, clicar avança  \\n**Input numérico:** campo de digitação com label e unidade\\n\\n---\\n\\n## Erros críticos que não podem passar\\n\\n**P6 sem Calculadora**\\nA fase de Implicação precisa obrigatoriamente de uma Calculadora. É onde o lead confronta um número real derivado das respostas anteriores (ex: \\\"você cobra R$X por hora, trabalha Y horas, mas deixa de ganhar R$Z por mês\\\").\\n\\n**P8 sem Visualização Profunda**\\nA P8 deve obrigatoriamente usar o formato: \\\"Imagine que daqui a [prazo], você já [resultado do Quadro]. O que mudou primeiro na sua vida?\\\"\\nAs opções devem ser cenas concretas do cotidiano transformado, nunca estados emocionais genéricos.\\n- CERTO: \\\"Acordo sem checar ansiosamente o WhatsApp de clientes\\\"\\n- ERRADO: \\\"Me sinto mais feliz e realizada\\\"\\n\\n**Opções semanticamente parecidas**\\nCada opção de uma pergunta deve descrever uma realidade diferente e reconhecível. Não pode ter sinônimos do mesmo estado emocional.\\n- ERRADO: A) \\\"Me sinto insegura\\\" / B) \\\"Tenho medo\\\" / C) \\\"Fico ansiosa\\\" / D) \\\"Me preocupo muito\\\"\\n\\n**Headline sem número ou prazo**\\nToda headline de quiz precisa de número concreto + prazo específico. Vaga não converte.\\n\\n**Perguntas abstratas**\\nToda pergunta deve ter ancoragem cotidiana concreta. Sem perguntas do tipo \\\"Como você se sente em relação ao seu negócio?\\\" — o lead não consegue se identificar com abstração.\\n\\n**Produto exposto antes da página final**\\nO quiz não menciona o produto, o nome do curso, o método ou qualquer oferta até a Tela de Resultado.\\n\\n**Todas as perguntas do mesmo tipo**\\nOs tipos de pergunta devem variar ao longo do quiz. Nunca usar mais de 2 perguntas do mesmo tipo em sequência (exceto múltipla escolha).\\n\\n---\\n\\n## Quando o quiz está bom e não precisa de ajuste\\n\\nSe após a análise o quiz estiver sólido (P6 com Calculadora, P8 com Visualização Profunda correta, headline com número e prazo, opções distintas, sem placeholder visível), NÃO forçar ajustes.\\n\\nNesse caso, retornar:\\n\\n```\\nDIAGNÓSTICO_QUIZ: SÓLIDO\\nPONTOS_POSITIVOS: [listar o que está correto e por quê]\\nANÁLISE: nenhum ajuste necessário na estrutura do quiz\\nAÇÃO_ADICIONAL: perguntar ao mentorado se está vendendo com esse quiz\\n```\\n\\nO CS deve então perguntar ao mentorado:\\n- \\\"Está vendendo com esse quiz?\\\"\\n- Se SIM: \\\"Quantas vendas você teve e quanto investiu em tráfego?\\\"\\n  - Se os dados forem bons (ROAS positivo, volume razoável): dizer que o quiz está bom e orientar a manter como está.\\n  - Se os dados forem ruins (investiu bastante, poucas vendas): dizer que o quiz está bom e pedir para compartilhar os dados de tráfego — o problema provavelmente está nos anúncios ou na segmentação, não no quiz.\\n- Se NÃO está vendendo ainda: perguntar se rodou tráfego e quanto investiu antes de diagnosticar o quiz como problema.\\n\\n---\\n\\n## Tela de Resultado — verificar\\n\\n- Título nomeia o problema central revelado pelo quiz (sem clichê, sem ponto de exclamação)\\n- Mensagem condicional varia por perfil da P1 (não são variações do mesmo texto)\\n- Parágrafo final abre para a solução sem mencionar o produto diretamente\\n- CTA é uma ação natural, não um grito de venda\\n\\n---\\n\\n## Checklist de Light Copy (aplicar em todo texto do quiz)\\n\\n- Sem ponto de exclamação\\n- Sem \\\"sem X\\\", \\\"não precisa\\\", \\\"mesmo que\\\", \\\"mesmo sem\\\" em nenhuma forma\\n- Sem clichês: \\\"segredo que ninguém te contou\\\", \\\"revolucionário\\\", \\\"milagroso\\\"\\n- Tom conversacional: parece conversa, não venda\\n\\n---\\n\\n## Formato de saída obrigatório\\n\\nPara cada problema encontrado, use este bloco:\\n\\n```\\nELEMENTO: [qual pergunta, seção ou elemento está sendo analisado]\\nPROBLEMA: [o que está errado e qual regra está sendo violada]\\nSUGESTÃO CORRIGIDA: [versão reescrita pronta para usar]\\nPOR QUE MUDAR: [princípio ou argumento que justifica a mudança, em 1-2 linhas]\\n```\\n\\nNo final, liste os 3 ajustes de maior impacto em PRIORIDADE_MÁXIMA.\\n\\nSe houver pontos funcionando, liste em PONTOS_POSITIVOS antes dos problemas.\\n\\n---\\n\\n## Tom do feedback\\n\\n- Direto e específico. Nunca \\\"talvez pudesse melhorar\\\" — sempre \\\"essa pergunta não funciona porque...\\\"\\n- Sempre entregar a versão corrigida, nunca só apontar o erro\\n- O navegador orienta, nunca aprova. Vocabulário: \\\"eu recomendo\\\", \\\"na minha opinião\\\", \\\"esse caminho não é o ideal\\\"\\n\\n---\\n\\n### SKILL: ANÚNCIOS\\n# Skill Feedback de Anúncios — Metodologia VTSD/Light Copy\\n\\nUse este guia para analisar o anúncio do mentorado (copy de texto ou roteiro de vídeo) e estruturar o feedback técnico. Para cada problema encontrado, entregue: o trecho original, o problema, a copy sugerida e o motivo da mudança.\\n\\n---\\n\\n## Estrutura obrigatória de todo anúncio VTSD\\n\\nTodo anúncio tem 3 partes. Verificar se cada uma está presente e funcionando:\\n\\n**GANCHO (primeiros 3 segundos/linhas)**\\n- Premissa não óbvia que para o scroll\\n- Nunca uma pergunta\\n- Nunca algo óbvio para quem já está no nicho\\n- Nunca menciona o produto\\n\\n**DESENVOLVIMENTO (corpo)**\\n- Mínimo 2 parágrafos substanciais\\n- Entrega valor real: a pessoa aprende algo concreto só de ler, mesmo sem clicar\\n- Argumento específico e não óbvio\\n- Produto não aparece aqui (só no CTA ou como consequência natural)\\n\\n**CTA (chamada para ação)**\\n- Convite direto adequado à fase do funil\\n- Sem urgência forçada fora de contexto\\n\\n---\\n\\n## Regra do Gancho — NUNCA pergunta, NUNCA óbvio\\n\\nO gancho deve ser uma afirmação que surpreende quem já está no nicho.\\n\\n**ERRADO:**\\n- \\\"Sabe aquela sensação de travar nos anúncios?\\\" (pergunta)\\n- \\\"Você já se sentiu perdido no tráfego pago?\\\" (pergunta)\\n- \\\"Anunciar no digital é difícil.\\\" (óbvio)\\n- \\\"Você quer aprender a vender mais?\\\" (pergunta + óbvio)\\n\\n**CERTO:**\\n- \\\"O anúncio que mais converte raramente é o mais bonito.\\\" (contra-intuitivo)\\n- \\\"Quem aumentou o investimento sem otimizar a copy está pagando para aprender o erro.\\\" (premissa não óbvia)\\n- \\\"A maioria das campanhas para de escalar não por falta de verba, mas por falta de variação de gancho.\\\" (revelação)\\n\\n---\\n\\n## 7 Leis da Light Copy — verificar se estão presentes\\n\\n1. **Ensinar em vez de prometer.** O anúncio entrega conhecimento real? A curiosidade vem do aprendizado?\\n2. **Nomear cria realidade.** Há nome próprio para o problema ou solução?\\n3. **Produto não aparece no gancho.** Nenhuma menção ao produto, curso ou método nas primeiras linhas?\\n4. **Tom de escritor, não de vendedor.** Mostra em vez de empurrar?\\n5. **Especificidade mata generalização.** Há números, valores, situações reais?\\n6. **Informar, não vender.** O anúncio avisa ou ensina? Nunca vende diretamente?\\n7. **Inimigo concreto.** Há um culpado externo identificado (sistema, método antigo, mito do nicho)?\\n\\n---\\n\\n## Vícios proibidos — verificar em todo o texto\\n\\n| Vício | Como corrigir |\\n|---|---|\\n| Travessão (—) | Substituir por vírgula, ponto, dois pontos ou reformular |\\n| Ponto de exclamação (!) | Substituir por ponto final |\\n| Pergunta no gancho | Transformar em afirmação direta com premissa não óbvia |\\n| \\\"Não é X. É Y.\\\" | Desenvolver o argumento de outra forma, sem negação |\\n| \\\"mesmo que\\\" / \\\"sem precisar\\\" | Substituir por argumento real |\\n| Emojis | Remover |\\n| Produto mencionado no gancho | Remover e reescrever focando na realidade do leitor |\\n| Desenvolvimento raso (1 parágrafo genérico) | Expandir com argumento concreto e valor real entregue |\\n| Frases genéricas: \\\"Transforme sua vida\\\", \\\"Descubra o segredo\\\", \\\"Isso pode mudar tudo\\\" | Substituir por dado ou situação concreta |\\n| Promessa vaga sem dado concreto | Adicionar número, prazo ou situação específica |\\n\\n---\\n\\n## Erros críticos por formato\\n\\n### Anúncio de imagem estática\\n\\n- **Headline da imagem sem clareza:** deve ter 5-7 palavras no máximo, legível, capaz de parar o scroll sozinha\\n- **Legenda (texto principal) sem desenvolvimento:** não pode ser só gancho + CTA. Precisa de argumento concreto no meio\\n- **Produto mencionado no texto principal antes do CTA:** remover\\n\\n### Roteiro de vídeo (~45-60 segundos)\\n\\nEstrutura obrigatória:\\n\\n| Tempo | Parte | O que deve ter |\\n|---|---|---|\\n| 0-3s | GANCHO | Afirmação contra-intuitiva. Texto na tela + fala simultâneos |\\n| 4-15s | TEASE | Expande o gancho, cria tensão, contextualiza o problema |\\n| 16-42s | ENTREGA | Ensina, demonstra ou revela algo real e concreto. Nunca só prometer |\\n| 43-48s | REGANCHO | Texto na tela sintetizando a ideia central (âncora visual para quem assiste sem som) |\\n| 49-55s | CTA | Convite direto adequado à fase. Sem urgência forçada |\\n\\n**Erros críticos em vídeo:**\\n- Vídeo que só promete sem entregar conteúdo real na ENTREGA\\n- Gancho como pergunta (os primeiros 3 segundos determinam se a pessoa continua)\\n- REGANCHO ausente (quem assiste sem som não entende nada)\\n- CTA com urgência forçada fora de contexto (\\\"corre que vai acabar\\\" em fase de descoberta)\\n\\n---\\n\\n## Avaliação de profundidade do DESENVOLVIMENTO\\n\\nO desenvolvimento é a parte mais frequentemente errada. Teste:\\n1. Uma pessoa que lê só o desenvolvimento (sem clicar em nada) aprendeu algo concreto?\\n2. O argumento é específico para o nicho ou poderia ser de qualquer produto?\\n3. Há pelo menos um dado, situação real ou revelação não óbvia?\\n\\nSe qualquer resposta for não: o desenvolvimento precisa ser reescrito.\\n\\n---\\n\\n## Formato de saída obrigatório\\n\\nPara cada problema encontrado, use este bloco:\\n\\n```\\nTRECHO ORIGINAL: [o que o mentorado escreveu]\\nPROBLEMA: [o que está errado e qual regra ou lei está sendo violada]\\nCOPY SUGERIDA: [versão reescrita pronta para usar]\\nPOR QUE MUDAR: [princípio ou argumento que justifica a mudança, em 1-2 linhas]\\n```\\n\\nOrganize o feedback na ordem: Gancho → Desenvolvimento → CTA. No final, liste os 3 ajustes de maior impacto em PRIORIDADE_MÁXIMA.\\n\\nSe houver pontos funcionando, liste em PONTOS_POSITIVOS antes dos problemas.\\n\\n---\\n\\n## Tom do feedback\\n\\n- Direto e específico. Nunca \\\"talvez pudesse melhorar\\\" — sempre \\\"esse gancho não funciona porque...\\\"\\n- Sempre entregar a copy corrigida, nunca só apontar o erro\\n- O navegador orienta, nunca aprova. Vocabulário: \\\"eu recomendo\\\", \\\"na minha opinião\\\", \\\"esse caminho não é o ideal\\\"\"};\n\nconst systemPrompt = specialistPrompts[categoria] || specialistPrompts['SUPORTE'];\n\nconst userPrompt = `Mentorado: ${original.contact_name}\\n\\nMensagens do mentorado (em ordem cronológica):\\n\"\"\"\\n${original.mensagens_concatenadas}\\n\"\"\"`;\n\nreturn {\n  json: {\n    whatsapp_number: original.whatsapp_number,\n    contact_name: original.contact_name,\n    mensagens_concatenadas: original.mensagens_concatenadas,\n    horas_aguardando: original.horas_aguardando,\n    qtd_mensagens: original.qtd_mensagens,\n    categoria,\n    urgencia,\n    confianca,\n    motivo,\n    duvida_resumida: duvidaResumida,\n    anthropic_body: {\n      model: 'claude-sonnet-4-6',\n      max_tokens: 1536,\n      temperature: 0.2,\n      system: [{ type: 'text', text: systemPrompt, cache_control: { type: 'ephemeral' } }],\n      messages: [{ role: 'user', content: userPrompt }]\n    }\n  }\n};"
      },
      "id": "6f5e3607-b587-49b4-9cda-dd974085b75c",
      "name": "Parse Roteador + MR Especialista",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "prompt-caching-2024-07-31"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "937e12f8-35d4-4d60-a076-589c60cf32ee",
      "name": "API: Especialista",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        208
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCwDei6MlUxWtD96",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Guard: verificar se a API retornou erro\nif ($json.error || !$json.content || !Array.isArray($json.content) || $json.content.length === 0) {\n  const orig = $('Parse Roteador + MR Especialista').item?.json || {};\n  return { json: { _api_error: true, error_detail: $json.error || 'resposta vazia', ...orig } };\n}\n\n// Guarda resposta do especialista + monta request para nave-perfil\n\nconst especialistaResp = $json;\nconst original = $('Parse Roteador + MR Especialista').item.json;\n\nconst especialistaTexto = especialistaResp.content?.[0]?.text || '';\n\nconst systemPrompt = `# Agente de Perfil — Mentoria Fluxo\n\nVocê é o analisador de estilo de comunicação do sistema de CS da Mentoria Fluxo. Sua função é ler a mensagem do mentorado e mapear como ele se comunica, para que a resposta seja escrita no mesmo tom e estilo.\n\n## O que analisar\n\n**Tom geral:**\n- Formal (usa \"você\", frases completas, pontuação correta)\n- Informal (gírias, abreviações, \"vc\", \"tô\", \"né\")\n- Muito informal (sem pontuação, tudo minúsculo, fluxo de consciência)\n\n**Energia:**\n- Alta (muita pontuação, entusiasmado, urgente, emojis de fogo)\n- Média (equilibrado, direto ao ponto)\n- Baixa (contido, objetivo, poucas palavras)\n\n**Emojis:**\n- Usa muito (3 ou mais na mensagem)\n- Usa pouco (1 a 2)\n- Não usa\n\n**Tamanho das mensagens:**\n- Curto (1 a 2 linhas)\n- Médio (3 a 5 linhas)\n- Longo (6 linhas ou mais)\n\n**Estilo de escrita:**\n- Direto (vai logo ao ponto)\n- Contextualiza antes (conta o cenário antes de fazer a pergunta)\n- Emocional (compartilha como está se sentindo)\n\n## Regra de espelhamento\n\nA resposta do CS deve SEMPRE espelhar o estilo do mentorado:\n- Se ele usa emojis, a resposta usa emojis\n- Se ele é formal, a resposta é formal\n- Se ele é curto e direto, a resposta é curta e direta\n- Se ele é animado, a resposta tem energia\n- Nunca responder de forma fria para alguém caloroso\n- Nunca responder de forma excessivamente animada para alguém objetivo\n\n## Formato de resposta obrigatório\n\nRetorne SEMPRE neste formato:\n\n'''\nTOM: [formal | informal | muito informal]\nENERGIA: [alta | média | baixa]\nEMOJIS: [usa muito | usa pouco | não usa]\nTAMANHO: [curto | médio | longo]\nESTILO: [direto | contextualiza | emocional]\nINSTRUÇÃO_PARA_REDATOR: [1 a 2 linhas descrevendo como a resposta deve ser escrita para espelhar esse mentorado]\n'''`;\n\nconst userPrompt = `Mensagens do mentorado:\\n\\\"\\\"\\\"\\n${original.mensagens_concatenadas}\\n\\\"\\\"\\\"`;\n\nreturn {\n  json: {\n    ...original,\n    especialista_texto: especialistaTexto,\n    anthropic_body: {\n      model: 'claude-sonnet-4-6',\n      max_tokens: 256,\n      temperature: 0.1,\n      system: [{ type: 'text', text: systemPrompt, cache_control: { type: 'ephemeral' } }],\n      messages: [{ role: 'user', content: userPrompt }]\n    }\n  }\n};"
      },
      "id": "4ca82b04-7ab0-4b56-83a1-c57f7d6b56eb",
      "name": "Parse Especialista + MR Perfil",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "prompt-caching-2024-07-31"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "71989701-369a-44f4-b59d-1a44cdd40678",
      "name": "API: Perfil",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        208
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCwDei6MlUxWtD96",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Guard: verificar se a API retornou erro\nif ($json.error || !$json.content || !Array.isArray($json.content) || $json.content.length === 0) {\n  const orig = $('Parse Especialista + MR Perfil').item?.json || {};\n  return { json: { _api_error: true, error_detail: $json.error || 'resposta vazia', ...orig } };\n}\n\n// Combina especialista + perfil e monta request para nave-redator\n\nconst perfilResp = $json;\nconst original = $('Parse Especialista + MR Perfil').item.json;\n\nconst perfilTexto = perfilResp.content?.[0]?.text || '';\n\nconst systemPrompt = `# Agente Redator — Mentoria Fluxo\n\nVocê é o redator do sistema de CS da Mentoria Fluxo. Você recebe dois inputs e escreve a resposta final que o CS vai enviar ao mentorado:\n\n1. **Conteúdo técnico** — vindo do agente especialista (Tráfego, Copy, Feedback ou Suporte)\n2. **Perfil do mentorado** — vindo do Agente de Perfil (tom, energia, emojis, tamanho, estilo)\n\n## Sua função\n\nTransformar o conteúdo técnico em uma mensagem humana, calorosa e no estilo exato do mentorado.\n\n## Regras de escrita\n\n**Obrigatório:**\n- Escrever no tom, energia e estilo identificado pelo Agente de Perfil\n- Se o mentorado usa emojis, usar emojis na resposta\n- Se o mentorado é formal, manter formalidade\n- Se o mentorado é curto e direto, não enrolar\n- Começar pelo nome do mentorado quando disponível\n- Terminar com uma pergunta ou frase de abertura para continuar o diálogo (exceto se a resposta já encerrar o assunto completamente)\n\n**Proibido:**\n- Travessão (—) em qualquer parte do texto\n- Ponto de exclamação (!)\n- Promessas vagas ou genéricas\n- Linguagem robótica ou de atendimento automático\n- \"Ficamos à disposição\", \"Qualquer dúvida estamos aqui\", \"Atenciosamente\"\n- Responder de forma mais longa do que o mentorado escreve (exceto quando a resposta técnica exige)\n- Qualquer forma de pedido de desculpas: \"desculpa\", \"desculpe\", \"lamento\", \"sinto muito\", \"foi mal\"\n- Frases que impliquem dúvida sobre a qualidade do atendimento ou das entregas: \"quero ter certeza que você foi bem atendido\", \"espero que tenha sido útil\", \"espero ter ajudado\", \"quero garantir que você foi bem assistido\"\n- Frases que sugiram que o Fluxo pode ter falhado: \"se não conseguimos atender suas expectativas\", \"caso algo tenha ficado a desejar\", \"se faltou alguma coisa da nossa parte\"\n- Qualquer linguagem que posicione o Fluxo como réu ou que abra espaço para o mentorado concluir que houve erro da mentoria\n- Frases que validam o argumento do mentorado contra a mentoria: \"faz todo sentido\", \"é completamente legítimo\", \"entendo que você não teve retorno\", \"você tem razão em estar assim\" — validar o sentimento é diferente de validar o argumento. \"Entendo que você está preocupado\" é válido. \"Faz todo sentido estar frustrado porque não teve retorno\" não é, pois confirma que a mentoria falhou.\n\n**Tom da Mentoria Fluxo:**\n- Direto como um mentor, não como um suporte corporativo\n- Humano, próximo, como alguém que está do lado\n- Confiante, sem enrolação\n- Nunca condescendente\n\n\n## Instrução especial para FEEDBACK\n\nQuando o input do especialista vier no formato de análise de material (campos ANÁLISE, TRECHO ORIGINAL, COPY SUGERIDA, POR QUE MUDAR), a resposta final deve incluir:\n\n1. Uma abertura no tom do mentorado (breve, direta)\n2. Os pontos positivos — enaltecer o que está bom de forma específica, não genérica\n3. Para cada problema: o trecho original → a copy sugerida completa e pronta para usar → por que mudar (em linguagem humana, no estilo do mentorado, sem jargão técnico)\n4. Os 3 ajustes prioritários destacados no final\n\n**Regras específicas para FEEDBACK:**\n\n- NUNCA tirar conclusões que o mentorado não disse. Se o mentorado pediu feedback sem mencionar que não está convertendo, NÃO escrever \"isso explica por que você não está convertendo\" ou qualquer variação. Usar sempre: \"sugestões para melhorar o quiz\", \"o que ajustaria para aumentar a conversão\", etc.\n- Se o mentorado disse que não está vendendo ou que tem problema de resultado, aí pode usar essa narrativa.\n- NUNCA perguntar \"quer que eu escreva o texto completo?\" ou qualquer variação. O feedback já deve incluir o texto completo e pronto de cada elemento que precisa ser corrigido. O mentorado não deve precisar pedir para receber a copy corrigida.\n- Para cada elemento com problema: mostrar o que está hoje → mostrar a versão corrigida completa (título, opções, CTA — tudo pronto) → explicar o motivo da mudança.\n\nA mensagem de feedback pode ser mais longa que o padrão, mas ainda deve ser escaneável. Use espaçamento entre os blocos de feedback para facilitar a leitura no WhatsApp.\n\n---\n\n## Formato de resposta obrigatório\n\nRetorne SEMPRE neste formato:\n\n'''\nRESPOSTA_FINAL:\n[A mensagem pronta para o CS copiar e colar no WhatsApp. Sem aspas, sem formatação extra, exatamente como deve ser enviada.]\n\nNOTA_PARA_O_CS:\n[Se houver alguma ação adicional que o CS precisa tomar além de enviar a mensagem (ex: enviar imagem, verificar no sistema, encaminhar para o time de copy), descreva aqui em 1 linha. Se não houver, escreva \"nenhuma\".]\n'''`;\n\nconst userPrompt = `Mentorado: ${original.contact_name}\\n\\nCONTEÚDO DO ESPECIALISTA (${original.categoria}):\\n\\\"\\\"\\\"\\n${original.especialista_texto}\\n\\\"\\\"\\\"\\n\\nPERFIL DO MENTORADO:\\n\\\"\\\"\\\"\\n${perfilTexto}\\n\\\"\\\"\\\"`;\n\nreturn {\n  json: {\n    ...original,\n    perfil_texto: perfilTexto,\n    anthropic_body: {\n      model: 'claude-sonnet-4-6',\n      max_tokens: 1024,\n      temperature: 0.3,\n      system: [{ type: 'text', text: systemPrompt, cache_control: { type: 'ephemeral' } }],\n      messages: [{ role: 'user', content: userPrompt }]\n    }\n  }\n};"
      },
      "id": "e5189846-4d3e-49d6-a79a-245df7b00add",
      "name": "Montar Request: Redator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3456,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "prompt-caching-2024-07-31"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "fb9d596f-eae8-4706-82bb-019a8b96a10a",
      "name": "API: Redator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        208
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCwDei6MlUxWtD96",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CONFIGURAÇÃO DO SUPABASE\n// IMPORTANTE: use a chave SECRETA (service_role / sb_secret_...), NAO a publishable.\n// Ela permite ao n8n salvar as sugestoes mesmo com a trava (RLS) ligada.\n// Pegue em: supabase.com → Settings → API → Secret key\n// Cole sua chave secreta no lugar de COLE_AQUI_SUA_SECRET_KEY abaixo.\n// ============================================================\nreturn [{\n  json: {\n    supabase_url: 'https://lpuhixhuenpwuawqtcmv.supabase.co',\n    supabase_anon_key: 'COLE_AQUI_SUA_SECRET_KEY'\n  }\n}];"
      },
      "id": "c8a04c10-7dd8-4b9f-baf8-30291457a7bc",
      "name": "Configurar Supabase 18h",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Configurar Supabase').item.json.supabase_url }}/rest/v1/sugestoes?status=eq.pendente&select=whatsapp_number",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Configurar Supabase').item.json.supabase_anon_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configurar Supabase').item.json.supabase_anon_key }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "c94cec55-9458-4ebf-87f4-d8d5eab78c67",
      "name": "Buscar Sugestoes Pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        176
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "WzvsFBC0LqoLdf0n",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pula conversas que já têm uma sugestão PENDENTE no painel,\n// pra não reenviar pra IA e economizar API.\nconst conversas = $('Buscar Conversas Nao Lidas').all();\nconst pendentes = $('Buscar Sugestoes Pendentes').all();\n\nconst jaPendentes = new Set();\nfor (const item of pendentes) {\n  const j = item.json;\n  if (Array.isArray(j)) {\n    j.forEach(x => { if (x && x.whatsapp_number) jaPendentes.add(String(x.whatsapp_number)); });\n  } else if (j && j.whatsapp_number) {\n    jaPendentes.add(String(j.whatsapp_number));\n  }\n}\n\n// Mantém só quem ainda NÃO tem sugestão pendente\nconst novas = conversas.filter(c => !jaPendentes.has(String(c.json.whatsapp_number)));\nreturn novas;\n"
      },
      "id": "b9e21d36-56ba-45ac-a379-8dbd7af5f9a4",
      "name": "Filtrar Ja Sugeridas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        176
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "Normalizar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Payload": {
      "main": [
        [
          {
            "node": "Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip?": {
      "main": [
        [
          {
            "node": "Responder Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Incoming ou Outgoing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incoming ou Outgoing?": {
      "main": [
        [
          {
            "node": "Upsert Contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar Conversa como Lida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contato": {
      "main": [
        [
          {
            "node": "Inserir Mensagem Incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Mensagem Incoming": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Conversa como Lida": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendamento (seg-sex 18h BRT)": {
      "main": [
        [
          {
            "node": "Configurar Supabase 18h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Stats do Dia": {
      "main": [
        [
          {
            "node": "Montar Mensagem Diaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem Diaria": {
      "main": [
        [
          {
            "node": "Salvar Relatorio Diario no Painel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendamento (seg-sex 9-17h BRT)": {
      "main": [
        [
          {
            "node": "Configurar Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar Supabase": {
      "main": [
        [
          {
            "node": "Buscar Conversas Nao Lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas Nao Lidas": {
      "main": [
        [
          {
            "node": "Buscar Sugestoes Pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Merge": {
      "main": [
        [
          {
            "node": "Salvar Sugestao no Painel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem conversas?": {
      "main": [
        [
          {
            "node": "Montar Request: Roteador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Request: Roteador": {
      "main": [
        [
          {
            "node": "API: Roteador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Roteador": {
      "main": [
        [
          {
            "node": "Parse Roteador + MR Especialista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Roteador + MR Especialista": {
      "main": [
        [
          {
            "node": "API: Especialista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Especialista": {
      "main": [
        [
          {
            "node": "Parse Especialista + MR Perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Especialista + MR Perfil": {
      "main": [
        [
          {
            "node": "API: Perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Perfil": {
      "main": [
        [
          {
            "node": "Montar Request: Redator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Request: Redator": {
      "main": [
        [
          {
            "node": "API: Redator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Redator": {
      "main": [
        [
          {
            "node": "Parse + Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar Supabase 18h": {
      "main": [
        [
          {
            "node": "Buscar Stats do Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sugestoes Pendentes": {
      "main": [
        [
          {
            "node": "Filtrar Ja Sugeridas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Ja Sugeridas": {
      "main": [
        [
          {
            "node": "Tem conversas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "48db4311-3052-43b4-9741-e622688d4c55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b87a7b22e6f8f8e72b82c32a120e635e1b911cba1a34774e10a9e3be2307bb7"
  },
  "id": "7fHxlT63h0R5tI3a",
  "tags": []
}